@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

ul li::marker {
  content: "";
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.background_cover {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  width: 100%;
  padding-top: 47px;
  background-color: #101010;
  color: #fff;
}
#footer .footer-inner {
  width: 1384px;
  padding: 0px 15px;
  margin: 0 auto;
}
#footer .footer-inner .footer-menus-wrapper {
  position: relative;
}
#footer .footer-inner .footer-menus-wrapper .footer-menus {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}
#footer .footer-inner .footer-menus-wrapper .footer-menus > li {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
#footer .footer-inner .footer-menus-wrapper .footer-menus > li h3 {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}
#footer .footer-inner .footer-menus-wrapper .footer-menus > li ul {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  color: #d4d4d4;
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__app
  > li {
  display: flex;
  gap: 3px;
  align-items: center;
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__app
  i {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__app
  li:nth-child(1)
  > i {
  background-image: url("../../../assets/images/footer/realtime-ico.svg");
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__app
  li:nth-child(2)
  > i {
  background-image: url("../../../assets/images/footer/quan-ico.svg");
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__app
  li:nth-child(3)
  > i {
  background-image: url("../../../assets/images/footer/coupon-ico.svg");
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 137px;
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__contact
  > li {
  display: flex;
  width: 32px;
  height: 32px;
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__contact
  > li
  i {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__contact
  li:nth-child(1)
  > a
  > i {
  background-image: url("../../../assets/images/footer/insta-ico.svg");
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__contact
  li:nth-child(2)
  > a
  > i {
  background-image: url("../../../assets/images/footer/facebook-ico.svg");
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__contact
  li:nth-child(3)
  > a
  > i {
  background-image: url("../../../assets/images/footer/x-ico.svg");
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__contact
  li:nth-child(4)
  > a
  > i {
  background-image: url("../../../assets/images/footer/tiktok-ico.svg");
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__contact
  li:nth-child(5)
  > a
  > i {
  background-image: url("../../../assets/images/footer/youtube-ico.svg");
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-menus
  > li
  .footer-menus__contact
  li:nth-child(6)
  > a
  > i {
  background-image: url("../../../assets/images/footer/pinterest-ico.svg");
}
#footer .footer-inner .footer-menus-wrapper .footer-apps {
  position: absolute;
  top: 150px;
  right: 330px;
}
#footer .footer-inner .footer-menus-wrapper .footer-apps li {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  border: 1px solid #b5b5b5;
  width: 168px;
  height: 52px;
  border-radius: 50px;
}
#footer .footer-inner .footer-menus-wrapper .footer-apps li div {
  width: 99px;
}
#footer .footer-inner .footer-menus-wrapper .footer-apps li div span {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
  color: #d4d4d4;
}
#footer .footer-inner .footer-menus-wrapper .footer-apps li div h4 {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
  line-height: 18px;
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-apps
  .footer-apps__app-store {
  margin-bottom: 10px;
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-apps
  .footer-apps__app-store
  i {
  display: inline-block;
  width: 27px;
  height: 32px;
  background-image: url("../../../assets/images/footer/app-store.svg");
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer
  .footer-inner
  .footer-menus-wrapper
  .footer-apps
  .footer-apps__google-play
  i {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../../../assets/images/footer/google-play.svg");
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer .footer-inner .footer-notice-wrapper {
  margin-bottom: 73px;
}
#footer .footer-inner .footer-notice-wrapper h3 {
  margin-bottom: 10px;
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}
#footer .footer-inner .footer-notice-wrapper .footer-notice__desc {
  display: flex;
  gap: 188px;
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}
#footer
  .footer-inner
  .footer-notice-wrapper
  .footer-notice__desc
  .footer-notice__desc-info {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
#footer
  .footer-inner
  .footer-notice-wrapper
  .footer-notice__desc
  .footer-notice__desc-contents {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
#footer .footer-inner .footer-card-wrapper {
  display: flex;
  gap: 77px;
  margin-bottom: 82px;
}
#footer .footer-inner .footer-card-wrapper .footer-card__security h3 {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
  margin-bottom: 10px;
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__security
  .footer-card__security__menus {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__security
  .footer-card__security__menus
  li
  > i {
  display: inline-block;
  height: 27px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__security
  .footer-card__security__menus
  li
  > i.security__menus__dss-img {
  width: 43px;
  background-image: url("../../../assets/images/footer/DSS.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__security
  .footer-card__security__menus
  li
  > i.security__menus__visa-img {
  width: 31px;
  background-image: url("../../../assets/images/footer/visa.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__security
  .footer-card__security__menus
  li
  > i.security__menus__idcheck-img {
  width: 66px;
  background-image: url("../../../assets/images/footer/id_check.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__security
  .footer-card__security__menus
  li
  > i.security__menus__safekey-img {
  width: 66px;
  background-image: url("../../../assets/images/footer/safekey.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__security
  .footer-card__security__menus
  li
  > i.security__menus__protect-img {
  width: 42px;
  background-image: url("../../../assets/images/footer/protectBuy.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__security
  .footer-card__security__menus
  li
  > i.security__menus__jcb-img {
  width: 42px;
  background-image: url("../../../assets/images/footer/JCB.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__security
  .footer-card__security__menus
  li
  > i.security__menus__trusted-img {
  width: 66px;
  background-image: url("../../../assets/images/footer/Thrusted.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment h3 {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
  margin-bottom: 10px;
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li {
  display: inline-block;
  width: 40px;
  height: 27px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(1) {
  background-image: url("../../../assets/images/footer/pay_01.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(2) {
  background-image: url("../../../assets/images/footer/pay_02.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(3) {
  background-image: url("../../../assets/images/footer/pay_03.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(4) {
  background-image: url("../../../assets/images/footer/pay_04.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(5) {
  background-image: url("../../../assets/images/footer/pay_05.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(6) {
  background-image: url("../../../assets/images/footer/pay_06.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(7) {
  background-image: url("../../../assets/images/footer/pay_07.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(8) {
  background-image: url("../../../assets/images/footer/pay_08.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(9) {
  background-image: url("../../../assets/images/footer/pay_09.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(10) {
  background-image: url("../../../assets/images/footer/pay_10.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(11) {
  background-image: url("../../../assets/images/footer/pay_11.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(12) {
  background-image: url("../../../assets/images/footer/pay_12.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(13) {
  background-image: url("../../../assets/images/footer/pay_13.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(14) {
  background-image: url("../../../assets/images/footer/pay_14.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(15) {
  background-image: url("../../../assets/images/footer/pay_15.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(16) {
  background-image: url("../../../assets/images/footer/pay_16.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(17) {
  background-image: url("../../../assets/images/footer/pay_17.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(18) {
  background-image: url("../../../assets/images/footer/pay_18.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(19) {
  background-image: url("../../../assets/images/footer/pay_19.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(20) {
  background-image: url("../../../assets/images/footer/pay_20.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(21) {
  background-image: url("../../../assets/images/footer/pay_21.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(22) {
  background-image: url("../../../assets/images/footer/pay_22.png");
}
#footer
  .footer-inner
  .footer-card-wrapper
  .footer-card__payment
  .footer-card__payment__menus
  li:nth-child(23) {
  background-image: url("../../../assets/images/footer/pay_23.png");
}
#footer .footer-inner .footer-privacy-wrapper {
  height: 74px;
}
#footer .footer-inner .footer-privacy-wrapper div .footer-privacy__menus {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 550px;
  color: #9a9a9a;
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}
#footer .footer-inner .footer-privacy-wrapper div .footer-privacy__menus li {
  display: flex;
  align-items: center;
}
#footer .footer-inner .footer-privacy-wrapper div .footer-privacy__menus li i {
  display: inline-block;
  margin-left: 4px;
  width: 22px;
  height: 10px;
  background-image: url("../../..//assets/images/footer/check.png");
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer .footer-m-inner {
  display: none;
}

@media (max-width: 1384px) {
  #footer .footer-inner {
    width: 100%;
  }
  #footer .footer-inner .footer-menus-wrapper .footer-menus {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  #footer .footer-inner .footer-menus-wrapper .footer-menus li:last-child {
    margin-bottom: 40px;
  }
  #footer .footer-inner .footer-menus-wrapper .footer-apps {
    margin-bottom: 40px;
    position: relative;
    top: -40px;
    right: 0px;
  }
  #footer .footer-inner .footer-notice-wrapper .footer-notice__desc {
    gap: 20px;
  }
  #footer
    .footer-inner
    .footer-notice-wrapper
    .footer-notice__desc
    .footer-notice__desc-info {
    width: 600px;
  }
  #footer .footer-inner .footer-privacy-wrapper div .footer-privacy__menus {
    flex-wrap: wrap;
    width: 100%;
  }
  #footer .footer-m-inner {
    width: 100%;
    display: none;
  }
}
@media (max-width: 768px) {
  #footer .footer-m-inner {
    display: block;
    padding: 10px 0px 0px 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
  }
  #footer .footer-m-inner ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footer .footer-m-inner ul li {
    font-family: "Pretendard-Regular";
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.48px;
    display: flex;
    gap: 3px;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid #ff6d00;
    width: 24%;
    color: #101010;
    padding-top: 5px;
  }
  #footer .footer-m-inner ul li i {
    display: inline-block;
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: center;
    margin-top: 15px;
  }
  #footer .footer-m-inner ul li.footer-m__menu-home i {
    background-image: url("../../../assets/images/footer/t-menu-home-ico.svg");
  }
  #footer .footer-m-inner ul li.footer-m__menu-category i {
    background-image: url("../../../assets/images/footer/t-menu-category-ico.svg");
  }
  #footer .footer-m-inner ul li.footer-m__menu-my i {
    background-image: url("../../../assets/images/footer/t-menu-my-ico.svg");
  }
  #footer .footer-m-inner ul li.footer-m__menu-cart i {
    background-image: url("../../../assets/images/footer/t-menu-cart-ico.svg");
  }
}
@media (max-width: 390px) {
  #footer .footer-m-inner ul li {
    font-family: "Pretendard-Regular";
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.48px;
    display: flex;
    gap: 7px;
    align-items: center;
    flex-direction: column;
    color: #101010;
  }
  #footer .footer-m-inner ul li i {
    display: inline-block;
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
  }
  #footer .footer-m-inner ul li.footer-m__menu-home i {
    background-image: url("../../../assets/images/footer/m-menu-home-ico.svg");
  }
  #footer .footer-m-inner ul li.footer-m__menu-category i {
    background-image: url("../../../assets/images/footer/m-menu-category-ico.svg");
  }
  #footer .footer-m-inner ul li.footer-m__menu-my i {
    background-image: url("../../../assets/images/footer/m-menu-my-ico.svg");
  }
  #footer .footer-m-inner ul li.footer-m__menu-cart i {
    background-image: url("../../../assets/images/footer/m-menu-cart-ico.svg");
  }
}
