@import "../config/fonts.scss";
@import "../config/reset.scss";
@import "../config/colors.scss";
@import "../layout/layout.scss";
@import "../config/image.scss";

#header {
  position: sticky;
  top: 0;
  z-index: 5;
  @include width_full;
  // border-bottom: 1px solid map-get($color, color-Neutrals-Grey-200);
  // height: 130px;
  // padding: 65px 0px 65px 0px;
  margin-bottom: 30px;
  background-color: map-get($color, color-White);
  background-color: rgba(244, 244, 244, 0.9); /* 투명한 배경 */
  backdrop-filter: blur(5px); /* 블러 효과 */

  // background-color: #f4a64e;
  .header-top-wrapper {
    @include width_full;
    overflow-y: hidden;
    height: 48px;
    position: relative;
    background-color: map-get($color, primary-color);
    // background-color: map-get($color, color-Black);
    color: map-get($color, color-White);
    .header-top {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 20px;
        padding-top: 7px;
        position: relative;
        width: 100%;
        li {
          width: 100%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          gap: 10px;

          span {
            @include text_B_S_14;
          }
          .top__delivery-text {
            color: #adffa2;
          }
          .top__exchange-text {
            color: #fff7a7;
          }
          .top__return-text {
            color: #fff7a7;
          }
          > i {
            width: 34px;
            height: 34px;
            display: inline-block;
            @include object_cover;
          }
        }
        .header-top__prev {
          top: -48px;
          transition: top 0.4s;
        }
        .header-top__current {
          top: 0px;
          transition: top 0.4s;
        }
        .header-top__next {
          top: 48px;
        }
      }
    }
  }

  nav {
    @include width_inner;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 63px;
    -webkit-tap-highlight-color: transparent;
    // top: -280px;
    top: 0px;
    // height: 0px;
    // height: 0px;
    // top: -200px;
    // height: 0px;
    transition: height 0.5s;
    z-index: -1;
    // color: map-get($color, color-White);
    &.active {
      height: 0px;
      top: -170px;
    }
    .nav-left {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      height: 82px;
      align-items: center;
      .nav-left__logo {
        display: inline-block;
        width: 45px;
        height: 45px;
        background: url("../../../assets/images/header/LOGO.svg") center / cover
          no-repeat;
      }
      .nav-left__menus {
        display: flex;
        gap: 20px;
        align-items: center;
        width: 400px;

        @include text_S_14;
        > li {
          .nav-left__link-ico {
            display: flex;
            gap: 2px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 84px;
            position: relative;
            transition: all 0.5s;
            i {
              display: flex;
              align-items: center;
              width: 24px;
              height: 24px;
              line-height: 18px;
              text-align: center;
              @include background_cover;
              z-index: 2;
            }
            a {
              z-index: 2;
            }
            .menu__bestseller-ico {
              background-image: url("../../../assets/images/header/menu_bestseller.svg");
            }
            .menu__star-ico {
              background-image: url("../../../assets/images/header/menu_star.svg");
            }
            .menu__shop-ico {
              background-image: url("../../../assets/images/header/menu_shop.svg");
            }
            .fa-chevron-down {
              width: 18px;
              height: 18px;
              font-size: 9px;
              color: map-get($color, color-Black);
            }
            &li:last-child {
              display: flex;
              justify-content: space-between;
              width: 67px;
            }
            &::before {
              content: "";
              width: 130%;
              height: 53%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: map-get($color, color-Neutrals-Grey-100);
              border-radius: 50px;
              opacity: 0;
              transition: 0.5s;
            }
            &:hover::before {
              opacity: 0.2;
              background-color: #ffaf71;
            }
          }
        }
        .nav-menu__category {
          transition: all 0.5s;
          .category-overlay {
            display: none;
            position: fixed;
            left: 0px;
            top: 110px;
            content: "";

            width: 100vw;
            height: 100vh;
            background-color: map-get($color, color-Black);
            opacity: 0.5;
          }

          &.active .category-overlay {
            display: block;
          }

          &:hover .submenu-wrapper {
            .submenu {
              display: flex;
            }
          }

          .submenu-wrapper {
            position: relative;
            .submenu {
              width: 817px;
              border-radius: 0px 0px 8px 8px;
              position: absolute;
              padding-top: 15px;
              top: -12px;
              left: 50%;

              // border-top: 1px solid map-get($color, primary-color);
              transform: translateX(-50%);
              z-index: 3;
              background-color: map-get($color, color-White);
              // background: map-get($color, color-Neutrals-Grey-100);
              display: none;
              color: map-get($color, color-Black);
              height: 100vh;
              .submenu-tabs {
                text-align: center;
                ul {
                  height: 100vh; /* 화면 전체 높이 */
                  overflow-y: scroll; /* Y축 스크롤 */
                  > li {
                    width: 200px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: all 0.5s;
                    padding: 0px 15px 0px 15px;
                    cursor: pointer;
                    // span {
                    // }
                    i {
                      font-size: 7px;
                      line-height: 22px;
                    }
                    &:hover {
                      background-color: map-get(
                        $color,
                        color-Neutrals-Grey-100
                      );
                    }
                  }
                }
              }
              .submenu-content {
                max-height: 800px; /* 서브 메뉴 높이 */
                overflow-x: auto; /* 서브 메뉴 스크롤 */

                .content {
                  display: none;
                  width: 600px;
                  flex-wrap: wrap;
                  gap: 30px;

                  padding: 0px 15px 15px 15px;
                  > .sub-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    p {
                      display: inline-block;
                      width: 30px;
                      height: 30px;
                      color: black;
                      width: auto;
                      max-width: 70px;
                      text-align: center;
                    }
                    > div {
                      width: 70px;
                      height: 70px;
                      overflow: hidden;
                      border-radius: 50%;
                      cursor: pointer;
                      border: 1px solid #f0f0f0;
                      color: map-get($color, color-Neutrals-Grey-700);
                      > img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        transition: 0.3s;
                        @include object_cover;
                        &:hover {
                          transform: scale(1.2);
                        }
                      }
                    }
                  }

                  // ul {
                  //   display: flex;
                  //   width: 600px;
                  //   flex-wrap: wrap;
                  //   gap: 30px;
                  //   padding: 0px 15px 0px 15px;
                  //   li {
                  //     a {
                  //       display: flex;
                  //       flex-direction: column;
                  //       align-items: center;
                  //       gap: 5px;
                  //       div {
                  //         width: 70px;
                  //         height: 70px;
                  //         overflow: hidden;
                  //         border-radius: 50%;
                  //         img {
                  //           width: 70px;
                  //           height: 70px;
                  //           border-radius: 50%;
                  //           transition: 0.3s;

                  //           @include object_cover;
                  //           // &:hover {
                  //           // }
                  //         }
                  //       }
                  //     }
                  //     &:hover {
                  //       a {
                  //         img {
                  //           transform: scale(1.2);
                  //         }
                  //       }
                  //     }
                  //   }
                  // }
                  &.active {
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }
      .nav__input-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        input {
          padding-left: 15px;
          border: 2px solid map-get($color, primary-color);
          outline: none;
          width: 514px;
          height: 39px;
          transition: all 0.5s;
          border-radius: 50px;
          &::placeholder {
            color: #ccc; /* 기본 placeholder 색상 */
            transition: color 0.5s; /* placeholder 색상 전환에 대한 트랜지션 */
          }

          &:focus::placeholder {
            color: transparent; /* 포커스 시 placeholder 색상 투명화 */
          }
        }
        i {
          display: inline-block;
          position: absolute;
          right: 5px;
          width: 31px;
          height: 31px;
          background: url("../../../assets/images/header/menu_search-ico.svg");
          @include background_cover;
        }
      }
    }
    .nav-right {
      .nav-right__menus {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        @include text_S_14;
        li {
          display: flex;
          gap: 2px;
          align-items: center;
          cursor: pointer;
          position: relative;

          &::before {
            content: "";
            width: 130%;
            height: 130%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: map-get($color, color-Neutrals-Grey-100);
            border-radius: 50px;
            opacity: 0;
            transition: 0.5s;
          }
          &:hover::before {
            opacity: 0.2;
            background-color: #ffaf71;
          }
          a {
            z-index: 2;
          }
          i {
            display: flex;
            align-items: center;
            width: 24px;
            height: 24px;
            @include background_cover;
            z-index: 2;
          }
          .menu__login-ico {
            background-image: url("../../../assets/images/header/menu_user.svg");
          }
          .menu__service-ico {
            background-image: url("../../../assets/images/header/menu_service.svg");
          }
          .menu__language-ico {
            background-image: url("../../../assets/images/header/menu_language.svg");
          }
          .menu__cart-ico {
            background-image: url("../../../assets/images/header/menu_cart.svg");
          }
          .menu__language-text {
            @include text_B_S_14;
          }
        }
      }
    }
  }
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 1384px) {
  #header {
    nav {
      @include width_full;
      .nav-left {
        width: 100%;
        .nav-left__logo {
          width: 45px;
          height: 45px;
        }
        .nav__input-wrapper {
          flex-grow: 1;
          input {
            width: 100%;
          }
        }
      }

      .nav-right {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    overflow: hidden;
    margin-bottom: 0px;
    nav {
      .nav-left {
        .nav-left__logo {
          background: url("../../../assets/images/header/LOGO_M.svg");
          width: 56px;
          height: 14px;
          background-repeat: no-repeat;
        }
        .nav-left__menus {
          display: none;
        }
        .nav__input-wrapper {
          input {
            padding-left: 30px;
          }
          i {
            left: 10px;
            background-image: url("../../../assets/images/header/menu_search-ico_M.svg");
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    .mobile-menu {
      display: block;
      @include text_M_16;
      padding: 0px 15px 0px 15px;
      width: 768px;
      overflow: hidden;
      position: relative;
      // ::before {
      //   position: absolute;
      //   top: 0px;
      //   left: 0px;
      //   content: "";
      //   width: 100%;
      //   height: 100%;
      //   background: linear-gradient(
      //     to right,
      //     rgba(255, 255, 255, 0),
      //     // 왼쪽은 투명
      //     rgba(255, 255, 255, 0.2) // 오른쪽은 검은색 70% 투명도
      //   );
      //   pointer-events: none; // ::before 요소가 클릭 등의 이벤트에 영향을 주지 않도록 설정
      // }
      .mobile-menus {
        display: flex;
        gap: 20px;
        width: 1700px;
        align-items: center;
        transform: translate(0, 0);
        li {
          padding-top: 5px;
          a {
            display: inline-block;
            width: auto;
            padding: 6px 0px;
            overflow: hidden;
          }
        }
      }
    }
  }
}
