@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.background_cover {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  height: 130px;
  margin-bottom: 30px;
}
#header .header-top-wrapper {
  width: 100%;
  height: 48px;
  background-color: #ff6d00;
  color: #fff;
}
#header .header-top-wrapper .header-top {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}
#header nav {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
}
#header nav .nav-left {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  height: 82px;
  align-items: center;
}
#header nav .nav-left .nav-left__logo {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url("../../../assets/images/header/LOGO.svg") center/cover no-repeat;
}
#header nav .nav-left .nav-left__menus {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 400px;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
#header nav .nav-left .nav-left__menus > li .nav-left__link-ico {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 82px;
  position: relative;
  transition: all 0.5s;
}
#header nav .nav-left .nav-left__menus > li .nav-left__link-ico i {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
#header nav .nav-left .nav-left__menus > li .nav-left__link-ico a {
  z-index: 2;
}
#header nav .nav-left .nav-left__menus > li .nav-left__link-ico .menu__bestseller-ico {
  background-image: url("../../../assets/images/header/menu_bestseller.svg");
}
#header nav .nav-left .nav-left__menus > li .nav-left__link-ico .menu__star-ico {
  background-image: url("../../../assets/images/header/menu_star.svg");
}
#header nav .nav-left .nav-left__menus > li .nav-left__link-ico .menu__shop-ico {
  background-image: url("../../../assets/images/header/menu_shop.svg");
}
#header nav .nav-left .nav-left__menus > li .nav-left__link-ico .fa-chevron-down {
  width: 18px;
  height: 18px;
  font-size: 9px;
  color: #101010;
}
#header nav .nav-left .nav-left__menus > li .nav-left__link-icoli:last-child {
  display: flex;
  justify-content: space-between;
  width: 67px;
}
#header nav .nav-left .nav-left__menus > li .nav-left__link-ico::before {
  content: "";
  width: 130%;
  height: 53%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f6f6;
  border-radius: 50px;
  opacity: 0;
  transition: 0.5s;
}
#header nav .nav-left .nav-left__menus > li .nav-left__link-ico:hover::before {
  opacity: 1;
}
#header nav .nav-left .nav-left__menus .nav-menu__category {
  transition: all 0.5s;
}
#header nav .nav-left .nav-left__menus .nav-menu__category::before {
  display: none;
  position: absolute;
  left: 0px;
  top: 130px;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #101010;
  opacity: 0.5;
}
#header nav .nav-left .nav-left__menus .nav-menu__category:hover::before {
  display: block;
}
#header nav .nav-left .nav-left__menus .nav-menu__category:hover .submenu-wrapper .submenu {
  display: flex;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper {
  position: relative;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu {
  width: 800px;
  position: absolute;
  padding-top: 15px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  background-color: #fff;
  display: none;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-tabs {
  text-align: center;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-tabs ul > li {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
  padding: 0px 15px 0px 15px;
  cursor: pointer;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-tabs ul > li i {
  font-size: 7px;
  line-height: 22px;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-tabs ul > li:hover {
  background-color: #f6f6f6;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-content {
  max-height: 800px; /* 서브 메뉴 높이 */
  overflow-x: auto; /* 서브 메뉴 스크롤 */
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-content .content {
  display: none;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-content .content ul {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px 15px 0px 15px;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-content .content ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-content .content ul li a div {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-content .content ul li a div img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 0.3s;
  object-fit: cover;
  object-position: center;
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-content .content ul li:hover a img {
  transform: scale(1.2);
}
#header nav .nav-left .nav-left__menus .nav-menu__category .submenu-wrapper .submenu .submenu-content .content.active {
  display: block;
}
#header nav .nav-left .nav__input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
#header nav .nav-left .nav__input-wrapper input {
  padding-left: 15px;
  border: 2px solid #ff6d00;
  outline: none;
  width: 514px;
  height: 39px;
  transition: all 0.5s;
  border-radius: 50px;
}
#header nav .nav-left .nav__input-wrapper input::placeholder {
  color: #ccc; /* 기본 placeholder 색상 */
  transition: color 0.5s; /* placeholder 색상 전환에 대한 트랜지션 */
}
#header nav .nav-left .nav__input-wrapper input:focus::placeholder {
  color: transparent; /* 포커스 시 placeholder 색상 투명화 */
}
#header nav .nav-left .nav__input-wrapper i {
  display: inline-block;
  position: absolute;
  right: 5px;
  width: 41px;
  height: 31px;
  background: url("../../../assets/images/header/menu_search-ico.svg");
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header nav .nav-right .nav-right__menus {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
#header nav .nav-right .nav-right__menus li {
  display: flex;
  gap: 2px;
  align-items: center;
  cursor: pointer;
  position: relative;
}
#header nav .nav-right .nav-right__menus li::before {
  content: "";
  width: 130%;
  height: 130%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f6f6;
  border-radius: 50px;
  opacity: 0;
  transition: 0.5s;
}
#header nav .nav-right .nav-right__menus li:hover::before {
  opacity: 1;
}
#header nav .nav-right .nav-right__menus li a {
  z-index: 2;
}
#header nav .nav-right .nav-right__menus li i {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
#header nav .nav-right .nav-right__menus li .menu__login-ico {
  background-image: url("../../../assets/images/header/menu_user.svg");
}
#header nav .nav-right .nav-right__menus li .menu__service-ico {
  background-image: url("../../../assets/images/header/menu_service.svg");
}
#header nav .nav-right .nav-right__menus li .menu__language-ico {
  background-image: url("../../../assets/images/header/menu_language.svg");
}
#header nav .nav-right .nav-right__menus li .menu__cart-ico {
  background-image: url("../../../assets/images/header/menu_cart.svg");
}
#header nav .nav-right .nav-right__menus li .menu__language-text {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}
#header .mobile-menu {
  display: none;
}

@media (max-width: 1384px) {
  #header nav {
    width: 100%;
  }
  #header nav .nav-left {
    width: 100%;
  }
  #header nav .nav-left .nav-left__logo {
    width: 45px;
    height: 45px;
  }
  #header nav .nav-left .nav__input-wrapper {
    flex-grow: 1;
  }
  #header nav .nav-left .nav__input-wrapper input {
    width: 100%;
  }
  #header nav .nav-right {
    display: none;
  }
}
@media (max-width: 768px) {
  #header {
    margin-bottom: 80px;
  }
  #header nav .nav-left .nav-left__logo {
    background: url("../../../assets/images/header/LOGO_M.svg");
    width: 56px;
    height: 14px;
    background-repeat: no-repeat;
  }
  #header nav .nav-left .nav-left__menus {
    display: none;
  }
  #header nav .nav-left .nav__input-wrapper input {
    padding-left: 30px;
  }
  #header nav .nav-left .nav__input-wrapper i {
    left: 10px;
    background-image: url("../../../assets/images/header/menu_search-ico_M.svg");
    width: 16px;
    height: 16px;
  }
  #header .mobile-menu {
    display: block;
    padding: 0px 15px 0px 15px;
    font-family: "Pretendard-Regular";
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.48px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  #header .mobile-menu ::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
    pointer-events: none;
  }
  #header .mobile-menu .mobile-menus {
    display: flex;
    gap: 20px;
    width: 1700px;
    align-items: center;
    transform: translate(0, 0);
  }
  #header .mobile-menu .mobile-menus li {
    padding-top: 5px;
  }
  #header .mobile-menu .mobile-menus li a {
    display: inline-block;
    width: auto;
    padding: 6px 0px;
    overflow: hidden;
  }
}