@import "../config/fonts.scss";
@import "../config/reset.scss";
@import "../config/colors.scss";
@import "../layout/layout.scss";
@import "../config/image.scss";

.product-lists {
  // border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include width_full;
  .product-list {
    margin-bottom: 60px;
    width: 227px;
    cursor: pointer;

    &:hover {
      .product-list__thumb-box {
        .product-list__thumb {
          transform: scale(1.1);
          z-index: -10;
          position: relative;
        }
      }
    }
    .product-list__thumb-box {
      margin-bottom: 10px;
      overflow: hidden;
      width: 227px;
      height: 227px;
      border-radius: 8px;
      .product-list__thumb {
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        border-radius: 8px;
        @include object_cover;
      }
    }
    .product-list__title {
      display: -webkit-box;
      margin-bottom: 10px;
      overflow: hidden;
      width: 227px;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include text_S_14;
    }
    .product-list__counters {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > div {
        display: flex;
        gap: 5px;
        align-items: center;
        .product-list__discount {
          @include text_B_XL_22;
          display: flex;
          color: map-get($color, primary-color);
        }
        .product-list__price {
          @include text_B_XL_22;
          color: map-get($color, color-Neutrals-Grey-800);
        }
      }
      .product-list__cart-ico {
        width: 45px;
        height: 35px;
        background-image: url("../../../assets/images/products/cart-ico.svg");
        transition: all 0.3s;
        @include background_cover;
        // &:hover {
        //   background-image: url("../../../assets/images/products/cart-fill-ico.svg");
        // }
        &.active {
          background-image: url("../../../assets/images/products/cart-fill-ico.svg");
        }
      }
    }
    .product-list__reviews {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      @include text_S_14;
      .product-list__star {
        width: 20px;
        height: 20px;
        background-image: url("../../../assets/images/products/product-list__star.svg");
        @include background_cover;
      }
      .product-list__rating {
        margin-right: 5px;
        color: map-get($color, secondary-color);
      }
      .product-list__review-text {
        margin-right: 5px;
        color: map-get($color, color-Neutrals-Grey-600);
      }
      .product-list__review-count {
        color: map-get($color, color-Neutrals-Grey-600);
      }
    }
    .product-list__solds {
      @include text_XS_12;
      display: flex;
      align-items: center;
      .product-list__solds-out {
        margin-right: 5px;
        padding: 2px 6px 0px 6px;
        background-color: map-get($color, primary-color);
        color: map-get($color, color-White);
        border-radius: 8px;
        width: 60px;
        text-align: center;
      }
      .product-list__quantity {
        color: map-get($color, primary-color);
      }
    }
  }
}
@media (max-width: 1384px) {
  .product-lists {
    @include width_full;
    .product-list {
      margin-bottom: 20px;
      overflow: hidden;
      .product-list__thumb-box {
        width: 100%;
      }
      .product-list__title {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .product-lists {
    @include width_full;
    .product-list {
      margin-bottom: 0px;
      width: 49%;
      height: 50vw;
      overflow: hidden;
      .product-list__thumb-box {
        width: 100%;
        height: 50%;
      }
      .product-list__title {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .product-lists {
    @include width_full;
    .product-list {
      margin-bottom: 0px;
      overflow: hidden;
      width: 48%;
      height: 80vw;
      .product-list__thumb-box {
        width: 100%;
        height: 60%;
      }
      .product-list__title {
        width: 100%;
      }
    }
  }
}
@media (max-width: 390px) {
  .product-lists {
    @include width_full;
    .product-list {
      margin-bottom: 40px;
      overflow: hidden;
      width: 45%;
      height: 100%;
      .product-list__thumb-box {
        width: 100%;
        height: 40%;
        .product-list__thumb {
          height: 160px;
        }
      }
      .product-list__title {
        width: 100%;
      }
    }
  }
}
