<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f3ede209f8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../src/scss/completion.css" />
    <script defer src="../../src/js/mypage.js"></script>
    <title>Document</title>
  </head>
  <body>
    <!-- WRAPPER START -->
    <div class="wrapper">
      <!-- MARK__INNER START -->
      <div class="mark__inner">
        <!-- LEFTMENU START -->
        <div class="leftmenu">
          <ul>
            <li class="home">
              홈 <i class="fa-solid fa-chevron-right"></i> 내 리뷰
            </li>
            <li class="my-order">
              <div>
                <i class="document"></i>
                <span>내 주문</span>
              </div>
              <i class="fa-solid fa-chevron-down"></i>
            </li>
            <div class="accordion">
              <li class="inner">
                <ul>
                  <li class="title"><a href="#">내 주문</a></li>
                  <li class="title"><a href="#">처리 중</a></li>
                  <li class="title"><a href="#">발송됨</a></li>
                  <li class="title"><a href="#">배송됨</a></li>
                  <li class="title"><a href="#">반품</a></li>
                </ul>
              </li>
            </div>
            <li>
              <i class="review"></i>
              <span>내 리뷰</span>
            </li>
            <li>
              <i class="delivery"></i>
              <span>주문/배송</span>
            </li>
            <li>
              <i class="star"></i>
              <span>즐겨찾기</span>
            </li>
            <li>
              <i class="event"></i>
              <span>쿠폰/이벤트</span>
            </li>
          </ul>
        </div>
        <!-- LEFTMENU END -->
        <!-- CONTAINER START -->
        <div class="container">
          <!-- CONTENTS START -->
          <div class="contents">
            <div class="text">
              <span>리뷰하기(1)</span>
              <span>리뷰완료(1)</span>
            </div>
          </div>
          <!-- CONTENTS END -->
          <!-- BOX START -->
          <div class="box">
            <div class="item">
              <div class="productImg"></div>
              <div class="text__box">
                <p>
                  1Pcs 전문 팬 메이크업 브러쉬 블렌딩 형관펜 컨투어 페이스 루스
                  파우더 브러쉬 화장품 뷰티 도구
                </p>
                <span>검은 손잡이 은관 흰머리 작은 부채 모양</span>
              </div>
            </div>
            <div class="reveiw">
              <div class="starBox">
                <div class="starImg">
                  <div class="img"></div>
                  <div class="img"></div>
                  <div class="img"></div>
                  <div class="img"></div>
                  <div class="img"></div>
                  <span>매우 만족</span>
                </div>
                <div class="date">
                  <span>홍길* 2024년 00월 00일</span>
                </div>
              </div>
              <div class="text">
                <span>예뻐요~^^</span>
              </div>
              <div class="end__box">
                <div class="other">
                  <span></span>
                  <span>유용한</span>
                  <span>편집</span>
                  <span>삭제</span>
                </div>
                <div class="share">
                  <i class="fa-solid fa-arrow-up-from-bracket"></i>공유하기
                </div>
              </div>
            </div>
          </div>
          <!-- BOX END -->
        </div>
        <!-- CONTAINER END -->
      </div>
      <!-- MARK__INNER END -->
    </div>
    <!-- WRAPPER END -->
  </body>
</html>
