<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CUSTOM JS-->
    <script defer src="../../src/js/header.js"></script>
    <!-- <script defer src="./src/js/index.js"></script> -->
    <script defer src="../../src/js/footer.js"></script>
    <script defer src="../../src/json/category-list.js"></script>

    <!-- CUSTOM CSS-->
    <link rel="stylesheet" href="../../src/scss/components/footer.css" />
    <link rel="stylesheet" href="../../src/scss/components/header.css" />

    <script
      src="https://kit.fontawesome.com/f3ede209f8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../src/scss/login/completion.css" />
    <script defer src="../../src/js/mypage.js"></script>
    <title>Document</title>
  </head>
  <body>
    <!-- HEADER START -->
    <header id="header"></header>
    <!-- HEADER END -->
    <!-- WRAPPER START -->
    <div class="wrapper">
      <!-- MARK__INNER START -->
      <div class="mark__inner">
        <!-- LEFTMENU START -->
        <div class="leftmenu">
          <!-- UL START -->
          <ul>
            <!-- HOME START -->
            <li class="home">
              홈 <i class="fa-solid fa-chevron-right"></i> 내 리뷰
            </li>
            <!-- HOME END -->
            <!-- MY-ORDER START -->
            <li class="my-order">
              <!-- DIV START -->
              <div>
                <a href="http://127.0.0.1:5502/html/components/order.html">
                  <i class="document"></i>
                  <span>내 주문</span>
                </a>
              </div>
              <!-- DIV END -->
              <i class="fa-solid fa-chevron-down"></i>
            </li>
            <!-- MY-ORDER END -->
            <!-- ACCORDION START -->
            <div class="accordion">
              <!-- INNER START -->
              <li class="inner">
                <ul>
                  <li class="title"><a href="#">내 주문</a></li>
                  <li class="title"><a href="#">처리 중</a></li>
                  <li class="title"><a href="#">발송됨</a></li>
                  <li class="title"><a href="#">배송됨</a></li>
                  <li class="title"><a href="#">반품</a></li>
                </ul>
              </li>
              <!-- INNER END -->
            </div>
            <!-- ACCORDION END -->
            <!-- LI START -->
            <li>
              <a href="http://127.0.0.1:5502/html/components/review.html">
                <i class="review"></i>
                <span>내 리뷰</span>
              </a>
            </li>
            <li>
              <a href="http://127.0.0.1:5502/html/components/mark.html">
                <i class="star"></i>
                <span>즐겨찾기</span>
              </a>
            </li>
            <li>
              <a href="http://127.0.0.1:5502/html/components/disuse.html">
                <i class="event"></i>
                <span>쿠폰/이벤트</span>
              </a>
            </li>
            <!-- LI END -->
          </ul>
          <!-- UL END -->
        </div>
        <!-- LEFTMENU END -->
        <!-- CONTAINER START -->
        <div class="container">
          <!-- CONTENTS START -->
          <div class="contents">
            <!-- TEXT START -->
            <div class="text">
              <a href="http://127.0.0.1:5502/html/components/review.html">
                <span>리뷰하기(1)</span>
              </a>
              <a href="http://127.0.0.1:5502/html/components/completion.html">
                <span>리뷰완료(1)</span>
              </a>
            </div>
            <!-- TEXT END -->
          </div>
          <!-- CONTENTS END -->
          <!-- BOX START -->
          <div class="box">
            <!-- ITEM START -->
            <div class="item">
              <!-- PRODUCTIMG START -->
              <div class="productImg"></div>
              <!-- PRODUCTIMG END -->
              <!-- TEXT__BOX START -->
              <div class="text__box">
                <p>
                  1Pcs 전문 팬 메이크업 브러쉬 블렌딩 형관펜 컨투어 페이스 루스
                  파우더 브러쉬 화장품 뷰티 도구
                </p>
                <span>검은 손잡이 은관 흰머리 작은 부채 모양</span>
              </div>
              <!-- TEXT__BOX END -->
            </div>
            <!-- ITEM END -->
            <!-- REVEIW START -->
            <div class="reveiw">
              <!-- STARBOX START -->
              <div class="starBox">
                <!-- STARIMG START -->
                <div class="starImg">
                  <div class="img"></div>
                  <div class="img"></div>
                  <div class="img"></div>
                  <div class="img"></div>
                  <div class="img"></div>
                  <span>매우 만족</span>
                </div>
                <!-- STARIMG END -->
                <!-- DATE START -->
                <div class="date">
                  <span>홍길* 2024년 00월 00일</span>
                </div>
                <!-- DATE END -->
              </div>
              <!-- STARBOX END -->
              <!-- TEXT START -->
              <div class="text">
                <span>예뻐요~^^</span>
              </div>
              <!-- TEXT END -->
              <!-- END__BOX START -->
              <div class="end__box">
                <!-- OTHER START -->
                <div class="other">
                  <!-- ITEM__BOX -->
                  <div class="item__box">
                    <span></span>
                    <span>유용한</span>
                  </div>
                  <!-- ITEM BOX -->
                  <span>편집</span>
                  <span>삭제</span>
                </div>
                <!-- OTHER END -->
                <!-- SHARE START -->
                <div class="share">
                  <i class="fa-solid fa-arrow-up-from-bracket"></i>공유하기
                </div>
                <!-- SHARE END -->
              </div>
              <!-- END__BOX END -->
            </div>
            <!-- REVEIW END -->
          </div>
          <!-- BOX END -->
        </div>
        <!-- CONTAINER END -->
      </div>
      <!-- MARK__INNER END -->
    </div>
    <!-- WRAPPER END -->
    <!-- FOOTER START -->
    <footer id="footer"></footer>
    <!-- FOOTER END -->
  </body>
</html>
