<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f3ede209f8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../src/scss/disuse.css" />
    <script defer src="../../src/js/mypage.js"></script>
    <title>Document</title>
  </head>
  <body>
    <!-- WRAPPER START -->
    <div class="wrapper">
      <!-- MARK__INNER START -->
      <div class="mark__inner">
        <!-- LEFTMENU START -->
        <div class="leftmenu">
          <!-- UL START -->
          <ul>
            <!-- HOME START -->
            <li class="home">
              홈 <i class="fa-solid fa-chevron-right"></i> 내 리뷰
            </li>
            <!-- HOME END -->
            <!-- MY-ORDER START -->
            <li class="my-order">
              <div>
                <i class="document"></i>
                <span>내 주문</span>
              </div>
              <i class="fa-solid fa-chevron-down"></i>
            </li>
            <!-- MY-ORDER END -->
            <!-- ACCORDION START -->
            <div class="accordion">
              <!-- INNER START -->
              <li class="inner">
                <ul>
                  <li class="title"><a href="#">내 주문</a></li>
                  <li class="title"><a href="#">처리 중</a></li>
                  <li class="title"><a href="#">발송됨</a></li>
                  <li class="title"><a href="#">배송됨</a></li>
                  <li class="title"><a href="#">반품</a></li>
                </ul>
              </li>
              <!-- INNER END -->
            </div>
            <!-- ACCORDION END -->
            <!-- LI START -->
            <li>
              <i class="review"></i>
              <span>내 리뷰</span>
            </li>
            <li>
              <i class="delivery"></i>
              <span>주문/배송</span>
            </li>
            <li>
              <i class="star"></i>
              <span>즐겨찾기</span>
            </li>
            <li>
              <i class="event"></i>
              <span>쿠폰/이벤트</span>
            </li>
            <!-- LI END -->
          </ul>
          <!-- UL END -->
        </div>
        <!-- LEFTMENU END -->
        <!-- CONTENTS START -->
        <div class="contents">
          <!-- TEXT START -->
          <div class="text">
            <span>사용되지 않음</span>
            <span>사용됨</span>
            <span>만료됨</span>
          </div>
          <!-- TEXT END -->
          <!-- COUPON__CODE START -->
          <div class="coupon__code">
            <input type="text" class="code" placeholder="쿠폰 코드 입력" />
            <button>적용</button>
          </div>
          <!-- COUPON__CODE END -->
        </div>
        <!-- CONTENTS END -->
        <!-- BOX START -->
        <div class="box">
          <div class="icon">
            <i class="coupon__icon"></i>
            <span>사용 가능한 쿠폰이나 혜택이 없습니다</span>
          </div>
        </div>
        <!-- BOX END -->
      </div>
      <!-- MARK__INNER END -->
    </div>
    <!-- WRAPPER END -->
  </body>
</html>
