<head>
  <script
    src="https://kit.fontawesome.com/ccc6dd49b3.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="../../src/scss/components/header.css" />
</head>
<header id="header">
  <div class="header-top-wrapper">
    <div class="header-top"></div>
  </div>
  <nav>
    <div class="nav-left">
      <a href="#" class="nav-left__logo"></a>
      <ul class="nav-left__menus">
        <li>
          <i class="menu__bestseller-ico"></i>
          <a href="#">베스트셀러</a>
        </li>
        <li>
          <i class="menu__star-ico"></i>
          <a href="#">별점 5점</a>
        </li>
        <li>
          <i class="menu__shop-ico"></i>
          <a href="#">일주년</a>
        </li>
        <li>
          <a href="#">신상품</a>
        </li>
        <li>
          <a href="#">카테고리</a>
          <i class="fa-solid fa-chevron-down"></i>
        </li>
      </ul>
      <div class="nav__input-wrapper">
        <input type="text" placeholder="노트북 스탠드" />
        <i></i>
      </div>
    </div>
    <div class="nav-right">
      <ul class="nav-right__menus">
        <li>
          <i class="menu__login-ico"></i>
          <a href="#">로그인/회원가입 <br />주문&계정</a>
        </li>
        <li>
          <i class="menu__service-ico"></i>
          <a href="#">지원 센터</a>
        </li>
        <li>
          <i class="menu__language-ico"></i>
          <a class="menu__language-text" href="#">KO</a>
        </li>
        <li>
          <i class="menu__cart-ico"></i>
        </li>
      </ul>
    </div>
  </nav>
</header>
