<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f3ede209f8.js"
      crossorigin="anonymous"
    ></script>
    <!-- custom css -->
    <link rel="stylesheet" href="../../src/scss/login.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- WRAPPER START -->
    <div class="wrapper">
      <!-- CONTAINER START -->
      <div class="container">
        <div class="inner">
          <span><i class="fa-solid fa-chevron-left"></i>뒤로</span>
          <span><i class="fa-solid fa-xmark"></i></span>
        </div>
        <div class="login">
          <span>로그인/회원가입</span>
        </div>
        <div class="data">
          <span
            ><i class="fa-solid fa-lock"></i>모든 데이터는 암호화 됩니다</span
          >
        </div>
        <link rel="manifest" href="manifest.json" />
      </div>
      <!-- CONTAINER END -->
      <!-- EMAIL START -->
      <div class="email">
        <div class="text">
          <span>이메일 또는 전화번호</span>
        </div>
        <div class="email__box">
          <input
            type="text"
            name="email"
            id="email"
            placeholder="이메일 또는 전화번호"
          />
        </div>
        <button id="open">계속</button>
        <div class="text__box">
          <span>로그인하는데 문제가 있으신가요?</span>
        </div>
      </div>
      <!-- ENAIL END -->
      <!-- BOX START -->
      <div class="box">
        <div class="other">
          <div class="line">다른 방법으로 로그인</div>
        </div>
      </div>
      <!-- BOX END -->
      <!-- ICON START -->
      <div class="icon">
        <span><i class="google-icon"></i></span>
        <span><i class="naver-icon"></i></span>
        <span><i class="apple-icon"></i></span>
      </div>
      <!-- ICON END -->
      <!-- AGREE START -->
      <div class="agree">
        <p>
          계속하면 <span>이용약관</span> 및 <span>개인정보 보호정책</span>에
          동의하게 됩니다.
        </p>
      </div>
      <!-- AGREE END -->
    </div>
    <!-- WRAPPER END -->
  </body>
</html>
