<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f3ede209f8.js"
      crossorigin="anonymous"
    ></script>
    <!-- custom css -->
    <link rel="stylesheet" href="../../src/scss/components/footer.css" />
    <link rel="stylesheet" href="../../src/scss/components/header.css" />

    <link rel="stylesheet" href="../../src/scss/login/login.css" />
    <script defer src="../../src/js/header.js"></script>
    <script defer src="../../src/js/footer.js"></script>
    <title>PRIME</title>
  </head>
  <body>
    <!-- <header id="header"></header> -->
    <!-- WRAPPER START -->
    <div class="wrapper">
      <!-- MODAL__BOX START -->
      <div class="modal__box">
        <!-- CONTAINER START -->
        <div class="container">
          <!-- INNER START -->
          <!-- <div class="inner">
            <span><i class="fa-solid fa-chevron-left"></i>뒤로</span>
            <span><i class="fa-solid fa-xmark"></i></span>
          </div> -->
          <!-- INNER END -->
          <!-- LOGIN START -->
          <div class="login">
            <span>로그인 / 회원가입</span>
          </div>
          <!-- LOGIN END -->
          <!-- DATA START -->
          <div class="data">
            <span
              ><i class="fa-solid fa-lock"></i> 모든 데이터는 암호화
              됩니다</span
            >
          </div>
          <!-- DATA END -->
        </div>
        <!-- CONTAINER END -->
        <!-- EMAIL START -->
        <div class="email">
          <!-- TEXT START -->
          <div class="text">
            <span>이메일 또는 전화번호</span>
          </div>
          <!-- TEXT END -->
          <!-- EMAIL__BOX START -->
          <div class="email__box">
            <!-- INPUT START -->
            <input
              type="text"
              name="email"
              id="email"
              placeholder="이메일 또는 전화번호"
            />
            <!-- INPUT END -->
          </div>
          <!-- EMAIL__BOX END -->
          <button id="open">계속</button>
          <!-- TEXT__BOX START -->
          <div class="text__box">
            <span>로그인하는데 문제가 있으신가요?</span>
            <a href="http://127.0.0.1:5502/html/components/signup.html">
              <span>회원가입</span>
            </a>
          </div>
          <!-- TEXT__BOX END -->
        </div>
        <!-- ENAIL END -->
        <!-- BOX START -->
        <div class="box">
          <!-- OTHER START -->
          <div class="other">
            <div class="line">다른 방법으로 로그인</div>
          </div>
          <!-- OTHER END -->
        </div>
        <!-- BOX END -->
        <!-- ICON START -->
        <div class="icon">
          <span><i class="google-icon"></i></span>
          <span><i class="naver-icon"></i></span>
          <span><i class="apple-icon"></i></span>
        </div>
        <div class="img">
          <img src="../../assets/images/index/main-banner.webp" alt="" />
        </div>
        <!-- ICON END -->
        <!-- AGREE START -->
        <div class="agree">
          <p>
            계속하면 <span>이용약관</span> 및 <span>개인정보 보호정책</span>에
            동의하게 됩니다.
          </p>
        </div>
        <div class="copy">
          <span>Prime</span>
          <span> Copyright © Prime Corp. All Rights Reserved.</span>
        </div>
        <!-- AGREE END -->
      </div>
      <!-- MODAL__BOX END -->
    </div>
    <!-- WRAPPER END -->
  </body>
</html>
