<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f3ede209f8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../src/scss/mark.css" />
    <script defer src="../../src/js/mypage.js"></script>
    <title>Document</title>
  </head>
  <body>
    <!-- WRAPPER START -->
    <div class="wrapper">
      <!-- MARK__INNER START -->
      <div class="mark__inner">
        <!-- LEFTMENU START -->
        <div class="leftmenu">
          <ul>
            <li class="home">
              홈 <i class="fa-solid fa-chevron-right"></i> 내 리뷰
            </li>
            <li class="my-order">
              <div>
                <i class="document"></i>
                <span>내 주문</span>
              </div>
              <i class="fa-solid fa-chevron-down"></i>
            </li>
            <div class="accordion">
              <li class="inner">
                <ul>
                  <li class="title"><a href="#">내 주문</a></li>
                  <li class="title"><a href="#">처리 중</a></li>
                  <li class="title"><a href="#">발송됨</a></li>
                  <li class="title"><a href="#">배송됨</a></li>
                  <li class="title"><a href="#">반품</a></li>
                </ul>
              </li>
            </div>
            <li>
              <i class="review"></i>
              <span>내 리뷰</span>
            </li>
            <li>
              <i class="delivery"></i>
              <span>주문/배송</span>
            </li>
            <li>
              <i class="star"></i>
              <span>즐겨찾기</span>
            </li>
            <li>
              <i class="event"></i>
              <span>쿠폰/이벤트</span>
            </li>
          </ul>
        </div>
        <!-- LEFTMENU END -->
        <!-- CONTAINER START -->
        <div class="box">
          <span>즐겨찾기</span>
          <div class="container">
            <img src="../../assets/images/mypage/starmark.svg" alt="starmark" />
            <div>제품을 찾을 수 없습니다</div>
          </div>
        </div>
        <!-- BOX END -->
      </div>
      <!-- MARK__INNER END -->
    </div>
    <!-- WRAPPER END -->
  </body>
</html>
