<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f3ede209f8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../src/scss/order.css" />
    <script defer src="../../src/js/mypage.js"></script>
    <title>Document</title>
  </head>
  <body>
    <!-- WRAPPER START -->
    <div class="wrapper">
      <!-- MARK__INNER START -->
      <div class="mark__inner">
        <!-- LEFTMENU START -->
        <div class="leftmenu">
          <!-- UL START -->
          <ul>
            <!-- HOME START -->
            <li class="home">
              홈 <i class="fa-solid fa-chevron-right"></i> 내 리뷰
            </li>
            <!-- HOME END -->
            <!-- MY-ORDER START -->
            <li class="my-order">
              <!-- DIV START -->
              <div>
                <i class="document"></i>
                <span>내 주문</span>
              </div>
              <!-- DIV END -->
              <i class="fa-solid fa-chevron-down"></i>
            </li>
            <!-- ACCORDION START -->
            <div class="accordion">
              <!-- INNER START -->
              <li class="inner">
                <!-- UL START -->
                <ul>
                  <li class="title"><a href="#">내 주문</a></li>
                  <li class="title"><a href="#">처리 중</a></li>
                  <li class="title"><a href="#">발송됨</a></li>
                  <li class="title"><a href="#">배송됨</a></li>
                  <li class="title"><a href="#">반품</a></li>
                </ul>
                <!-- UL END -->
              </li>
              <!-- INNER END -->
            </div>
            <!-- ACCORDION END -->
            <!-- LI START -->
            <li>
              <i class="review"></i>
              <span>내 리뷰</span>
            </li>
            <li>
              <i class="delivery"></i>
              <span>주문/배송</span>
            </li>
            <li>
              <i class="star"></i>
              <span>즐겨찾기</span>
            </li>
            <li>
              <i class="event"></i>
              <span>쿠폰/이벤트</span>
            </li>
            <!-- LI END -->
          </ul>
          /UL END
        </div>
        <!-- LEFTMENU END -->
        <!-- RIGHTMENU START -->
        <div class="rightmenu">
          <!-- ORDER START -->
          <div class="order">
            <span>배송됨</span>
          </div>
          <!-- ORDER END -->
          <!-- INFO START -->
          <div class="info">
            <span>주문시간: 2024년 05월 24일</span>
            <span>주문ID: PO-185-1034177</span>
          </div>
          <!-- INFO END -->
          <!-- EMAIL START -->
          <div class="email">
            <span
              >주문 확인이 2024년 05월 24일에 ezen@gmail.com(으)로
              전송되었습니다.</span
            >
          </div>
          <!-- EMAIL END -->
          <!-- USERINFO START -->
          <div class="userInfo">
            <!-- CONTAINER START -->
            <div class="container">
              <h4>배송지</h4>
              <!-- USER START -->
              <div class="user">
                <span>홍길동</span>
                <span>+82 123 4567 8910</span>
                <span>01234 대한민국 서울특별시 강남구</span>
                <span>이젠 아파트 9동 901호</span>
              </div>
              <!-- USER END -->
            </div>
            <!-- CONTAINER END -->
            <!-- ORDERCLOCK START -->
            <div class="orderClock">
              <span>배송시간</span>
              <span>2024년 06월 04일 배송됨</span>
            </div>
            <!-- ORDERCLOCK END -->
          </div>
          <!-- USERINFO END -->
          <!-- PRODUCTINFO START -->
          <div class="productInfo">
            <!-- PRODUCT__CONTAINER START -->
            <div class="product__container">
              <!-- FIRST START -->
              <div class="first">
                <!-- IMG START -->
                <div class="img"></div>
                <!-- IMG END -->
                <!-- TXT START -->
                <div class="txt">
                  <!-- TXT__CONTAINER START -->
                  <div class="txt__container">
                    <p>
                      3개의 매화와 부드러운 코랄 플러스 가정용 수건 - 부드럽고
                      흡수벽 있는 얼굴, 세...
                    </p>
                    <span>₩5,679</span>
                  </div>
                  <!-- TXT__CONTAINER -->
                  <!-- COUNTFIRST START -->
                  <div class="countFirst">
                    <span>핑크+그린+옐로우</span>
                    <span>x1</span>
                  </div>
                  <!-- COUNTFIRST END -->
                </div>
                <!-- TXT END -->
              </div>
              <!-- FIRST END -->
              <!-- SECOND START -->
              <div class="second">
                <!-- IMG START -->
                <div class="img"></div>
                <!-- IMG END -->
                <!-- TXT START -->
                <div class="txt">
                  <!-- TXT__CONTAINER START -->
                  <div class="txt__container">
                    <p>
                      1PCS 전문 팬 메이크업 브러쉬 블렌딩 형관펜 컨투어 페이스
                      루스 파우더 브러쉬 화...
                    </p>
                    <span>₩771</span>
                  </div>
                  <!-- TXT__CONTAINER END -->
                  <!-- COUNTSECOND START -->
                  <div class="countSecond">
                    <span>검은 손잡이 은 흰머리 작은 부채 모양</span>
                    <span>x1</span>
                  </div>
                  <!-- COUNTSECOND END -->
                </div>
                <!-- TXT END -->
              </div>
              <!-- SECOND END -->
            </div>
            <!-- PRODUCT__CONTAINER -->
            <!-- INFO__BTN START -->
            <div class="info__btn">
              <button>추적</button>
              <button>리뷰 남기기</button>
              <button>영수증 다시보기</button>
              <button>반품/환불</button>
              <button>다시 구매하기</button>
            </div>
            <!-- INFO__BTN END -->
          </div>
          <!-- PRODUCTINFO END -->
          <!-- PAYMENT START -->
          <div class="payment">
            <span>결제 세부 정보</span>
            <span><i class="fa-solid fa-chevron-down"></i></span>
          </div>
          <!-- PAYMENT END -->
        </div>
        <!-- RIGHTMENU END -->
      </div>
      <!-- MARK__INNER END -->
    </div>
    <!-- WRAPPER END -->
  </body>
</html>
