<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Temu</title>

    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/ccc6dd49b3.js"
      crossorigin="anonymous"
    ></script>

    <!-- CUSTOM CSS-->
    <!-- HEADER STYLING -->
    <link rel="stylesheet" href="../../src/scss/components/header.css" />
    <!-- FOOTER STYLING -->
    <link rel="stylesheet" href="../../src/scss/components/footer.css" />

    <!-- PRODUCT DETAIL STYLING -->
    <link
      rel="stylesheet"
      href="../../src/scss/components/product-detail.css"
    />

    <!-- PRODUCT LIST STYLING -->
    <!-- <link rel="stylesheet" href="../../src/scss/components/product-list.css" /> -->

    <!-- CUSTOM JS-->
    <!-- HEADER JS -->
    <script type="module" defer src="../../src/js/header.js"></script>
    <!-- FOOTER JS -->
    <script type="module" defer src="../../src/js/footer.js"></script>

    <!-- PRODUCT DETAIL JS -->
    <script defer src="../../src/js/product-detail.js"></script>

    <!-- CATEGORY JS -->
    <!-- <script type="module" defer src="../../src/json/category-list.js"></script> -->

    <!-- PRODUCT LISTS JS -->
    <script type="module" defer src="../../src/json/product-list.js"></script>
  </head>
  <body>
    <!-- HEADER START -->
    <header id="header"></header>
    <!-- HEADER END -->

    <!-- CREATE DETAIL START -->
    <div id="createDetail">
      <!-- <div class="detail__left-box">
        <main id="main">
          <section id="detail__bradcrumb-container">
            <ul class="detail-bradcrumbs">
              <li>
                <a href="#">홈</a>
                <i class="fa-solid fa-chevron-right"></i>
              </li>
              <li>
                <a href="#">여성의류</a>
                <i class="fa-solid fa-chevron-right"></i>
              </li>
              <li>
                <a href="#">여성 투피스 의상</a>
                <i class="fa-solid fa-chevron-right"></i>
              </li>
            </ul>
          </section>
          <section id="detail__main-container">
            <div class="detail__main-imgbox">
              <ul class="detail__main-imgs">
                <li>
                  <div>
                    <img
                      src="../../assets/images/products/a-image-01.webp"
                      alt=""
                    />
                  </div>
                </li>
                <li>
                  <div>
                    <img
                      src="../../assets/images/products/a-image-02.webp"
                      alt=""
                    />
                  </div>
                </li>
                <li>
                  <div>
                    <img
                      src="../../assets/images/products/a-image-03.webp"
                      alt=""
                    />
                  </div>
                </li>
                <li>
                  <div>
                    <img
                      src="../../assets/images/products/a-image-04.webp"
                      alt=""
                    />
                  </div>
                </li>
              </ul>
              <div>
                <img
                  src="../../assets/images/products/a-image-01.webp"
                  alt=""
                />
              </div>
            </div>
            <div class="detail__main-contentsbox">
              <div class="detail__main-contentsbox-provider">YYDance</div>
              <div class="detail__main-contentsbox-title">
                <h1>
                  헐렁한 매칭 투피스 세트, 캐주얼 반팔 티셔츠 & 끈 조임 허리
                  반바지 아웃핏, 여성 의류
                </h1>
                <div>
                  <div>
                    <i></i>
                    <span>283</span>
                  </div>
                  <i></i>
                </div>
              </div>
              <div class="detail__main-contentsbox-reviews">
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <span>17개 리뷰</span>
              </div>
              <div class="detail__main-contentsbox-counters">
                <span>33%</span>
                <strike>48,703원</strike>
                <div><span>3</span>시간 뒤 마감</div>
              </div>
              <div class="detail__main-contentsbox-price">
                <h2><span>39,900</span>원</h2>
                <i></i>
              </div>
              <div class="detail__main-contentsbox-infotxt">
                Temu 제품 가격은 관세 등을 포함하고 있어 고객에게 추가적인
                비용이 발생하지 않습니다.
              </div>
              <div class="detail__main-contentsbox-delivery-infos">
                <h4>배송</h4>
                <ul>
                  <li>무료배송</li>
                  <li>
                    배송 예정:
                    <span class="delivery-date">07월 9일-08월 2일</span>,
                    80%확률로 7일 이내 도착
                  </li>
                  <li>
                    배송 업체: <span>CJ, KYOUNGDONG, Hanjin, Korea ePost</span>
                  </li>
                  <li><i></i> <span>배송 지연 시 ₩5,300크레딧 지급</span></li>
                  <li>
                    <i></i>
                    배송 문제: 상품이 손상된 경우 반품, 30일 이내 미배송시 환불
                  </li>
                </ul>
              </div>
              <div class="detail__main-contentsbox-brand">
                <div><i></i>YYDance</div>
                <button>
                  브랜드홈 <i class="fa-solid fa-chevron-right"></i>
                </button>
              </div>
              <div class="detail__main-contentsbox-select">
                <div class="detail__mian-contentsbox-selects">
                  <select name="" id="size">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                  </select>
                  <select name="" id="color">
                    <option value="white">흰색</option>
                    <option value="black">검정색</option>
                    <option value="pink">분홍색</option>
                  </select>
                  <select name="" id="quan">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <h3>주문금액</h3>
                <div>
                  <button class="select-cart-btn">장바구니</button>
                  <button class="select-buy-btn">바로구매</button>
                </div>
              </div>
            </div>
          </section>
        </main>
        <section id="product-detail__container">
          <div class="product-detail__header">
            <ul>
              <li class="active">상품정보</li>
              <li>리뷰<span>74,501</span></li>
              <li>문의<span>501</span></li>
              <li>배송/환불</li>
              <li>추천</li>
            </ul>
          </div>
          <div class="product-detail__clearance">
            <img src="" alt="" />
          </div>
          <div class="product-detail__imgs">
            <div class="product-detail__imgs-main">
              <img
                src="../../assets/images/product-detail/main-img.png"
                alt=""
              />
            </div>
            <div class="product-detail__imgs-secon">
              <div>
                <img
                  src="../../assets/images/product-detail/main-img.png"
                  alt=""
                />
              </div>
              <div>
                <img
                  src="../../assets/images/product-detail/main-img.png"
                  alt=""
                />
              </div>
            </div>
            <div class="product-detail__imgs-third">
              <div>
                <img
                  src="../../assets/images/product-detail/main-img.png"
                  alt=""
                />
              </div>
              <div>
                <img
                  src="../../assets/images/product-detail/main-img.png"
                  alt=""
                />
              </div>
              <div>
                <img
                  src="../../assets/images/product-detail/main-img.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="product-detail__reviews">
            <div class="reviews__counters">
              <div class="counters__header">
                <div class="counters__header__left">
                  <span>리뷰</span>
                  <p>13,293</p>
                </div>
                <div class="counters__header__right">
                  <div><i></i>모든 리뷰는 구매 인증 후 작성 되었습니다.</div>
                  <span>리뷰쓰기</span>
                </div>
              </div>
              <div class="reviews__counter">
                <div class="reviews__counter-leftBox">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <span>4.8</span>
                </div>
                <div class="reviews__counter-rightBox">
                  <ul>
                    <li>
                      <span>5점</span>
                      <span class="counter-progressbar"></span>
                      <span>12,427</span>
                    </li>
                    <li>
                      <span>4점</span>
                      <span class="counter-progressbar"></span>
                      <span>212</span>
                    </li>
                    <li>
                      <span>3점</span>
                      <span class="counter-progressbar"></span>
                      <span>102</span>
                    </li>
                    <li>
                      <span>2점</span>
                      <span class="counter-progressbar"></span>
                      <span>29</span>
                    </li>
                    <li>
                      <span>1점</span>
                      <span class="counter-progressbar"></span>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="reviews__comments">
              <div class="comments__header">
                <ul>
                  <li>베스트순</li>
                  <li>최신순</li>
                </ul>
                <div>
                  <select name="별점" id="">
                    <option value="별점">별점</option>
                    <option value="">5점</option>
                    <option value="">4점</option>
                    <option value="">3점</option>
                    <option value="">2점</option>
                    <option value="">1점</option>
                  </select>
                  <select name="국가" id="">
                    <option value="국가">국가</option>
                    <option value="">KR</option>
                    <option value="">CN</option>
                    <option value="">JP</option>
                  </select>
                </div>
              </div>
              <ul class="comments__contents">
                <li>
                  <div class="comment__profile">
                    <div>
                      <img
                        src="../../assets/images/product-detail/comment_profile.png"
                      />
                    </div>
                    <p>LoveSun</p>
                    <span>KR</span>
                  </div>
                  <div class="comment__stars">
                    <ul>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                    </ul>
                    <div>2024년 07월 25일</div>
                  </div>
                  <div class="comment__text">
                    디자인 화면 색감 그대로입니다.
                  </div>
                </li>
                <li>
                  <div class="comment__profile">
                    <div>
                      <img
                        src="../../assets/images/product-detail/comment_profile.png"
                      />
                    </div>
                    <p>LoveSun</p>
                    <span>KR</span>
                  </div>
                  <div class="comment__stars">
                    <ul>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                    </ul>
                    <div>2024년 07월 25일</div>
                  </div>
                  <div class="comment__text">
                    디자인 화면 색감 그대로입니다.
                  </div>
                </li>
                <li>
                  <div class="comment__profile">
                    <div>
                      <img
                        src="../../assets/images/product-detail/comment_profile.png"
                      />
                    </div>
                    <p>LoveSun</p>
                    <span>KR</span>
                  </div>
                  <div class="comment__stars">
                    <ul>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                    </ul>
                    <div>2024년 07월 25일</div>
                  </div>
                  <div class="comment__text">
                    디자인 화면 색감 그대로입니다.
                  </div>
                </li>
                <li>
                  <div class="comment__profile">
                    <div>
                      <img
                        src="../../assets/images/product-detail/comment_profile.png"
                      />
                    </div>
                    <p>LoveSun</p>
                    <span>KR</span>
                  </div>
                  <div class="comment__stars">
                    <ul>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                    </ul>
                    <div>2024년 07월 25일</div>
                  </div>
                  <div class="comment__text">
                    디자인 화면 색감 그대로입니다.
                  </div>
                </li>
                <li>
                  <div class="comment__profile">
                    <div>
                      <img
                        src="../../assets/images/product-detail/comment_profile.png"
                      />
                    </div>
                    <p>LoveSun</p>
                    <span>KR</span>
                  </div>
                  <div class="comment__stars">
                    <ul>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                    </ul>
                    <div>2024년 07월 25일</div>
                  </div>
                  <div class="comment__text">
                    디자인 화면 색감 그대로입니다.
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-detail__contacts">
            <div class="contacts__header">
              <div class="contacts__header__left">
                <span>문의사항</span>
                <p>501</p>
              </div>
              <div class="contacts__header__right">
                <div><i></i>부적절한 단어들을 실시간 모니터링중입니다.</div>
                <span>문의하기</span>
              </div>
            </div>
            <div class="contacts__contents">
              <ul>
                <li>
                  <div class="contacts__contents__check">
                    <span>구매</span>
                    <span>배송</span>
                    <span>답변완료</span>
                  </div>
                  <div class="contacts__contents__info">
                    <span>김도*</span> <span>2024년 07월 26일 08시 02분</span>
                  </div>
                  <div class="contacts__contents__question">
                    <span>Q</span>
                    <i></i>
                    <p>언제 재입고 되나요?</p>
                  </div>
                  <div class="contacts__contents__answer">
                    <span>A</span>
                    <i></i>
                    <div>
                      <span>YYDance</span>
                      <p>
                        안녕하세요. YYDance입니다. 구매하신 상품은 컬러세트 구매
                        시 구성 되어있는 것은 6~14일 정도 소요가 되는 것으로
                        양해 부탁드립니다. 감사합니다.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="contacts__contents__check">
                    <span>구매</span>
                    <span>배송</span>
                    <span>답변완료</span>
                  </div>
                  <div class="contacts__contents__info">
                    <span>김도*</span> <span>2024년 07월 26일 08시 02분</span>
                  </div>
                  <div class="contacts__contents__question">
                    <span>Q</span>
                    <i></i>
                    <p>언제 재입고 되나요?</p>
                  </div>
                  <div class="contacts__contents__answer">
                    <span>A</span>
                    <i></i>
                    <div>
                      <span>YYDance</span>
                      <p>
                        안녕하세요. YYDance입니다. 구매하신 상품은 컬러세트 구매
                        시 구성 되어있는 것은 6~14일 정도 소요가 되는 것으로
                        양해 부탁드립니다. 감사합니다.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="contacts__contents__check">
                    <span>구매</span>
                    <span>배송</span>
                    <span>답변완료</span>
                  </div>
                  <div class="contacts__contents__info">
                    <span>김도*</span> <span>2024년 07월 26일 08시 02분</span>
                  </div>
                  <div class="contacts__contents__question">
                    <span>Q</span>
                    <i></i>
                    <p>언제 재입고 되나요?</p>
                  </div>
                  <div class="contacts__contents__answer">
                    <span>A</span>
                    <i></i>
                    <div>
                      <span>YYDance</span>
                      <p>
                        안녕하세요. YYDance입니다. 구매하신 상품은 컬러세트 구매
                        시 구성 되어있는 것은 6~14일 정도 소요가 되는 것으로
                        양해 부탁드립니다. 감사합니다.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-detail__delivery">
            <div class="delivery__header">
              <div class="delivery__header__left">
                <span>배송정보</span>
              </div>
              <div class="delivery__header__right">
                <div class="delivery__header__right-title">
                  <i></i>모든 주문에 무료배송을 포함하고 있습니다
                </div>
                <span>서비스 보증</span>
                <div class="delivery__modal-container">
                  <div>
                    <h3>서비스 보증</h3>
                    <span>X</span>
                    <ul>
                      <li>
                        <div>
                          <div>
                            <i>icon</i>
                            <span>90일 이내 무료 반품</span>
                          </div>
                          <a href="#"
                            >반품 정책 전문 읽기
                            <i>></i>
                          </a>
                        </div>
                        <ul>
                          <li>
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing
                              elit. Et odio earum velit id, ad obcaecati
                              repellendus accusantium optio eveniet mollitia
                              doloribus corporis veniam quia est, cumque
                              consequuntur! Aliquam, atque nulla!
                            </p>
                          </li>
                          <li>
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing
                              elit. Et odio earum velit id, ad obcaecati
                              repellendus accusantium optio eveniet mollitia
                              doloribus corporis veniam quia est, cumque
                              consequuntur! Aliquam, atque nulla!
                            </p>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <div>
                          <div>
                            <i>icon</i>
                            <span>30일 이내 가격 조정</span>
                          </div>
                          <a href="#"
                            >가격 정책 전문 읽기
                            <i>></i>
                          </a>
                        </div>
                        <ul>
                          <li>
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing
                              elit. Et odio earum velit id, ad obcaecati
                              repellendus accusantium optio eveniet mollitia
                              doloribus corporis veniam quia est, cumque
                              consequuntur! Aliquam, atque nulla!
                            </p>
                          </li>
                          <li>
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing
                              elit. Et odio earum velit id, ad obcaecati
                              repellendus accusantium optio eveniet mollitia
                              doloribus corporis veniam quia est, cumque
                              consequuntur! Aliquam, atque nulla!
                            </p>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="delivery__table">
              <ul>
                <li>
                  <h5>배송 방식</h5>
                  <span>일반택배</span>
                </li>
                <li>
                  <h5>배송 비용</h5>
                  <span>무료배송</span>
                </li>
                <li>
                  <h5>배송 시간</h5>
                  <span>6 ~ 14일</span>
                </li>
              </ul>
            </div>
            <div class="delivery__info">
              <ul>
                <li>
                  <h4>배송옵션</h4>
                  <p>
                    주문하신 상품과 지역에 따라 일반 배송을 선택할 수 있습니다.
                    주문이 최종 배송 단계에서 현지 배송업체로 전달될 수 있으므로
                    일부 단계에서 배송 추적이 제공되지 않을 수 있습니다.
                  </p>
                </li>
                <li>
                  <h4>배송주소</h4>
                  <p>
                    배송 및 배송을 위해 올바른 현재 주소를 제공했는지
                    확인하십시오. P.O를 사용할 수 있습니다. 배송 주소로 상자.
                    하지만 특정 품목은 실제 주소로만 배송될 수 있습니다. 대형
                    제품, 귀중품, 부패하기 쉬운 제품, 연령 제한이 있는 제품 또는
                    개인 운송업체를 통해 배송되는 품목의 경우 실제 우편 주소나
                    서명 확인이 필요할 수 있습니다. 상품 파트너는 제품 목록에
                    P.O.로 제품을 배송할 수 없다고 표시할 수도 있습니다. 상자.
                    군부대 등 보안이 제한된 지역으로는 물품을 배송할 수
                    없습니다.
                  </p>
                </li>
                <li>
                  <h4>배송주소</h4>
                  <p>
                    1) 주문이 성공적으로 결제 및 확정되면 주문 확인 페이지에
                    예상 배송 시간과 배송 비용이 표시됩니다. 또한 주문에 대한
                    예상 처리 시간을 간략하게 설명하는 주문 확인 메시지를 받게
                    됩니다.
                  </p>
                  <br />

                  <p>
                    2) 창고에서 주문을 처리하는 데 1~3일이 소요될 수 있습니다.
                    주문이 발송되면 메시지를 받게 됩니다.
                  </p>
                  <br />
                  <p>
                    3) 발송이 완료되면 택배의 예상 배송 시간을 알려주는 배송
                    알림 메시지를 받게 됩니다. 배송이 준비되면 추적 번호도
                    전달드립니다. 주문 내역의 택배 항목 아래에서 예상 배송
                    시간을 동시에 확인할 수 있습니다.
                  </p>
                  <br />

                  <p>
                    4) 대부분의 경우 주문은 예상 배송 시간 내에 배송됩니다.
                    그러나 실제 배송 날짜는 항공편 일정, 기상 조건 및 기타 외부
                    요인에 의해 영향을 받을 수 있습니다. 가장 최신의 배송 날짜는
                    배송 추적 정보를 참조하시기 바랍니다.
                  </p>
                </li>
                <li>
                  <h4>배달과 관련된 문제</h4>
                  <p>
                    택배가 배송되지 않았거나 추적 정보에 택배가 배달된 것으로
                    표시되지만 받지 못한 경우, 주문일로부터 90일 이내에 즉시
                    고객 센터에 문의하시기 바랍니다.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-detail__product-lists">
            <div class="product-lists__header">
              <div class="product-lists__header__left">
                <span>추천</span>
              </div>
              <div class="product-lists__header__right">
                <div>
                  <i></i>이 제품을 선택한 고객들이 자주 봤던 상품입니다.
                </div>
              </div>
            </div>
            <div id="product-list"></div>
          </div>
        </section>
      </div> -->

      <!-- <div class="detail__right-box">
        <div class="detail__main-contentsbox">
          <div class="detail__main-contentsbox-provider">YYDance</div>
          <div class="detail__main-contentsbox-title">
            <h1>
              헐렁한 매칭 투피스 세트, 캐주얼 반팔 티셔츠 & 끈 조임 허리 반바지
              아웃핏, 여성 의류
            </h1>
            <div>
              <div>
                <i></i>
                <span>283</span>
              </div>
              <i></i>
            </div>
          </div>
          <div class="detail__main-contentsbox-reviews">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <span>17개 리뷰</span>
          </div>
          <div class="detail__main-contentsbox-counters">
            <span>33%</span>
            <strike>48,703원</strike>
            <div><span>3</span>시간 뒤 마감</div>
          </div>
          <div class="detail__main-contentsbox-price">
            <h2><span>39,900</span>원</h2>
            <i></i>
          </div>
          <div class="detail__main-contentsbox-infotxt">
            Temu 제품 가격은 관세 등을 포함하고 있어 고객에게 추가적인 비용이
            발생하지 않습니다.
          </div>
          <div class="detail__main-contentsbox-delivery-infos">
            <h4>배송</h4>
            <ul>
              <li>무료배송</li>
              <li>
                배송 예정:
                <span class="delivery-date">07월 9일-08월 2일</span>, 80%확률로
                7일 이내 도착
              </li>
              <li>
                배송 업체: <span>CJ, KYOUNGDONG, Hanjin, Korea ePost</span>
              </li>
              <li><i></i> <span>배송 지연 시 ₩5,300크레딧 지급</span></li>
              <li>
                <i></i>
                배송 문제: 상품이 손상된 경우 반품, 30일 이내 미배송시 환불
              </li>
            </ul>
          </div>
          <div class="detail__main-contentsbox-brand">
            <div><i></i>YYDance</div>
            <button>브랜드홈 <i class="fa-solid fa-chevron-right"></i></button>
          </div>
          <div class="detail__main-contentsbox-select">
            <div class="detail__mian-contentsbox-selects">
              <select name="" id="size">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
              </select>
              <select name="" id="color">
                <option value="white">흰색</option>
                <option value="black">검정색</option>
                <option value="pink">분홍색</option>
              </select>
              <select name="" id="quan">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <h3>주문금액</h3>
            <div>
              <button class="select-cart-btn">장바구니</button>
              <button class="select-buy-btn">바로구매</button>
            </div>
          </div>
        </div>
      </div> -->

      <!-- PRODUCT DETAIL END -->
    </div>
    <!-- CREATE DETAIL END -->

    <!-- FOOTER START -->
    <footer id="footer"></footer>
    <!-- FOOTER END -->
  </body>
</html>
