<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRIME</title>

    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/ccc6dd49b3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="/assets/favicon.png" type="favicon.png" />
    <!-- CUSTOM CSS-->
    <!-- HEADER STYLING -->
    <link rel="stylesheet" href="../../src/scss/components/header.css" />
    <!-- FOOTER STYLING -->
    <link rel="stylesheet" href="../../src/scss/components/footer.css" />

    <!-- PRODUCT DETAIL STYLING -->
    <link
      rel="stylesheet"
      href="../../src/scss/components/product-detail.css"
    />

    <!-- PRODUCT LIST STYLING -->
    <!-- <link rel="stylesheet" href="../../src/scss/components/product-list.css" /> -->

    <!-- CUSTOM JS-->
    <!-- HEADER JS -->
    <script type="module" defer src="../../src/js/header.js"></script>
    <!-- FOOTER JS -->
    <script type="module" defer src="../../src/js/footer.js"></script>

    <!-- PRODUCT DETAIL JS -->
    <script defer src="../../src/js/product-detail.js"></script>

    <!-- CATEGORY JS -->
    <!-- <script type="module" defer src="../../src/json/category-list.js"></script> -->

    <!-- PRODUCT LISTS JS -->
    <script type="module" defer src="../../src/json/product-list.js"></script>
  </head>
  <body>
    <!-- HEADER START -->
    <header id="header"></header>
    <!-- HEADER END -->

    <!-- CREATE DETAIL START -->
    <div id="createDetail">
      <!-- PRODUCT DETAIL END -->
    </div>
    <!-- CREATE DETAIL END -->

    <!-- FOOTER START -->
    <footer id="footer"></footer>
    <!-- FOOTER END -->
  </body>
</html>
