<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRIME</title>

    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/6336e5c545.js"
      crossorigin="anonymous"
    ></script>

    <!-- CUSTOM CSS, JS-->
    <link rel="stylesheet" href="../../src/scss/Productcart.css" />
    <link rel="stylesheet" href="../../src/scss/components/product-list.css" />
    <link rel="stylesheet" href="../../src/scss/components/header.css" />
    <link rel="stylesheet" href="../../src/scss/components/footer.css" />
    <link rel="icon" href="/assets/favicon.png" type="favicon.png" />
    <script defer src="../../src/js/productcart.js"></script>
    <script defer src="../../src/json/product-list.js"></script>
    <script defer src="../../src/js/header.js"></script>
    <script defer src="../../src/js/footer.js"></script>
    <script defer src="../../src/json/category-list.js"></script>
  </head>
  <body>
    <header id="header"></header>
    <div class="container">
      <main>
        <section class="section__up">
          <article>
            <div class="section__title">
              <div class="category">
                <span><a href="#">홈</a></span>
              </div>
              <span class="select__category">
                <span>></span>
                <a href="#none">장바구니</a>
              </span>
            </div>
            <div class="banner">
              <span>프라임은 언제나 무료 배송</span>
              <div class="banner-close">
                <i class="fa-solid fa-xmark"></i>
              </div>
            </div>
            <div class="toolbar">
              <form class="form__left">
                <div class="custom__box">
                  <input
                    type="checkbox"
                    name="checkbox"
                    id="custom__box"
                    class="custom__checkbox"
                  />
                  <label for="custom__box" class="select__all"></label>
                </div>
                <span>전체선택</span>
                <span id="item__count"></span>
              </form>
              <button class="delete-select">선택삭제</button>
            </div>
            <div class="product__info-All"></div>

            <div class="empty__product" style="display: none">
              <div class="empty__product-up">
                <i class="fa-solid fa-cart-shopping"></i>
                <div class="product-text">
                  <p class="product__text-up">장바구니가 비어있습니다</p>
                  <p class="product__text-down">
                    마음에 드는 상품을 추가해주세요
                  </p>
                </div>
              </div>
            </div>
          </article>
        </section>
        <aside class="mobile-aside"></aside>
        <section class="section__down">
          <!-- section__down-title -->
          <article class="section__down-title">
            <h2>다른 고객이 함께 구매한 상품</h2>
          </article>
          <article class="section__down-product">
            <div class="list-wrapper">
              <div id="product-list"></div>
              <button id="loadMoreBtn" class="load-more-btn">더 보기</button>
            </div>
          </article>
        </section>
      </main>
      <!--ASIDE START-->
      <aside class="pc-aside"></aside>
      <!--ASIDE END-->
    </div>
    <footer id="footer"></footer>
    <!--MODAL BOX START-->
    <div class="modal__box">
      <div class="modal__inner">
        <div class="modal__inner-box">
          <div class="product">
            <div class="product__img">
              <img src="./img/product.png" alt="product" />
            </div>
            <div class="product__info">
              <p class="product__info-title"></p>
            </div>
          </div>
          <form>
            <ul>
              <li>
                <select id="color"></select>
              </li>
              <li>
                <select id="size"></select>
              </li>
            </ul>
          </form>
          <div class="product-info-origin">
            <ul>
              <li class="info-up">
                <div>
                  <span>색상 : </span>
                  <span class="color"></span>
                </div>
                <div>
                  <span>사이즈 : </span>
                  <span class="size"></span>
                </div>
              </li>
              <li class="info-down">
                <form class="modal__add-minus">
                  <div class="number__input">
                    <input
                      type="button"
                      value="+"
                      class="modal-add"
                      id="modal-add"
                    />
                    <input
                      type="text"
                      class="modal-amount"
                      id="modal-amount"
                      disabled
                      size="2"
                    />
                    <input
                      type="button"
                      value="-"
                      class="modal-minus"
                      id="modal-minus"
                    />
                  </div>
                </form>
                <span class="modal-price" id="modal-price"></span>
              </li>
            </ul>
          </div>
          <hr />
          <div class="final__price"></div>
          <div class="button">
            <input type="reset" value="취소" />
            <input type="submit" value="확인" />
          </div>
        </div>
        <div class="modal__close-box">
          <div class="close">
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>

    <!--MODAL BOX END-->
  </body>
</html>
