<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Temu</title>

    <link
      rel="stylesheet"
      href="../../src/scss/components/product-detail.css"
    />
    <script
      src="https://kit.fontawesome.com/ccc6dd49b3.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="../../src/js/product-detail.js"></script>
  </head>
  <body>
    <main id="main">
      <section id="detail__bradcrumb-container">
        <ul class="detail-bradcrumbs">
          <li>
            <a href="#">홈</a>
            <i class="fa-solid fa-chevron-right"></i>
          </li>
          <li>
            <a href="#">여성의류</a>
            <i class="fa-solid fa-chevron-right"></i>
          </li>
          <li>
            <a href="#">여성 투피스 의상</a>
            <i class="fa-solid fa-chevron-right"></i>
          </li>
        </ul>
      </section>
      <section id="detail__main-container">
        <div class="detail__main-imgbox">
          <ul class="detail__main-imgs">
            <li>
              <div>
                <img
                  src="../../assets/images/products/a-image-01.webp"
                  alt=""
                />
              </div>
            </li>
            <li>
              <div>
                <img
                  src="../../assets/images/products/a-image-02.webp"
                  alt=""
                />
              </div>
            </li>
            <li>
              <div>
                <img
                  src="../../assets/images/products/a-image-03.webp"
                  alt=""
                />
              </div>
            </li>
            <li>
              <div>
                <img
                  src="../../assets/images/products/a-image-04.webp"
                  alt=""
                />
              </div>
            </li>
          </ul>
          <div>
            <img src="../../assets/images/products/a-image-01.webp" alt="" />
          </div>
        </div>
        <div class="detail__main-contentsbox">
          <div class="detail__main-contentsbox-provider">YYDance</div>
          <div class="detail__main-contentsbox-title">
            <h1>
              헐렁한 매칭 투피스 세트, 캐주얼 반팔 티셔츠 & 끈 조임 허리 반바지
              아웃핏, 여성 의류
            </h1>
            <div>
              <div>
                <i></i>
                <span>283</span>
              </div>
              <i></i>
            </div>
          </div>
          <div class="detail__main-contentsbox-reviews">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <span>17개 리뷰</span>
          </div>
          <div class="detail__main-contentsbox-counters">
            <span>33%</span>
            <strike>48,703원</strike>
            <div><span>3</span>시간 뒤 마감</div>
          </div>
          <div class="detail__main-contentsbox-price">
            <h2><span>39,900</span>원</h2>
            <i></i>
          </div>
          <div class="detail__main-contentsbox-infotxt">
            Temu 제품 가격은 관세 등을 포함하고 있어 고객에게 추가적인 비용이
            발생하지 않습니다.
          </div>
          <div class="detail__main-contentsbox-delivery-infos">
            <h4>배송</h4>
            <ul>
              <li>무료배송</li>
              <li>
                배송 예정:
                <span class="delivery-date">07월 9일-08월 2일</span>, 80%확률로
                7일 이내 도착
              </li>
              <li>
                배송 업체: <span>CJ, KYOUNGDONG, Hanjin, Korea ePost</span>
              </li>
              <li><i></i> <span>배송 지연 시 ₩5,300크레딧 지급</span></li>
              <li>
                <i></i>
                배송 문제: 상품이 손상된 경우 반품, 30일 이내 미배송시 환불
              </li>
            </ul>
          </div>
          <div class="detail__main-contentsbox-brand">
            <div><i></i>YYDance</div>
            <button>브랜드홈 <i class="fa-solid fa-chevron-right"></i></button>
          </div>
          <div class="detail__main-contentsbox-select">
            <div class="detail__mian-contentsbox-selects">
              <select name="" id="size">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
              </select>
              <select name="" id="color">
                <option value="white">흰색</option>
                <option value="black">검정색</option>
                <option value="pink">분홍색</option>
              </select>
              <select name="" id="quan">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <h3>주문금액</h3>
            <div>
              <button class="select-cart-btn">장바구니</button>
              <button class="select-buy-btn">바로구매</button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <section id="product-detail__container">
      <div class="product-detail__header">
        <ul>
          <li class="active">상품정보</li>
          <li>리뷰<span>74,501</span></li>
          <li>문의<span>501</span></li>
          <li>배송/환불</li>
          <li>추천</li>
        </ul>
      </div>
      <div class="product-detail__clearance">
        <img src="" alt="" />
      </div>
      <div class="product-detail__imgs">
        <div class="product-detail__imgs-main">
          <img src="../../assets/images/product-detail/main-img.png" alt="" />
        </div>
        <div class="product-detail__imgs-secon">
          <div>
            <img src="../../assets/images/product-detail/main-img.png" alt="" />
          </div>
          <div>
            <img src="../../assets/images/product-detail/main-img.png" alt="" />
          </div>
        </div>
        <div class="product-detail__imgs-third">
          <div>
            <img src="../../assets/images/product-detail/main-img.png" alt="" />
          </div>
          <div>
            <img src="../../assets/images/product-detail/main-img.png" alt="" />
          </div>
          <div>
            <img src="../../assets/images/product-detail/main-img.png" alt="" />
          </div>
        </div>
      </div>
      <div class="product-detail__reviews">
        <div class="product-detail__reviews-header">
          <span>리뷰</span>
          <span>13,293</span>
          <p><i>icon</i>모든 리뷰는 구매 인증 후 작성 되었습니다</p>
          <span>리뷰쓰기</span>
        </div>
        <div class="product-detail__reviews-couter">
          <div class="reviews-couter-leftBox">
            <ul>
              <li>icon</li>
              <li>icon</li>
              <li>icon</li>
              <li>icon</li>
              <li>icon</li>
            </ul>
            <span>4.8</span>
          </div>
          <div class="reviews-couter-rightBox">
            <ul>
              <li>
                <span>5점</span>
                <span>icon</span>
                <span>12,427</span>
              </li>
              <li>
                <span>5점</span>
                <span>icon</span>
                <span>212</span>
              </li>
              <li>
                <span>5점</span>
                <span>icon</span>
                <span>102</span>
              </li>
              <li>
                <span>5점</span>
                <span>icon</span>
                <span>29</span>
              </li>
              <li>
                <span>5점</span>
                <span>icon</span>
                <span>1</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="product-detail__comments">
        <div class="comments-header-leftBox"></div>
        <div class="comments-header-rightBox"></div>
      </div>
    </section>
  </body>
</html>
