<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../src/scss/signup.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <form action="http://127.0.0.1:5502" method="get"></form>
        <article class="inner__contents title">회원가입</article>
        <div id="info">
          <article class="inner__contents id">아이디</article>
          <div class="user__id">
            <input
              type="text"
              name="userid"
              class="userid"
              placeholder="아이디"
            />
          </div>
          <article class="user__password">비밀번호</article>
          <div class="password__txt">
            영문, 숫자를 포함한 8자 이상의 비밀번호를 입력해주세요.
          </div>
          <input
            type="text"
            name="password"
            class="password"
            placeholder="비밀번호"
          />
          <article class="password__check">비밀번호 확인</article>
          <input
            type="text"
            name="confrim__password"
            class="confrim__password"
            placeholder="비밀번호 확인"
          />
          <article class="inner__contents birthday">생년월일</article>
          <div id="calender">
            <input
              type="text"
              name="calender"
              class="calender"
              placeholder="이메일"
            />
            <span>@</span>
            <select name="control" id="control">
              <option value="none" selected disabled>선택해주세요</option>
              <option value="naver.com">naver.com</option>
              <option value="hanmail.net">hanmail.net</option>
              <option value="daum.net">daum.net</option>
              <option value="gmail.com">gmail.com</option>
              <option value="nate.com">nate.com</option>
              <option value="hotmail.com">hotmail.com</option>
              <option value="outlook.com">outlook.com</option>
              <option value="icloud.com">icloud.com</option>
              <option value="manual">직접입력</option>
            </select>
          </div>
        </div>
        <div id="agree">
          <label class="agree__title">약관동의</label>
          <div class="agree__box">
            <div class="all__agree">
              <div class="agree__txt">
                <div class="agree__checkbox">
                  <input
                    type="checkbox"
                    name="agree__checkbox"
                    class="agree__checkbox"
                  />
                  <span class="txt">전체동의</span>
                  <span class="txt__box">선택항목에 대한 동의 포함</span>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
