<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CUSTOM JS-->
    <script defer src="../../src/js/header.js"></script>
    <!-- <script defer src="./src/js/index.js"></script> -->
    <script defer src="../../src/js/footer.js"></script>
    <script defer src="../../src/json/category-list.js"></script>

    <!-- CUSTOM CSS-->
    <link rel="stylesheet" href="../../src/scss/components/footer.css" />
    <link rel="stylesheet" href="../../src/scss/components/header.css" />

    <script
      src="https://kit.fontawesome.com/f3ede209f8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../src/scss/login/use.css" />
    <script defer src="../../src/js/mypage.js"></script>
    <title>Document</title>
  </head>
  <body>
    <!-- HEADER START -->
    <header id="header"></header>
    <!-- HEADER END -->

    <!-- WRAPPER START -->
    <div class="wrapper">
      <!-- MARK__INNER START -->
      <div class="mark__inner">
        <!-- LEFTMENU START -->
        <div class="leftmenu">
          <!-- UL START -->
          <ul>
            <!-- HOME START -->
            <li class="home">
              홈 <i class="fa-solid fa-chevron-right"></i> 내 리뷰
            </li>
            <!-- HOME END -->
            <!-- MY-ORDER START -->
            <li class="my-order">
              <!-- DIV START -->
              <div>
                <a href="http://127.0.0.1:5502/html/components/order.html">
                  <i class="document"></i>
                  <span>내 주문</span>
                </a>
              </div>
              <!-- DIV END -->
              <i class="fa-solid fa-chevron-down"></i>
            </li>
            <!-- MY-ORDER END -->
            <!-- ACCORDION START -->
            <div class="accordion">
              <!-- INNER START -->
              <li class="inner">
                <ul>
                  <li class="title"><a href="#">내 주문</a></li>
                  <li class="title"><a href="#">처리 중</a></li>
                  <li class="title"><a href="#">발송됨</a></li>
                  <li class="title"><a href="#">배송됨</a></li>
                  <li class="title"><a href="#">반품</a></li>
                </ul>
              </li>
              <!-- INNER END -->
            </div>
            <!-- ACCORDION END -->
            <!-- LI START -->
            <li>
              <a href="http://127.0.0.1:5502/html/components/review.html">
                <i class="review"></i>
                <span>내 리뷰</span>
              </a>
            </li>
            <li>
              <a href="http://127.0.0.1:5502/html/components/mark.html">
                <i class="star"></i>
                <span>즐겨찾기</span>
              </a>
            </li>
            <li>
              <a href="http://127.0.0.1:5502/html/components/disuse.html">
                <i class="event"></i>
                <span>쿠폰/이벤트</span>
              </a>
            </li>
            <!-- LI END -->
          </ul>
          <!-- UL END -->
        </div>
        <!-- LEFTMENU END -->
        <!-- CONTENTS START -->
        <div class="contents">
          <!-- TEXT START -->
          <div class="text">
            <a href="http://127.0.0.1:5502/html/components/disuse.html">
              <span>사용되지 않음</span>
            </a>
            <a href="http://127.0.0.1:5502/html/components/use.html">
              <span>사용됨</span>
            </a>
            <a href="http://127.0.0.1:5502/html/components/expire.html">
              <span>만료됨</span>
            </a>
          </div>
          <!-- TEXT END -->
          <!-- COUPON__CODE START -->
          <div class="coupon__code">
            <input type="text" class="code" placeholder="쿠폰 코드 입력" />
            <button>적용</button>
          </div>
          <!-- COUPON__CODE END -->
        </div>
        <!-- CONTENTS END -->
        <!-- BOX START -->
        <div class="box">
          <!-- ICON START -->
          <div class="icon">
            <!-- COUPON__ICON START -->
            <i class="coupon__icon"></i>
            <!-- COUPON__ICON END -->
            <!-- TEXT__BOX START -->
            <div class="text__box">
              <span>사용 가능한 쿠폰이나 혜택이 없습니다</span>
              <p>해당 리스트에는 지난 3개월 동안 사용된 쿠폰만 표시됩니다.</p>
            </div>
            <!-- TEXT__BOX END -->
          </div>
          <!-- ICON END -->
        </div>
        <!-- BOX END -->
      </div>
      <!-- MARK__INNER END -->
    </div>
    <!-- WRAPPER END -->
    <!-- FOOTER START -->
    <footer id="footer"></footer>
    <!-- FOOTER END -->
  </body>
</html>
