<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEMU</title>

    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/6336e5c545.js"
      crossorigin="anonymous"
    ></script>

    <!-- CUSTOM CSS, JS-->
    <link rel="stylesheet" href="../src/scss/Emptycart.css" />
    <script defer src="../src/javascript/modal.js"></script>
  </head>

  <body>
    <!--header-->
    <header>
      <nav></nav>
    </header>

    <div class="container">
      <!-- MAIN START -->
      <main>
        <!--section__up-->
        <section class="section__up">
          <article>
            <div class="section__title">
              <div class="category">
                <span><a href="#">홈</a></span>
              </div>
              <span class="select__category">
                <span>></span>
                <a href="#none">장바구니</a>
              </span>
            </div>
            <div class="banner">
              <span>테무는 언제나 무료 배송</span>
              <div class="banner-close">
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="toolbar">
              <form
                method="post"
                action="/delete-all-product"
                class="form__left"
              >
                <div class="custom__box">
                  <input
                    type="checkbox"
                    name="checkbox"
                    id="custom__box"
                    class="custom__checkbox"
                  />
                  <label for="custom__box" class="select__all"></label>
                </div>
                <span>전체삭제</span>
                <span>(<span id="item__count">2</span>)</span>
              </form>
              <button>선택삭제</button>
            </div>
            <div class="empty__product">
              <div class="empty__product-up">
                <i class="fa-solid fa-cart-shopping"></i>
                <div class="product-text">
                  <p class="product__text-up">장바구니가 비어있습니다</p>
                  <p class="product__text-down">
                    마음에 드는 상품을 추가하세요
                  </p>
                </div>
              </div>
              <button class="popular-btn">인기상품보기</button>
            </div>
          </article>
        </section>

        <!--section__down-->
        <section class="section__down">
          <!-- section__down-title -->
          <article class="section__down-title">
            <h2>다른 고객이 함께 구매한 상품</h2>
          </article>
          <!-- product-->
          <article class="section__down-product">
            <!-- product-up -->

            <!-- button -->
            <button>더보기<i class="fa-solid fa-chevron-down"></i></button>
          </article>
        </section>
      </main>
      <!-- MAIN END -->

      <!--ASIDE END-->
      <aside>
        <div class="checkout__summary">
          <!--summary__item-->
          <div class="summary__item">
            <ul>
              <li class="product__fee">
                <span>상품금액</span>
                <span class="price">₩11,000</span>
              </li>
              <li class="product__sale">
                <span>상품할인금액</span>
                <span class="discount">-₩4,200</span>
              </li>
              <li class="additional__info">
                ₩16,000 추가주문 시, <span>구매 가능</span>
              </li>
            </ul>
          </div>
          <hr />

          <!--summary__price-->
          <div class="summary__Price">
            <ul>
              <li class="summary__item__total">
                <p>결제금액<span>(2개상품)</span></p>
                <span class="price">₩11,000</span>
              </li>
              <li class="tax__info">
                <span class="tax__label">TAX</span>
                <span class="tax__text"
                  >Temu의 가격은 관세가격을 포함합니다.</span
                >
              </li>
            </ul>
          </div>

          <!--button-->
          <button type="submit" class="checkout__button">결제하기</button>

          <!--info-->
          <div class="info">
            <ul>
              <li class="info__text">
                <i class="fa-solid fa-circle-exclamation"></i>
                <p>
                  결제가 완료될때까지 제품의 가격 및 구매 여부가 보장되지
                  않습니다.
                </p>
              </li>
              <li class="info__text">
                <i class="fa-solid fa-circle-exclamation"></i>
                <p>
                  다음페이지에서 주문서를 확인하기 전까지 결제가 되지 않습니다.
                </p>
              </li>
              <li class="info__text">
                <i class="fa-solid fa-circle-exclamation"></i>
                <p>
                  마이페이지>주문내역 상세페이지에서 직접 취소 할 수 있습니다.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </aside>
      <!--ASIDE END-->
    </div>

    <!--footer-->
    <footer></footer>
  </body>
</html>
