<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f3ede209f8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../src/scss/layout/mark.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="box"></div>
      <div class="container">
        <div class="text">
          <span>홈 <i class="fa-solid fa-chevron-right"></i> 즐겨찾기</span>
        </div>
        <div class="menu">
          <ul>
            <li>
              <img src="../assets/images/document.svg" alt="document" />내 주문
            </li>
            <li>
              <img src="../assets/images/review.svg" alt="review" />내 리뷰
            </li>
            <li>
              <img
                src="../assets/images/delivery.svg"
                alt="delivery"
              />주문/배송
            </li>
            <li><img src="../assets/images/star.svg" alt="star" />즐겨찾기</li>
            <li>
              <img src="../assets/images/event.svg" alt="event" />쿠폰/이벤트
            </li>
          </ul>
        </div>
        <div class="mark">
          <span>즐겨찾기</span>
        </div>
        <div class="contents">
          <img src="../assets/images/star.svg" alt="starproduct" />
          <span>제품이 없습니다</span>
        </div>
      </div>
    </div>
  </body>
</html>
