<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEMU</title>

    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/6336e5c545.js"
      crossorigin="anonymous"
    ></script>

    <!-- CUSTOM CSS, JS-->
    <link rel="stylesheet" href="../src/scss/Ordercompleted.css" />
    <script src="../src/javascript/Ordercompleted.js"></script>
  </head>
  <body>
    
    <header>
      </header>
    <!-- MAIN START -->
    <main>
      <div class="container">
        <!-- section__up -->
        <section class="section__up">
          <!-- title -->
              <article class="section__up-title">
                <i class="fa-solid fa-circle-check"></i>
                <h2>주문완료!</h2>
              </article>
              <!-- address_info -->
              <article class="address__info">
                <div class="info__up">
                  <span>배송정보</span>
                  <span>주소 변경 ></span>
                </div>
                <div class="info__down">
                  <ul>
                    <li>
                      홍길동
                    </li>
                    <li>82+ 123-4567-8910</li>
                    <li>
                      01234 대한민국 서울특별시 삼각구 이젠 아파트 9동 901호
                    </li>
                  </ul>
                </div>
              </article>
              <!-- shopping__info -->
              <article class="shopping__info">
                <ul>
                  <li>
                    <a href="#none">
                      <img src="./img/product.png" alt="product" />
                    </a>
                    <div>
                    <span>주문상품 (2건)</span>
                    <span>배송날짜 1월 4일 - 14일</span>
                  </div>
                  </li>
                  <li>   
                    <button>주문 / 배송</button>
                  </li>
                </ul>
              </article>
              <!-- info -->
              <article class="info">
                <div class="info-text">
                  <ul>            
                    <li>
                      <div>
                        <i class="fa-solid fa-circle-info"></i>
                        마이페이지>주문/배송에서 직접 취소할 수 있습니다.
                      </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa-solid fa-circle-info"></i>
                        Temu 앱으로 배송 조회가 가능합니다.
                      </div>
                    </li>
                  </ul>
              </article>
        </section>
        <!-- section__down -->
         <section class="section__down">
          <!-- section__down-title -->
              <article class="section__down-title">
                 <h2 >다른 고객이 함께 구매한 상품</h2>
              </article>
              <!-- product-->
              <article class="section__down-product">
                <!-- product-up -->
                  <div class="product-up">
                    <!-- product -->
                    <ul class="product">
                      <li>
                        <a href="#none">
                          <img src="./img/product.png" alt="product01">
                        </a>
                      </li>
                      <li> 
                        <div class="first__text">
                        <p>귀여운 이불 세트 3개(이불 1개 + 베갯</br>잇 2개, 코어리스), 부드럽고
                          편안한 침구</span>
                      </div>
                      </li>
                      <li>
                        <div class="second__text">
                          <p class="price">
                            <span class="sale">62%</span>
                            <span>19,325</span>
                          </p>
                          <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                      </li>
                      <li>
                     <div class="third__text">
                          <div>
                            <i class="fa-solid fa-star"></i>
                            <span>4.8</span>
                          </div>
                          <span class="review">리뷰(3420)</span>
                     </div>
                      </li>
                      <li>
                        <div class="last__text">
                          <span class="sale">매진임박</span>
                          <span class="remain">12개남음</span>
                        </div>
                      </li>
                    </ul>
                    <ul class="product">
                      <li>
                        <a href="#none">
                          <img src="./img/product.png" alt="product01">
                        </a>
                      </li>
                      <li> 
                        <div class="first__text">
                        <p>귀여운 이불 세트 3개(이불 1개 + 베갯</br>잇 2개, 코어리스), 부드럽고
                          편안한 침구</span>
                      </div>
                      </li>
                      <li>
                        <div class="second__text">
                          <p class="price">
                            <span class="sale">62%</span>
                            <span>19,325</span>
                          </p>
                          <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                      </li>
                      <li>
                     <div class="third__text">
                          <div>
                            <i class="fa-solid fa-star"></i>
                            <span>4.8</span>
                          </div>
                          <span class="review">리뷰(3420)</span>
                     </div>
                      </li>
                      <li>
                        <div class="last__text">
                          <span class="sale">매진임박</span>
                          <span class="remain">12개남음</span>
                        </div>
                      </li>
                    </ul>
                    <ul class="product">
                      <li>
                        <a href="#none">
                          <img src="./img/product.png" alt="product01">
                        </a>
                      </li>
                      <li> 
                        <div class="first__text">
                        <p>귀여운 이불 세트 3개(이불 1개 + 베갯</br>잇 2개, 코어리스), 부드럽고
                          편안한 침구</span>
                      </div>
                      </li>
                      <li>
                        <div class="second__text">
                          <p class="price">
                            <span class="sale">62%</span>
                            <span>19,325</span>
                          </p>
                          <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                      </li>
                      <li>
                     <div class="third__text">
                          <div>
                            <i class="fa-solid fa-star"></i>
                            <span>4.8</span>
                          </div>
                          <span class="review">리뷰(3420)</span>
                     </div>
                      </li>
                      <li>
                        <div class="last__text">
                          <span class="sale">매진임박</span>
                          <span class="remain">12개남음</span>
                        </div>
                      </li>
                    </ul>
                    <ul class="product">
                      <li>
                        <a href="#none">
                          <img src="./img/product.png" alt="product01">
                        </a>
                      </li>
                      <li> 
                        <div class="first__text">
                        <p>귀여운 이불 세트 3개(이불 1개 + 베갯</br>잇 2개, 코어리스), 부드럽고
                          편안한 침구</span>
                      </div>
                      </li>
                      <li>
                        <div class="second__text">
                          <p class="price">
                            <span class="sale">62%</span>
                            <span>19,325</span>
                          </p>
                          <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                      </li>
                      <li>
                     <div class="third__text">
                          <div>
                            <i class="fa-solid fa-star"></i>
                            <span>4.8</span>
                          </div>
                          <span class="review">리뷰(3420)</span>
                     </div>
                      </li>
                      <li>
                        <div class="last__text">
                          <span class="sale">매진임박</span>
                          <span class="remain">12개남음</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!-- product-down -->
                  <div class="product-down">
                     <!-- product -->
                    <ul class="product">
                      <li>
                        <a href="#none">
                          <img src="./img/product.png" alt="product01">
                        </a>
                      </li>
                      <li> 
                        <div class="first__text">
                        <p>귀여운 이불 세트 3개(이불 1개 + 베갯</br>잇 2개, 코어리스), 부드럽고
                          편안한 침구</span>
                      </div>
                      </li>
                      <li>
                        <div class="second__text">
                          <p class="price">
                            <span class="sale">62%</span>
                            <span>19,325</span>
                          </p>
                          <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                      </li>
                      <li>
                     <div class="third__text">
                          <div>
                            <i class="fa-solid fa-star"></i>
                            <span>4.8</span>
                          </div>
                          <span class="review">리뷰(3420)</span>
                     </div>
                      </li>
                      <li>
                        <div class="last__text">
                          <span class="sale">매진임박</span>
                          <span class="remain">12개남음</span>
                        </div>
                      </li>
                    </ul>
                    <ul class="product">
                      <li>
                        <a href="#none">
                          <img src="./img/product.png" alt="product01">
                        </a>
                      </li>
                      <li> 
                        <div class="first__text">
                        <p>귀여운 이불 세트 3개(이불 1개 + 베갯</br>잇 2개, 코어리스), 부드럽고
                          편안한 침구</span>
                      </div>
                      </li>
                      <li>
                        <div class="second__text">
                          <p class="price">
                            <span class="sale">62%</span>
                            <span>19,325</span>
                          </p>
                          <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                      </li>
                      <li>
                     <div class="third__text">
                          <div>
                            <i class="fa-solid fa-star"></i>
                            <span>4.8</span>
                          </div>
                          <span class="review">리뷰(3420)</span>
                     </div>
                      </li>
                      <li>
                        <div class="last__text">
                          <span class="sale">매진임박</span>
                          <span class="remain">12개남음</span>
                        </div>
                      </li>
                    </ul>
                    <ul class="product">
                      <li>
                        <a href="#none">
                          <img src="./img/product.png" alt="product01">
                        </a>
                      </li>
                      <li> 
                        <div class="first__text">
                        <p>귀여운 이불 세트 3개(이불 1개 + 베갯</br>잇 2개, 코어리스), 부드럽고
                          편안한 침구</span>
                      </div>
                      </li>
                      <li>
                        <div class="second__text">
                          <p class="price">
                            <span class="sale">62%</span>
                            <span>19,325</span>
                          </p>
                          <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                      </li>
                      <li>
                     <div class="third__text">
                          <div>
                            <i class="fa-solid fa-star"></i>
                            <span>4.8</span>
                          </div>
                          <span class="review">리뷰(3420)</span>
                     </div>
                      </li>
                      <li>
                        <div class="last__text">
                          <span class="sale">매진임박</span>
                          <span class="remain">12개남음</span>
                        </div>
                      </li>
                    </ul>
                    <ul class="product">
                      <li>
                        <a href="#none">
                          <img src="./img/product.png" alt="product01">
                        </a>
                      </li>
                      <li> 
                        <div class="first__text">
                        <p>귀여운 이불 세트 3개(이불 1개 + 베갯</br>잇 2개, 코어리스), 부드럽고
                          편안한 침구</span>
                      </div>
                      </li>
                      <li>
                        <div class="second__text">
                          <p class="price">
                            <span class="sale">62%</span>
                            <span>19,325</span>
                          </p>
                          <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                      </li>
                      <li>
                     <div class="third__text">
                          <div>
                            <i class="fa-solid fa-star"></i>
                            <span>4.8</span>
                          </div>
                          <span class="review">리뷰(3420)</span>
                     </div>
                      </li>
                      <li>
                        <div class="last__text">
                          <span class="sale">매진임박</span>
                          <span class="remain">12개남음</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!-- button -->
                  <button>더보기<i class="fa-solid fa-chevron-down"></i></button>
              </article>
        </section>
      </div>
    </main> 
    <!-- MAIN END -->
     
<footer></footer>
  </body>
</html>
