@import "../config/./reset.scss";
@import "../config/./colors.scss";

body {
  width: 100%;
  height: 100vh;
}

.wrapper {
  .box {
    width: 1382px;
    height: 130px;
    margin-bottom: 16px;
  }
  .container {
    .text {
      span {
        border: 1px solid #f00;
      }
    }
    .menu {
      width: 214px;
      height: 478px;
      border: 1px solid #f00;
      & > ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        li {
          img {
          }
        }
      }
    }
  }
}
