/* VARIABLES */
$color: (
  primary-color: #ff6d00,
  secondary-color: #009e95,
  color-Black: #101010,
  color-Neutrals-Grey-800: #292828,
  color-Neutrals-Grey-700: #4a4949,
  color-Neutrals-Grey-600: #6a6a6a,
  color-Neutrals-Grey-500: #818181,
  color-Neutrals-Grey-400: #9a9a9a,
  color-Neutrals-Grey-300: #b5b5b5,
  color-Neutrals-Grey-200: #d4d4d4,
  color-Neutrals-Grey-100: #f6f6f6,
  color-White: #fff,
);

$color-hover: (
  primary-color: #ff7629,
  secondary-color: #038b83,
  info-color: #007316,
  primary-hover-color: #fff7f0,
);

$color-system: (
  success-color: #ff6d00,
  error-color: #fc3310,
  info-color: #0a8800,
  font-color: #009fce,
);

$color-background: (
  info-color: #e6f3e5,
);
