@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

$font: (
  primary-font-r: "Pretendard-Regular",
  primary-font-b: "Pretendard-Bold",
);

/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
.heading_XXL_56 {
  font-family: map-get($font, primary-font);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.12px;
}

.heading_XL_48 {
  font-family: map-get($font, primary-font-b);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.96px;
}

.heading_L_40 {
  font-family: map-get($font, primary-font-b);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.8px;
}

.heading_M_32 {
  font-family: map-get($font, primary-font-b);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.64px;
}

.heading_S_24 {
  font-family: map-get($font, primary-font-b);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}

.heading_XS_20 {
  font-family: map-get($font, primary-font-b);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.heading_XXS_16 {
  font-family: map-get($font, primary-font-b);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}

/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_XXL_26 {
  font-family: map-get($font, primary-font-r);
  font-size: 26px;
  font-style: normal;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_XL_22 {
  font-family: map-get($font, primary-font-r);
  font-size: 22px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.66px;
}

.text_L_18 {
  font-family: map-get($font, primary-font-r);
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_M_16 {
  font-family: map-get($font, primary-font-r);
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.text_S_14 {
  font-family: map-get($font, primary-font-r);
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.text_XS_12 {
  font-family: map-get($font, primary-font-r);
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}

/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_B_XXL_26 {
  font-family: map-get($font, primary-font-b);
  font-size: 26px;
  font-style: bold;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_B_XL_22 {
  font-family: map-get($font, primary-font-b);
  font-size: 22px;
  font-style: bold;
  font-weight: 900;
  line-height: 30px;

  letter-spacing: -0.66px;
}

.text_B_L_18 {
  font-family: map-get($font, primary-font-b);
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_B_M_16 {
  font-family: map-get($font, primary-font-b);
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.text_B_S_14 {
  font-family: map-get($font, primary-font-b);
  font-size: 14px;
  font-style: bold;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.text_B_XS_12 {
  font-family: map-get($font, primary-font-b);
  font-size: 12px;
  font-style: bold;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.36px;
}
