@import "../config/colors.scss";
@import "../config/fonts.scss";
@import "../config/image.scss";
@import "../config/reset.scss";
@import "../layout/layout.scss";

// WRAPPER
.wrapper {
  height: 100vh;
  @include width_full;
  .mark__inner {
    display: flex;
    height: 100%;
    // LEFTMENU
    .leftmenu {
      width: 200px;
      height: 100%;
      // UL
      > ul {
        .home {
          gap: 5px;
          padding: 0px 18px;
          @include text_XS_12;
        }
        > li {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          cursor: pointer;
          a {
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
          }
          & > div {
            display: flex;
            justify-content: space-between;
            width: 14;
          }
          .document {
            width: 24px;
            height: 24px;
            background-image: url(../../../assets/images/mypage/document.svg);
            @include background_cover;
          }

          .review {
            width: 24px;
            height: 24px;
            background-image: url(../../../assets/images/mypage/review.svg);
            @include background_cover;
          }
          .star {
            width: 24px;
            height: 24px;
            background-image: url(../../../assets/images/mypage/star.svg);
            @include background_cover;
          }
          .event {
            width: 24px;
            height: 24px;
            background-image: url(../../../assets/images/mypage/event.svg);
            @include background_cover;
          }
          span {
            @include text_S_14;
          }
        }
        .my-order {
          display: flex;
          align-items: center;
          justify-content: space-between;
          // border: 1px solid red;
          width: 170px;

          > div {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .fa-chevron-down {
            // margin-right: 20px;
            transition: transform 0.5s;
            &.active {
              transform: rotate(180deg);
            }
          }
        }
        .inner {
          display: flex;
          flex-direction: column;
          position: relative;
          @include text_S_14;
          ul {
            display: none;
            &.active {
              display: block;
            }
          }
          .title {
            display: flex;
            padding: 10px 10px;
            @include text_S_14;
            &:hover {
              background: map-get($color-hover, primary-hover-color);
            }
          }
        }
      }
    }
    // CONTAINER
    .container {
      // CONTENTS
      width: 100%;
      .contents {
        // TEXT
        .text {
          display: flex;
          gap: 60px;
          margin-bottom: 20px;
          width: 100%;
          font-size: 14px;
          color: map-get($color, color-Neutrals-Grey-800);
          cursor: pointer;
          a {
            &:hover {
              cursor: pointer;
            }
            &:nth-child(1) {
              color: map-get($color, color-Neutrals-Grey-500);
              &:hover {
                color: map-get($color, color-Neutrals-Grey-800);
              }
            }
          }
        }
      }
      // BOX
      .box {
        width: 953px;
        // ITEM
        .item {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          width: 100%;
          height: 100%;
          // PRODUCTIMG
          .productImg {
            width: 71px;
            height: 71px;
            background-image: url(../../../assets/images/mypage/productImg.svg);
            @include background_cover;
          }
          // TEXT__BOX
          .text__box {
            padding: 14px 11px;
            width: 100%;
            height: 100%;
            background: map-get($color, color-Neutrals-Grey-100);
            p {
              margin-bottom: 5px;
              @include text_S_14;
            }
            span {
              @include text_XS_12;
              color: map-get($color, color-Neutrals-Grey-500);
            }
          }
        }
        // REVEIW
        .reveiw {
          // STARBOX
          .starBox {
            display: flex;
            justify-content: space-between;
            // STARIMG
            .starImg {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 15px;
              // IMG
              .img {
                width: 20px;
                height: 20px;
                background-image: url(../../../assets/images/mypage/reviewstar.svg);
                @include background_cover;
              }
              span {
                padding: 5px;
                @include text_S_14;
              }
            }
            // DATE
            .date {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              width: 180px;
              span {
                color: map-get($color, color-Neutrals-Grey-500);
              }
            }
          }
          // TEXT
          .text {
            margin-bottom: 15px;
            span {
              @include text_S_14;
              color: map-get($color, color-Neutrals-Grey-800);
            }
          }
          // END__BOX
          .end__box {
            display: flex;
            justify-content: space-between;
            // OTHER
            .other {
              display: flex;
              align-items: center;
              // ITEM__BOX
              .item__box {
                display: flex;
                gap: 3px;
                align-items: center;
              }
              // SPAN
              span {
                &:first-child {
                  @include background_cover;
                  width: 18px;
                  height: 18px;
                  background-image: url(../../../assets/images/mypage/good.svg);
                }
                &:not(:first-child) {
                  margin-right: 10px;
                  color: map-get($color, color-Neutrals-Grey-800);
                  &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                  }
                }
              }
            }
            // SHARE
            .share {
              display: flex;
              gap: 5px;
              align-items: center;
              justify-content: center;
              border: 1px solid map-get($color, color-Neutrals-Grey-400);
              width: 130px;
              height: 40px;
              color: map-get($color, color-Neutrals-Grey-400);
              border-radius: 8px;
              &:hover {
                background: map-get($color, color-Neutrals-Grey-100);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

// MOBILE
@media screen and (max-width: 768px) {
  // WRAPPER
  .wrapper {
    width: 100%;
    height: 100vh;
    @include width_full;
    // MARK__INNER
    .mark__inner {
      display: flex;
      width: 100%;
      // LEFTMENU
      .leftmenu {
        display: flex;
      }
      // CONTAINER
      .container {
        // CONTENTS
        .contents {
          // TEXT
          .text {
            gap: 30px;
          }
        }
        // BOX
        .box {
          // REVEIW
          width: 100%;

          .reveiw {
            // STARBOX

            .starBox {
              display: flex;
              // STARIMG
              .starImg {
                width: 100%;
                // IMG
                // SPAN
                span {
                  width: 70%;
                }
              }
              // DATA
              .date {
                width: 100%;
                span {
                  @include text_S_14;
                }
              }
            }
            // TEXT
            .text {
              padding-top: 5px;
              span {
                display: flex;
              }
            }
            // END__BOX

            .end__box {
              .other {
                @include text_S_14;
              }
            }
            // SHARE
            .share {
              width: 90px;
              height: 30px;
              @include text_S_14;
            }
          }
        }
      }
    }
  }
}

// MOBILE
@media screen and (max-width: 390px) {
  // WRAPPER
  .wrapper {
    width: 100%;
    height: 100vh;
    @include width_full;
    // MARK__INNER
    .mark__inner {
      display: flex;
      width: 100%;
      // LEFTMENU
      .leftmenu {
        display: none;
      }
      // BOX
      .box {
        width: 100%;
        // ITEM
        .item {
          .productImg {
            width: 97px;
            height: 97px;
          }
          // TEXT__BOX
          .text__box {
            width: 0px;
          }
        }
      }
    }
  }
}
