@import "../config/colors.scss";
@import "../config/fonts.scss";
@import "../config/image.scss";
@import "../config/reset.scss";
@import "../layout/layout.scss";

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: map-get($color, color-Neutrals-Grey-800);
  @include width_full;
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    height: 90%;
    .inner__contents {
      margin-bottom: 10px;
      color: map-get($color, color-Neutrals-Grey-700);
      text-align: center;
      @include heading_S_24;
    }
    #info {
      color: map-get($color, color-Neutrals-Grey-700);
      .info__id {
        .id {
          //   border: 1px solid red;
          @include text_B_M_16;
          margin-bottom: 5px;
        }
        .user__id {
          display: flex;
          flex-direction: column;
          // align-items: center;
          margin-bottom: 10px;
          .userid {
            padding: 10px;
            border: 1px solid map-get($color, color-Neutrals-Grey-300);
            width: 360px;
            height: 40px;
            border-radius: 5px;
            @include text_M_16;
          }
          .success {
            @include text_S_14;
            display: none;
            color: map-get($color-system, info-color);
            span {
              margin-left: 3px;
            }
          }
          .failure {
            @include text_S_14;
            display: none;
            color: map-get($color-system, error-color);
          }
          .failure__message {
            @include text_S_14;
            display: none;
            margin-bottom: 8px;
            color: map-get($color-system, error-color);
          }
        }
      }
      .info__password {
        .user__password {
          //   border: 1px solid red;
          @include text_B_M_16;
          margin-bottom: 2px;
        }
        .password__txt {
          @include text_S_14;
          margin-bottom: 2px;
          color: map-get($color, color-Neutrals-Grey-600);
        }
        fieldset {
          display: flex;
          align-items: center;
          .password {
            // border: 1px solid red;
            display: flex;
            margin-bottom: 5px;
            padding: 10px;
            border: 1px solid map-get($color, color-Neutrals-Grey-300);
            position: relative;
            width: 360px;
            height: 40px;
            border-radius: 5px;
            @include text_M_16;
          }
          .fa-eye-slash,
          .fa-eye {
            position: absolute;
            // border: 1px solid red;
            bottom: 80;
            left: 50;
            color: map-get($color, color-Neutrals-Grey-500);
            transform: translate(-150%, -60%);
          }
        }
        .password__message {
          @include text_S_14;
          display: none;
          margin-bottom: 8px;
          color: map-get($color-system, error-color);
        }
        .success__password {
          @include text_S_14;
          display: none;
          margin-bottom: 8px;
          color: map-get($color-system, info-color);
        }
      }
      .info__password__check {
        .password__check {
          //   border: 1px solid red;
          @include text_B_M_16;
          margin-bottom: 2px;
        }
        fieldset {
          display: flex;
          align-items: center;
          .confrim__password {
            display: flex;
            margin-bottom: 5px;
            padding: 10px;
            border: 1px solid map-get($color, color-Neutrals-Grey-300);
            position: relative;
            width: 360px;
            height: 40px;
            border-radius: 5px;
            @include text_M_16;
          }
          .fa-eye-slash,
          .fa-eye {
            position: absolute;
            bottom: 80;
            left: 50;
            color: map-get($color, color-Neutrals-Grey-500);
            transform: translate(-150%, -60%);
          }
        }

        .mismatch__message {
          @include text_S_14;
          display: none;
          margin-bottom: 8px;
          color: map-get($color-system, error-color);
        }
        .password__success {
          @include text_S_14;
          display: none;
          margin-bottom: 8px;
          color: map-get($color-system, info-color);
        }
      }
      .info__email {
        .user__email {
          @include text_B_M_16;
          margin-bottom: 2px;
        }

        #email__item {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          .email {
            margin-right: 5px;
            padding: 10px;
            border: 1px solid map-get($color, color-Neutrals-Grey-300);
            width: 170px;
            height: 40px;
            border-radius: 5px;
            @include text_M_16;
          }
          span {
            color: map-get($color, color-Neutrals-Grey-400);
          }
          .control {
            display: flex;
            margin-left: 5px;
            padding-left: 10px;
            border: 1px solid map-get($color, color-Neutrals-Grey-300);
            // border: 1px solid red;
            width: 170px;
            height: 40px;
            color: map-get($color, color-Neutrals-Grey-600);
            border-radius: 5px;
            @include text_M_16;
          }
        }
        .email__success {
          @include text_S_14;
          display: none;
          margin-bottom: 8px;
          color: map-get($color-system, info-color);
        }
        .email__fail {
          @include text_S_14;
          display: none;
          margin-bottom: 8px;
          color: map-get($color-system, error-color);
        }
        .email__error {
          @include text_S_14;
          display: none;
          margin-bottom: 8px;
          color: map-get($color-system, error-color);
        }
      }
    }
    #agreement {
      #agree {
        .agree__title {
          margin-bottom: 2px;
          color: map-get($color, color-Neutrals-Grey-800);
          @include text_B_M_16;
        }
        #items {
          display: flex;
          // justify-content: center;
          justify-content: start;
          flex-direction: column;
          margin-bottom: 10px;
          padding: 5px 20px;
          border: 1px solid red;
          border: 1px solid map-get($color, color-Neutrals-Grey-300);
          width: 100%;
          border-radius: 3px;
          > div {
            height: 28px;
          }
          #agree__box {
            display: flex;
            margin-bottom: 2px;
            border-bottom: 1px solid map-get($color, color-Neutrals-Grey-300);
            .agree__checkbox {
              display: flex;
              align-items: center;
              margin-bottom: 3px;
              .checkbox {
                width: 18px;
                height: 18px;
              }
              .All__checkbox {
                // border: 1px solid red;
                @include text_B_M_16;
                margin-left: 5px;
              }
              .box__txt {
                @include text_XS_12;
                margin-left: 5px;
                color: map-get($color, color-Neutrals-Grey-600);
              }
            }
          }
          #age__box {
            display: flex;
            margin-bottom: 2px;
            .age__checkbox {
              display: flex;
              align-items: center;
              margin: 3px;
              .checkbox {
                width: 18px;
                height: 18px;
              }
              .txt {
                // border: 1px solid red;
                @include text_S_14;
                margin-left: 5px;
              }
              .txt__box {
                @include text_XS_12;
                margin-left: 5px;
                color: map-get($color-system, font-color);
              }
            }
          }
          #use__box {
            display: flex;
            margin-bottom: 2px;
            .use__checkbox {
              display: flex;
              align-items: center;
              margin: 3px;
              .checkbox {
                width: 18px;
                height: 18px;
              }
              .txt {
                // border: 1px solid red;
                @include text_S_14;
                margin-left: 5px;
              }
              .txt__box {
                @include text_XS_12;
                margin-left: 5px;
                color: map-get($color-system, font-color);
              }
            }
          }
          #userinfo__box {
            display: flex;
            margin-bottom: 2px;
            .userinfo__checkbox {
              display: flex;
              align-items: center;
              margin: 3px;
              .checkbox {
                width: 18px;
                height: 18px;
              }
              .txt {
                // border: 1px solid red;
                @include text_S_14;
                margin-left: 5px;
              }
              .txt__box {
                @include text_XS_12;
                margin-left: 5px;
                color: map-get($color-system, font-color);
              }
            }
          }
          #marketing__box {
            display: flex;
            margin-bottom: 2px;
            .marketing__checkbox {
              display: flex;
              align-items: center;
              margin: 3px;
              .checkbox {
                width: 18px;
                height: 18px;
              }
              .txt {
                // border: 1px solid red;
                @include text_S_14;
                margin-left: 5px;
              }
              .txt__box {
                @include text_XS_12;
                margin-left: 5px;
                color: map-get($color, color-Neutrals-Grey-600);
              }
            }
          }
          #event__box {
            display: flex;
            // margin-bottom: 2px;
            .event__checkbox {
              display: flex;
              align-items: center;
              margin: 3px;
              .checkbox {
                width: 18px;
                height: 18px;
              }

              .txt {
                // border: 1px solid red;
                @include text_S_14;
                margin-left: 5px;
              }
              .txt__box {
                @include text_XS_12;
                margin-left: 5px;
                color: map-get($color, color-Neutrals-Grey-600);
              }
            }
          }
        }
      }
    }
    #signup__btn {
      button {
        border: none;
        width: 100%;
        height: 45px;
        background: map-get($color, primary-color);
        color: map-get($color, color-White);
        border-radius: 3px;
        @include text_M_16;
        &.hover {
          background: map-get($color, primary-color);
        }
      }
    }
  }
}
