@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
.heading_XXL_56 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.12px;
}

.heading_XL_48, .hi {
  font-family: "Pretendard-Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.96px;
}

.heading_L_40 {
  font-family: "Pretendard-Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.8px;
}

.heading_M_32 {
  font-family: "Pretendard-Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.64px;
}

.heading_S_24 {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}

.heading_XS_20 {
  font-family: "Pretendard-Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.heading_XXS_16 {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}

/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_XXL_26 {
  font-family: "Pretendard-Regular";
  font-size: 26px;
  font-style: normal;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_XL_22 {
  font-family: "Pretendard-Regular";
  font-size: 22px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.66px;
}

.text_L_18 {
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_M_16, aside .checkout__summary .summary__item__total p, aside .checkout__summary .summary__item, main .section__down article .product button, main .section__up article .product .number__input span, main .section__up article .product .number__input button, main .section__up article .product .number__input, main .section__up article .toolbar button, main .section__up article .banner {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.text_S_14, aside .checkout__summary .info, aside .checkout__summary .summary__item__total p span, aside .checkout__summary .additional__info, main .section__down article .product .product__down .product .product__text__down .third__text, main .section__down article .product .product__down .product .product__text__down .first__text, main .section__down article .product .product__up .product .product__text__down .third__text, main .section__down article .product .product__up .product .product__text__down .first__text, main .section__up article .product .product__text .product__text__down, main .section__up article .product .product__text .product__text__up, main .section__up article .section__title {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}

.text_XS_12, aside .checkout__summary .tax__info, main .section__down article .product .product__down .product .product__text__down .last__text, main .section__down article .product .product__up .product .product__text__down .last__text, main .section__up article .product .price__text .price__text__down {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}

/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_B_XXL_26 {
  font-family: "Pretendard-Bold";
  font-size: 26px;
  font-style: bold;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_B_XL_22 {
  font-family: "Pretendard-Bold";
  font-size: 22px;
  font-style: bold;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -0.66px;
}

.text_B_L_18, aside .checkout__summary .summary__item__total .price, main .section__down article .product .product__down .product .product__text__down .second__text .price span, main .section__down article .product .product__up .product .product__text__down .second__text .price span, main .section__down article .title, main .section__up article .product .price__text .price__text__up {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_B_M_16, aside .checkout__summary .checkout__button, main .section__up article .toolbar .form__left span {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.text_B_S_14, aside .checkout__summary .additional__info span {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: bold;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}

.text_B_XS_12, main .section__down article .product .product__down .product .product__text__down .second__text .price .sale, main .section__down article .product .product__up .product .product__text__down .second__text .price .sale {
  font-family: "Pretendard-Bold";
  font-size: 12px;
  font-style: bold;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.36px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.width_full, header, .hi {
  width: 100%;
}

.width_inner, .container {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.hi {
  color: #009e95;
}

/*header*/
header {
  margin-bottom: 23px;
  border-bottom: 1px solid #b5b5b5;
  height: 82px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/*main*/
main {
  width: 961px;
}
main .section__up {
  width: 961px;
}
main .section__up article .section__title {
  display: flex;
  gap: 10px;
  margin-bottom: 28px;
  padding-left: 6px;
}
main .section__up article .section__title .category {
  color: #818181;
}
main .section__up article .section__title .select__category {
  gap: 10px;
}
main .section__up article .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 48px;
  background-color: #e6f3e5;
  border-radius: 8px;
}
main .section__up article .banner .close {
  border: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
}
main .section__up article .banner .close span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 80%;
  background-color: #000;
}
main .section__up article .banner .close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
main .section__up article .banner .close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}
main .section__up article .toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 14px 12px 18px 12px;
  border-bottom: 1px solid #b5b5b5;
  height: 51px;
}
main .section__up article .toolbar .form__left {
  display: flex;
  align-items: center;
}
main .section__up article .toolbar .form__left .custom__box {
  padding-right: 6px;
  position: relative;
}
main .section__up article .toolbar .form__left .custom__box input[type=checkbox].custom__checkbox {
  display: none;
}
main .section__up article .toolbar .form__left .custom__box .select__all {
  display: inline-block;
  border: 1px solid #000;
  position: relative;
  width: 16px;
  height: 16px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}
main .section__up article .toolbar .form__left .custom__box .select__all::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}
main .section__up article .toolbar .form__left .custom__box input[type=checkbox]:checked + .select__all {
  background-color: black;
}
main .section__up article .toolbar .form__left .custom__box input[type=checkbox]:checked + .select__all::after {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  content: "✓";
  transform: translate(-50%, -50%);
}
main .section__up article .toolbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  color: #4a4949;
  cursor: pointer;
}
main .section__up article .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 12px;
  height: 176px;
}
main .section__up article .product .custom__box {
  padding-right: 6px;
  position: relative;
}
main .section__up article .product .custom__box input[type=checkbox].custom__checkbox__2 {
  display: none;
}
main .section__up article .product .custom__box .select {
  display: inline-block;
  border: 1px solid #000;
  position: relative;
  width: 16px;
  height: 16px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}
main .section__up article .product .custom__box .select::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}
main .section__up article .product .custom__box input[type=checkbox]:checked + .select {
  background-color: black;
}
main .section__up article .product .custom__box input[type=checkbox]:checked + .select::after {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  content: "✓";
  transform: translate(-50%, -50%);
}
main .section__up article .product .img {
  width: 128px;
  height: 128px;
  border-radius: 8px;
}
main .section__up article .product .img img {
  width: 100%;
  height: 100%;
}
main .section__up article .product .product__text {
  display: flex;
  gap: 10px;
  justify-content: start;
  flex-direction: column;
}
main .section__up article .product .product__text .product__text__down {
  color: #4a4949;
}
main .section__up article .product .number__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100px;
  height: 33px;
  border-radius: 8px;
}
main .section__up article .product .number__input button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 37px;
  height: 34px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}
main .section__up article .product .number__input button:hover {
  background-color: #f0f0f0;
}
main .section__up article .product .number__input span {
  width: 20px;
  text-align: center;
}
main .section__up article .product .price__text {
  display: flex;
  gap: 6px;
  flex-direction: column;
  text-align: center;
}
main .section__up article .product .price__text .price__text__down {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}
main .section__up article .product .price__text .price__text__down .sale {
  display: block;
  padding: 0, 3px;
  border: 1px solid #ff6d00;
  width: 33px;
  height: 14px;
  color: #ff6d00;
  border-radius: 5px;
}
main .section__up article .product .close {
  border: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
}
main .section__up article .product .close span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 80%;
  background-color: #000;
}
main .section__up article .product .close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
main .section__up article .product .close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}
main .section__down {
  width: 961px;
}
main .section__down article .title {
  margin-bottom: 35px;
}
main .section__down article .product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
}
main .section__down article .product .product__up {
  display: flex;
  gap: 55.31px;
  align-items: center;
}
main .section__down article .product .product__up .product .product__img {
  margin-bottom: 12.69px;
  width: 199.31px;
  height: 199.31px;
  border-radius: 8px;
}
main .section__down article .product .product__up .product .product__img .img {
  width: 100%;
  height: 100%;
}
main .section__down article .product .product__up .product .product__text__down {
  display: flex;
  gap: 7px;
  flex-direction: column;
}
main .section__down article .product .product__up .product .product__text__down .second__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .section__down article .product .product__up .product .product__text__down .second__text .price {
  gap: 5px;
}
main .section__down article .product .product__up .product .product__text__down .second__text .price .sale {
  color: #ff6d00;
}
main .section__down article .product .product__up .product .product__text__down .second__text i {
  padding: 5px 8px;
  border: 1px solid #038b83;
  width: 35px;
  height: 25px;
  color: #038b83;
  text-align: center;
  border-radius: 8px;
}
main .section__down article .product .product__up .product .product__text__down .third__text {
  display: flex;
  gap: 7px;
  align-items: center;
}
main .section__down article .product .product__up .product .product__text__down .third__text .star {
  color: #009e95;
}
main .section__down article .product .product__up .product .product__text__down .third__text div {
  color: #6a6a6a;
}
main .section__down article .product .product__up .product .product__text__down .last__text {
  display: flex;
  gap: 5px;
  align-items: center;
}
main .section__down article .product .product__up .product .product__text__down .last__text .sale {
  display: inline-block;
  padding: 3px 4.5px;
  border: none;
  width: 50px;
  height: 20px;
  background-color: #ff6d00;
  color: #fff;
  border-radius: 8px;
}
main .section__down article .product .product__up .product .product__text__down .last__text .remain {
  display: inline-block;
  padding-right: 5px;
  color: #ff6d00;
}
main .section__down article .product .product__down {
  display: flex;
  gap: 55.31px;
  align-items: center;
  margin-bottom: 37px;
}
main .section__down article .product .product__down .product .product__img {
  margin-bottom: 12.69px;
  width: 199.31px;
  height: 199.31px;
  border-radius: 8px;
}
main .section__down article .product .product__down .product .product__img .img {
  width: 100%;
  height: 100%;
}
main .section__down article .product .product__down .product .product__text__down {
  display: flex;
  gap: 7px;
  flex-direction: column;
}
main .section__down article .product .product__down .product .product__text__down .second__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .section__down article .product .product__down .product .product__text__down .second__text .price {
  gap: 5px;
}
main .section__down article .product .product__down .product .product__text__down .second__text .price .sale {
  color: #ff6d00;
}
main .section__down article .product .product__down .product .product__text__down .second__text i {
  padding: 5px 8px;
  border: 1px solid #038b83;
  width: 35px;
  height: 25px;
  color: #038b83;
  text-align: center;
  border-radius: 8px;
}
main .section__down article .product .product__down .product .product__text__down .third__text {
  display: flex;
  gap: 7px;
  align-items: center;
}
main .section__down article .product .product__down .product .product__text__down .third__text .star {
  color: #009e95;
}
main .section__down article .product .product__down .product .product__text__down .third__text div {
  color: #6a6a6a;
}
main .section__down article .product .product__down .product .product__text__down .last__text {
  display: flex;
  gap: 5px;
  align-items: center;
}
main .section__down article .product .product__down .product .product__text__down .last__text .sale {
  display: inline-block;
  padding: 3px 4.5px;
  border: none;
  width: 50px;
  height: 20px;
  background-color: #ff6d00;
  color: #fff;
  border-radius: 8px;
}
main .section__down article .product .product__down .product .product__text__down .last__text .remain {
  display: inline-block;
  padding-right: 5px;
  color: #ff6d00;
}
main .section__down article .product button {
  border: none;
  width: 220px;
  height: 52px;
  background-color: #ff6d00;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
  border-radius: 8px;
}
main .section__down article .product button i {
  padding-left: 5px;
}
main .section__down article .product button:hover {
  background-color: #ff7629;
  cursor: pointer;
}

/*aside*/
aside {
  padding-top: 32px;
  position: sticky;
  top: 20px;
  height: fit-content;
}
aside .checkout__summary {
  padding: 10px 0;
  width: 338.32;
  height: 461px;
}
aside .checkout__summary .summary__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
aside .checkout__summary .summary__item .price {
  color: #4a4949;
}
aside .checkout__summary .summary__item .discount {
  color: #ff6d00;
}
aside .checkout__summary .additional__info {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
aside .checkout__summary .summary__item__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 20px;
}
aside .checkout__summary .tax__info {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 23.5px;
}
aside .checkout__summary .tax__info .tax__label {
  padding: 0 2px;
  border: 1px solid #0a8800;
  color: #0a8800;
}
aside .checkout__summary .tax__info .tex__text {
  color: #6a6a6a;
}
aside .checkout__summary .checkout__button {
  margin-bottom: 20px;
  border: none;
  width: 100%;
  height: 60px;
  background-color: #ff6d00;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}
aside .checkout__summary .checkout__button:hover {
  background-color: #ff7629;
  cursor: pointer;
}
aside .checkout__summary .info .info__text {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

/*footer*/
footer {
  width: 1382px;
  height: 752px;
}