@import "./config/fonts.scss";
@import "./config/reset.scss";
@import "./config/colors.scss";
@import "./layout/layout.scss";

.hi {
  @extend .heading_XL_48;
  @extend .width_full;
  color: map-get($color, secondary-color);
}

/*header*/

header {
  @extend .width_full;
  margin-bottom: 23px;
  border-bottom: 1px solid map-get($color, color-Neutrals-Grey-300);
  height: 82px;
}

.container {
  @extend .width_inner;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
/*main*/
main {
  width: 961px;
  .section__up {
    width: 961px;
    article {
      .section__title {
        display: flex;
        gap: 10px;
        margin-bottom: 28px;
        padding-left: 6px;
        @extend .text_S_14;
        .category {
          color: map-get($color, color-Neutrals-Grey-500);
        }
        .select__category {
          gap: 10px;
        }
      }
      .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        height: 48px;
        background-color: map-get($color-background, info-color);
        border-radius: 8px;
        @extend .text_M_16;
        .close {
          border: none;
          position: relative;
          width: 30px;
          height: 30px;
          background: transparent;
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 80%;
            background-color: #000;
            &:nth-child(1) {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
            &:nth-child(2) {
              transform: translate(-50%, -50%) rotate(45deg);
            }
          }
        }
      }
      .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 74px;
        padding: 14px 12px 18px 12px;
        border-bottom: 1px solid map-get($color, color-Neutrals-Grey-300);
        height: 51px;
        .form__left {
          display: flex;
          align-items: center;
          .custom__box {
            padding-right: 6px;
            position: relative;
            input[type="checkbox"].custom__checkbox {
              display: none;
            }
            .select__all {
              display: inline-block;
              border: 1px solid #000;
              position: relative;
              width: 16px;
              height: 16px;
              background-color: white;
              cursor: pointer;
              border-radius: 50%;
              &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 10px;
                height: 10px;
                content: "";
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0);
              }
            }
            input[type="checkbox"]:checked + .select__all {
              background-color: black;
              &::after {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(0, 0, 0);
                color: rgb(255, 255, 255);
                content: "✓";
                transform: translate(-50%, -50%);
              }
            }
          }
          span {
            @extend .text_B_M_16;
          }
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background-color: white;
          color: map-get($color, color-Neutrals-Grey-700);
          cursor: pointer;
          @extend .text_M_16;
        }
      }
      .empty__product {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .empty__product__up {
          display: flex;
          gap: 38px;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          width: 251px;
          height: 57px;
          i.fa-cart-shopping {
            font-size: 50px;
            color: map-get($color, color-Neutrals-Grey-400);
          }
          .product__text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 20px;
            .product__text__up {
              @extend .text_B_M_16;
              color: map-get($color, color-Black);
            }
            .product__text__down {
              @extend .text_S_14;
              color: map-get($color, color-Neutrals-Grey-400);
            }
          }
        }
        .popular_product {
          margin-bottom: 75px;
          border: none;
          width: 251px;
          height: 51px;
          background-color: map-get($color, primary-color);
          color: map-get($color, color-White);
          text-align: center;
          transition: all 0.3s;
          cursor: pointer;
          border-radius: 8px;
          @extend .text_B_M_16;
          &:hover {
            background-color: map-get($color-hover, primary-color);
          }
        }
      }
    }
  }
  .section__down {
    // padding: 0 12px;
    width: 961px;
    article {
      .title {
        @extend .text_B_L_18;
        margin-bottom: 35px;
      }
      .product {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 35px;
        .product__up {
          display: flex;
          gap: 55.31px;
          align-items: center;
          .product {
            .product__img {
              margin-bottom: 12.69px;
              width: 199.31px;
              height: 199.31px;
              border-radius: 8px;
              .img {
                width: 100%;
                height: 100%;
              }
            }
            .product__text__down {
              display: flex;
              gap: 7px;
              flex-direction: column;
              .first__text {
                @extend .text_S_14;
              }
              .second__text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .price {
                  gap: 5px;
                  .sale {
                    @extend .text_B_XS_12;
                    color: map-get($color, primary-color);
                  }
                  span {
                    @extend .text_B_L_18;
                  }
                }
                i {
                  padding: 5px 8px;
                  border: 1px solid map-get($color-hover, secondary-color);
                  width: 35px;
                  height: 25px;
                  color: map-get($color-hover, secondary-color);
                  text-align: center;
                  border-radius: 8px;
                }
              }
              .third__text {
                @extend .text_S_14;
                display: flex;
                gap: 7px;
                align-items: center;
                .star {
                  color: map-get($color, secondary-color);
                }
                div {
                  color: map-get($color, color-Neutrals-Grey-600);
                }
              }
              .last__text {
                @extend .text_XS_12;
                display: flex;
                gap: 5px;
                align-items: center;
                .sale {
                  display: inline-block;
                  padding: 3px 4.5px;
                  border: none;
                  width: 50px;
                  height: 20px;
                  background-color: map-get($color, primary-color);
                  color: map-get($color, color-White);
                  border-radius: 8px;
                }
                .remain {
                  display: inline-block;
                  padding-right: 5px;
                  color: map-get($color, primary-color);
                }
              }
            }
          }
        }
        .product__down {
          display: flex;
          gap: 55.31px;
          align-items: center;
          margin-bottom: 37px;
          .product {
            .product__img {
              margin-bottom: 12.69px;
              width: 199.31px;
              height: 199.31px;
              border-radius: 8px;
              .img {
                width: 100%;
                height: 100%;
              }
            }
            .product__text__down {
              display: flex;
              gap: 7px;
              flex-direction: column;
              .first__text {
                @extend .text_S_14;
              }
              .second__text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .price {
                  gap: 5px;
                  .sale {
                    @extend .text_B_XS_12;
                    color: map-get($color, primary-color);
                  }
                  span {
                    @extend .text_B_L_18;
                  }
                }
                i {
                  padding: 5px 8px;
                  border: 1px solid map-get($color-hover, secondary-color);
                  width: 35px;
                  height: 25px;
                  color: map-get($color-hover, secondary-color);
                  text-align: center;
                  border-radius: 8px;
                }
              }
              .third__text {
                @extend .text_S_14;
                display: flex;
                gap: 7px;
                align-items: center;
                .star {
                  color: map-get($color, secondary-color);
                }
                div {
                  color: map-get($color, color-Neutrals-Grey-600);
                }
              }
              .last__text {
                @extend .text_XS_12;
                display: flex;
                gap: 5px;
                align-items: center;
                .sale {
                  display: inline-block;
                  padding: 3px 4.5px;
                  border: none;
                  width: 50px;
                  height: 20px;
                  background-color: map-get($color, primary-color);
                  color: map-get($color, color-White);
                  border-radius: 8px;
                }
                .remain {
                  display: inline-block;
                  padding-right: 5px;
                  color: map-get($color, primary-color);
                }
              }
            }
          }
        }
        button {
          border: none;
          width: 220px;
          height: 52px;
          background-color: map-get($color, primary-color);
          color: map-get($color, color-White);
          text-align: center;
          transition: all 0.3s;
          border-radius: 8px;
          @extend .text_M_16;
          i {
            padding-left: 5px;
          }
          &:hover {
            background-color: map-get($color-hover, primary-color);
            cursor: pointer;
          }
        }
      }
    }
  }
}

/*aside*/
aside {
  padding-top: 32px;
  position: sticky;
  top: 20px;
  height: fit-content;
  .checkout__summary {
    padding: 10px 0;
    width: 338.32;
    height: 461px;
    .summary__item {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      @extend .text_M_16;
      .price {
        color: map-get($color, color-Neutrals-Grey-700);
      }
      .discount {
        color: map-get($color, primary-color);
      }
    }
    .additional__info {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 10px;
      @extend .text_S_14;
      span {
        @extend .text_B_S_14;
      }
    }
    .summary__item__total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      padding-top: 20px;
      p {
        @extend .text_M_16;
        span {
          @extend .text_S_14;
        }
      }
      .price {
        @extend .text_B_L_18;
      }
    }
    .tax__info {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 23.5px;
      @extend .text_XS_12;
      .tax__label {
        padding: 0 2px;
        border: 1px solid map-get($color-system, info-color);
        color: map-get($color-system, info-color);
      }
      .tex__text {
        color: map-get($color, color-Neutrals-Grey-600);
      }
    }
    .checkout__button {
      margin-bottom: 20px;
      border: none;
      width: 100%;
      height: 60px;
      background-color: map-get($color, primary-color);
      color: map-get($color, color-White);
      text-align: center;
      border-radius: 8px;
      @extend .text_B_M_16;
      &:hover {
        background-color: map-get($color-hover, primary-color);
        cursor: pointer;
      }
    }
    .info {
      @extend .text_S_14;
      .info__text {
        display: flex;
        gap: 5px;
        margin-bottom: 20px;
      }
    }
  }
}

/*footer*/
footer {
  width: 1382px;
  height: 752px;
}
