@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
.heading_XXL_56 {
  font-family: "Pretendard-Bold";
  font-size: 56px;
  font-style: normal;
  letter-spacing: -1.12px;
}

.heading_XL_48, .hi {
  font-family: "Pretendard-Bold";
  font-size: 48px;
  font-style: normal;
  letter-spacing: -0.96px;
}

.heading_L_40 {
  font-family: "Pretendard-Bold";
  font-size: 40px;
  font-style: normal;
  letter-spacing: -0.8px;
}

.heading_M_32 {
  font-family: "Pretendard-Bold";
  font-size: 32px;
  font-style: normal;
  letter-spacing: -0.64px;
}

.heading_S_24 {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  font-style: normal;
  letter-spacing: -0.48px;
}

.heading_XS_20 {
  font-family: "Pretendard-Bold";
  font-size: 20px;
  font-style: normal;
  letter-spacing: -0.6px;
}

.heading_XXS_16 {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: normal;
  letter-spacing: -0.48px;
}

/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_XXL_26 {
  font-family: "Pretendard-Regular";
  font-size: 26px;
  font-style: normal;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_XL_22 {
  font-family: "Pretendard-Regular";
  font-size: 22px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.66px;
}

.text_L_18 {
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_M_16, aside .checkout__summary .summary__price .summary__item__total p, aside .checkout__summary .summary__item li, main .section__up article .banner {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.text_S_14, aside .checkout__summary .info, aside .checkout__summary .consent .consent__list li, aside .checkout__summary .summary__price .summary__item__total p span, aside .checkout__summary .summary__item .additional__info, main .credit .used__credit #used__credit__box, main .credit .used__credit label span, main .credit .used__credit label, main .credit .total__credit #total__credit__box, main .credit .total__credit label span, main .credit .total__credit label, main .coupon .coupon__select #coupon, main .coupon .coupon__select label span, main .coupon .coupon__select label, main .order__info .product .item .product__text .product__text__down, main .order__info .product .item .product__text .product__text__up, main .address .delivery__service .delivery__info .delivery__memo li:nth-child(1), main .address .shopping__info .info__down ul li span:nth-child(2), main .address .shopping__info .info__up span:nth-child(2), main .section__up article .section__title {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}

.text_XS_12, aside .checkout__summary .summary__price .tax__info, main .payment__method .methods ul li, main .order__info .product .item .price__text .price__text__down, main .address .delivery__service .delivery__info .delivery__memo li:nth-child(3), main .address .delivery__service .delivery__info .delivery__memo li:nth-child(2) {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}

/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_B_XXL_26 {
  font-family: "Pretendard-Bold";
  font-size: 26px;
  font-style: bold;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_B_XL_22 {
  font-family: "Pretendard-Bold";
  font-size: 22px;
  font-style: bold;
  line-height: 30px;
  letter-spacing: -0.66px;
}

.text_B_L_18, aside .checkout__summary .summary__price .summary__item__total .price, main .order__info .product .item .price__text .price__text__up {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: bold;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_B_M_16, aside .checkout__summary .checkout__button, main .payment__method h3, main .credit h3, main .coupon h2, main .order__info h3 span, main .order__info h3, main .address .delivery__service span, main .address .shopping__info .info__down ul li span:nth-child(1), main .address .shopping__info .info__up span:nth-child(1) {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.text_B_S_14, aside .checkout__summary .summary__item .additional__info span, main .address .shopping__info .info__down ul li:nth-child(3), main .address .shopping__info .info__down ul li:nth-child(2) {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: bold;
  line-height: 22px;
  letter-spacing: -0.42px;
}

.text_B_XS_12 {
  font-family: "Pretendard-Bold";
  font-size: 12px;
  font-style: bold;
  line-height: 18px;
  letter-spacing: -0.36px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.width_full, header, .hi {
  width: 100%;
}

.width_inner, .container {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.hi {
  color: #009e95;
}

/*header*/
header {
  margin-bottom: 23px;
  border-bottom: 1px solid #b5b5b5;
  height: 82px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/*main*/
main {
  padding: 0 12px;
  width: 961px;
}
main .section__up {
  width: 961px;
}
main .section__up article .section__title {
  display: flex;
  gap: 10px;
  margin-bottom: 28px;
  padding-left: 6px;
}
main .section__up article .section__title .category {
  color: #818181;
}
main .section__up article .section__title .select__category {
  gap: 10px;
}
main .section__up article .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
  padding: 10px;
  width: 100%;
  height: 48px;
  background-color: #e6f3e5;
  border-radius: 8px;
}
main .section__up article .banner .close {
  border: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
}
main .section__up article .banner .close span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 80%;
  background-color: #000;
}
main .section__up article .banner .close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
main .section__up article .banner .close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}
main .address {
  display: flex;
  gap: 55px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24.4px;
}
main .address .shopping__info {
  flex: 2;
}
main .address .shopping__info .info__up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
main .address .shopping__info .info__down {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 15px 136px 15px 14px;
  border: 1px solid #9a9a9a;
  border-left: 4px solid #9a9a9a;
  border-radius: 8px;
}
main .address .shopping__info .info__down ul li {
  margin-bottom: 7px;
}
main .address .shopping__info .info__down ul li:nth-child(3) {
  color: #ff6d00;
}
main .address .shopping__info .info__down ul li span {
  gap: 21px;
}
main .address .delivery__service {
  flex: 2;
}
main .address .delivery__service span {
  display: flex;
  display: block;
  margin-bottom: 20px;
  color: #0a8800;
}
main .address .delivery__service .delivery__info {
  display: flex;
  flex-direction: column;
}
main .address .delivery__service .delivery__info .delivery__memo {
  padding: 18px 0;
}
main .address .delivery__service .delivery__info .delivery__memo li {
  margin-bottom: 7px;
}
main .address .delivery__service .delivery__info .delivery__memo li:nth-child(2) {
  color: #6a6a6a;
}
main .address .delivery__service .delivery__info .delivery__memo li:nth-child(3) {
  color: #6a6a6a;
}
main .order__info {
  margin-bottom: 38px;
}
main .order__info h3 {
  margin-bottom: 24px;
  padding-top: 18px;
  border-top: 1px solid #9a9a9a;
  width: 100%;
}
main .order__info h3 span {
  color: #ff6d00;
}
main .order__info .product .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 12px;
  height: 176px;
}
main .order__info .product .item .custom__box {
  padding-right: 6px;
  position: relative;
}
main .order__info .product .item .custom__box input[type=checkbox].custom__checkbox {
  display: none;
}
main .order__info .product .item .custom__box .select {
  display: inline-block;
  border: 1px solid #000;
  position: relative;
  width: 16px;
  height: 16px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}
main .order__info .product .item .custom__box .select::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}
main .order__info .product .item .custom__box input[type=checkbox]:checked + .select {
  background-color: black;
}
main .order__info .product .item .custom__box input[type=checkbox]:checked + .select::after {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  content: "✓";
  transform: translate(-50%, -50%);
}
main .order__info .product .item .img {
  width: 128px;
  height: 128px;
  border-radius: 8px;
}
main .order__info .product .item .img img {
  width: 100%;
  height: 100%;
}
main .order__info .product .item .product__text {
  display: flex;
  gap: 10px;
  justify-content: start;
  flex-direction: column;
}
main .order__info .product .item .product__text .product__text__down {
  color: #4a4949;
}
main .order__info .product .item .price__text {
  display: flex;
  gap: 6px;
  flex-direction: column;
  text-align: center;
}
main .order__info .product .item .price__text .price__text__down {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}
main .order__info .product .item .price__text .price__text__down .sale {
  display: block;
  padding: 0, 3px;
  border: 1px solid #ff6d00;
  width: 33px;
  height: 14px;
  color: #ff6d00;
  border-radius: 5px;
}
main .order__info .product .item .close {
  border: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
}
main .order__info .product .item .close span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 80%;
  background-color: #000;
}
main .order__info .product .item .close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
main .order__info .product .item .close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}
main .coupon {
  margin-bottom: 21px;
  width: 100%;
}
main .coupon h2 {
  margin-bottom: 25px;
  padding-bottom: 8px;
  border-bottom: 1px solid #9a9a9a;
  width: 100%;
}
main .coupon .coupon__select {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
}
main .coupon .coupon__select label span {
  padding-left: 5px;
  color: #fc3310;
}
main .coupon .coupon__select #coupon {
  width: 553px;
  height: 38px;
  color: #9a9a9a;
  border-radius: 8px;
}
main .coupon .coupon__select #coupon:focus {
  outline: none;
  cursor: pointer;
}
main .credit {
  margin-bottom: 21px;
  width: 100%;
}
main .credit h3 {
  margin-bottom: 25px;
  padding-bottom: 8px;
  border-bottom: 1px solid #9a9a9a;
  width: 100%;
}
main .credit .total__credit {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 26px;
  padding-left: 10px;
}
main .credit .total__credit label span {
  padding-left: 5px;
  color: #fc3310;
}
main .credit .total__credit #total__credit__box {
  padding: 0 14px;
  border: 1px solid #9a9a9a;
  width: 553px;
  height: 38px;
  color: #9a9a9a;
  border-radius: 8px;
}
main .credit .total__credit #total__credit__box:focus {
  outline: none;
}
main .credit .used__credit {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
}
main .credit .used__credit label span {
  padding-left: 5px;
  color: #fc3310;
}
main .credit .used__credit #used__credit__box {
  padding: 0 14px;
  border: 1px solid #9a9a9a;
  width: 364px;
  height: 38px;
  color: #9a9a9a;
  border-radius: 8px;
}
main .credit .used__credit #used__credit__box:focus {
  outline: none;
}
main .credit .used__credit button {
  border: none;
  width: 158px;
  height: 38px;
  background-color: #ff6d00;
  color: #fff;
  transition: all 0.3s;
  border-radius: 8px;
}
main .credit .used__credit button:hover {
  background-color: #ff7629;
  cursor: pointer;
}
main .payment__method {
  margin-bottom: 21px;
  width: 100%;
}
main .payment__method h3 {
  margin-bottom: 30px;
  padding-bottom: 8px;
  border-bottom: 1px solid #9a9a9a;
  width: 100%;
}
main .payment__method .methods {
  display: flex;
  width: 100%;
}
main .payment__method .methods ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 22px;
  width: 100%;
}
main .payment__method .methods ul li {
  padding: 34px 22px;
  border: 1px solid #b5b5b5;
  text-align: center;
  transition: all 0.3s;
  border-radius: 8px;
}
main .payment__method .methods ul li span {
  display: block;
  padding-bottom: 5px;
}
main .payment__method .methods ul li .img {
  width: 55px;
  height: 63px;
}
main .payment__method .methods ul li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .payment__method .methods ul li:hover {
  border: 1px solid #ff7629;
  box-shadow: 0 0 4px #ff7629;
  cursor: pointer;
}

/*aside*/
aside {
  padding-top: 32px;
  position: sticky;
  top: 20px;
  height: fit-content;
}
aside .checkout__summary {
  padding: 10px 0;
  width: 338.32;
  height: 461px;
}
aside .checkout__summary .summary__item li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 34.5px;
}
aside .checkout__summary .summary__item li span:nth-child(1) {
  color: #101010;
}
aside .checkout__summary .summary__item li span:nth-child(2) {
  color: #4a4949;
}
aside .checkout__summary .summary__item .additional__info {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
aside .checkout__summary .summary__price .summary__item__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 20px;
}
aside .checkout__summary .summary__price .summary__item__total p {
  color: #101010;
}
aside .checkout__summary .summary__price .summary__item__total .price {
  color: #ff6d00;
}
aside .checkout__summary .summary__price .tax__info {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 23.5px;
}
aside .checkout__summary .summary__price .tax__info .tax__label {
  padding: 0 2px;
  border: 1px solid #0a8800;
  color: #0a8800;
  border-radius: 5px;
}
aside .checkout__summary .summary__price .tax__info .tex__text {
  color: #6a6a6a;
}
aside .checkout__summary .consent .consent__list li {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 19px;
  border-bottom: 1px solid #9a9a9a;
}
aside .checkout__summary .consent .consent__list li:last-child {
  border-bottom: none;
}
aside .checkout__summary .consent .consent__list li div {
  display: flex;
  align-items: center;
  gap: 6px;
}
aside .checkout__summary .consent .consent__list li i {
  cursor: pointer;
}
aside .checkout__summary .checkout__button {
  margin-bottom: 20px;
  border: none;
  width: 100%;
  height: 60px;
  background-color: #ff6d00;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}
aside .checkout__summary .checkout__button:hover {
  background-color: #ff7629;
  cursor: pointer;
}
aside .checkout__summary .info ul li div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
aside .checkout__summary .info ul li div i {
  color: #0a8800;
}

/*footer*/
footer {
  width: 1382px;
  height: 752px;
}