@import "./config/fonts.scss";
@import "./config/reset.scss";
@import "./config/colors.scss";
@import "./config/./image.scss";
@import "./layout/layout.scss";

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  @include width_inner;
  .mark__inner {
    display: flex;
    height: 100%;
    .leftmenu {
      width: 200px;
      height: 100%;
      ul {
        .home {
          padding: 20px 18px;
          @include text_XS_12;
        }
        li {
          display: flex;
          gap: 5px;
          align-items: center;
          margin-bottom: 20px;
          cursor: pointer;
          & > div {
            display: flex;
            justify-content: space-between;
            width: 14;
          }
          .document {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/document.svg);
            @include background_cover;
          }

          .review {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/review.svg);
            @include background_cover;
          }
          .delivery {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/delivery.svg);
            @include background_cover;
          }
          .star {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/star.svg);
            @include background_cover;
          }
          .event {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/event.svg);
            @include background_cover;
          }
          span {
            @include text_S_14;
          }
        }
        .my-order {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > div {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .fa-chevron-down {
            margin-right: 20px;
          }
        }
        .inner {
          display: flex;
          flex-direction: column;
          padding-left: 20px;
          gap: 10px;
          position: relative;
          @include text_S_14;
          &.active .inner {
            display: flex;
          }
          &::after {
            content: "\f077";
            font-family: "fontawesome";
            position: absolute;
            top: -28%;
            left: 79%;
            transform: translate(50%, 50%);
            // border: 1px solid red;
            transition: all 0.3s;
            &.active {
              display: none;
            }
          }
          .title {
            &:hover {
              width: 150px;
              padding: 5px;
              background: map-get($color-hover, primary-hover-color);
            }
          }
        }
      }
    }
    .contents {
      .text {
        display: flex;
        gap: 60px;
        margin-bottom: 13px;
        // border: 1px solid #f00;
        padding-top: 50px;
        width: 100%;
        font-size: 14px;
        cursor: pointer;
        span {
          //   border: 1px solid #f00;
          &:nth-child(2) {
            color: map-get($color, color-Neutrals-Grey-500);
            &:hover {
              color: map-get($color, color-Neutrals-Grey-800);
            }
          }
          &:nth-child(3) {
            color: map-get($color, color-Neutrals-Grey-500);
            &:hover {
              color: map-get($color, color-Neutrals-Grey-800);
            }
          }
        }
      }
      .coupon__code {
        display: flex;
        gap: 22px;
        .code {
          padding-left: 14px;
          border: 1px solid map-get($color, color-Neutrals-Grey-400);
          width: 308px;
          height: 40px;
          border-radius: 8px;
        }
        button {
          border: 1px solid map-get($color, color-Neutrals-Grey-800);
          width: 82px;
          height: 40px;
          background: map-get($color, color-White);
          cursor: pointer;
          border-radius: 8px;
          &:hover {
            background: map-get($color, color-Neutrals-Grey-100);
          }
        }
      }
    }
    .box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .coupon__icon {
          display: inline-block;
          //   border: 1px solid #f00;
          margin-bottom: 10px;
          width: 150px;
          height: 120px;
          background-image: url(../../assets/images/mypage/coupon__icon.svg);
          @include background_cover;
        }
        span {
          @include text_M_16;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 7px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    @include width_full;
    width: 100%;
    height: 100vh;
    .mark__inner {
      display: flex;
      height: 100%;
      .leftmenu {
        display: flex;
        .fa-chevron-down {
          margin-left: 30px;
        }
      }
      .contents {
        .text {
          gap: 30px;
        }
        .coupon__code {
          gap: 10px;
          .code {
            // border: 1px solid red;
            width: 290px;
          }
          button {
            width: 60px;
            height: 40px;
          }
        }
      }
      .box {
        .icon {
          // border: 1px solid red;
          span {
            @include text_S_14;
            width: 210px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .wrapper {
    @include width_full;
    width: 390px;
    height: 100vh;
    .mark__inner {
      display: flex;
      .leftmenu {
        display: none;
      }
      .contents {
        .text {
          gap: 30px;
        }
        .coupon__code {
          gap: 10px;
          .code {
            // border: 1px solid red;
            width: 290px;
          }
          button {
            width: 60px;
            height: 40px;
          }
        }
      }
      .box {
        .icon {
          // border: 1px solid red;
          span {
            @include text_S_14;
            width: 210px;
          }
        }
      }
    }
  }
}
