@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
.heading_XXL_56 {
  font-family: "Pretendard-Bold";
  font-size: 56px;
  font-style: normal;
  letter-spacing: -1.12px;
}

.heading_XL_48 {
  font-family: "Pretendard-Bold";
  font-size: 48px;
  font-style: normal;
  letter-spacing: -0.96px;
}

.heading_L_40 {
  font-family: "Pretendard-Bold";
  font-size: 40px;
  font-style: normal;
  letter-spacing: -0.8px;
}

.heading_M_32 {
  font-family: "Pretendard-Bold";
  font-size: 32px;
  font-style: normal;
  letter-spacing: -0.64px;
}

.heading_S_24 {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  font-style: normal;
  letter-spacing: -0.48px;
}

.heading_XS_20 {
  font-family: "Pretendard-Bold";
  font-size: 20px;
  font-style: normal;
  letter-spacing: -0.6px;
}

.heading_XXS_16 {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: normal;
  letter-spacing: -0.48px;
}

/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_XXL_26 {
  font-family: "Pretendard-Regular";
  font-size: 26px;
  font-style: normal;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_XL_22 {
  font-family: "Pretendard-Regular";
  font-size: 22px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.66px;
}

.text_L_18 {
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_M_16 {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.text_S_14 {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}

.text_XS_12, #footer .footer-inner .footer-privacy-wrapper div .footer-privacy__menus, #footer .footer-inner .footer-notice-wrapper .footer-notice__desc, #footer .footer-inner .footer-menus-wrapper .footer-apps li div span, #footer .footer-inner .footer-menus-wrapper .footer-menus > li ul {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}

/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_B_XXL_26 {
  font-family: "Pretendard-Bold";
  font-size: 26px;
  font-style: normal;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_B_XL_22 {
  font-family: "Pretendard-Bold";
  font-size: 22px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.66px;
}

.text_B_L_18, #footer .footer-inner .footer-menus-wrapper .footer-apps li div h4 {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_B_M_16 {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.text_B_S_14, #footer .footer-inner .footer-card-wrapper .footer-card__payment h3, #footer .footer-inner .footer-card-wrapper .footer-card__security h3, #footer .footer-inner .footer-notice-wrapper h3, #footer .footer-inner .footer-menus-wrapper .footer-menus > li h3 {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}

.text_B_XS_12 {
  font-family: "Pretendard-Bold";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.width_full, #footer {
  width: 100%;
}

.width_inner, #footer .footer-inner {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.background_cover, #footer .footer-inner .footer-privacy-wrapper div .footer-privacy__menus li i, #footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li, #footer .footer-inner .footer-card-wrapper .footer-card__security .footer-card__security__menus li > i, #footer .footer-inner .footer-menus-wrapper .footer-apps .footer-apps__google-play i, #footer .footer-inner .footer-menus-wrapper .footer-apps .footer-apps__app-store i {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  padding-top: 47px;
  background-color: #101010;
  color: #fff;
}
#footer .footer-inner .footer-menus-wrapper {
  position: relative;
}
#footer .footer-inner .footer-menus-wrapper .footer-menus {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}
#footer .footer-inner .footer-menus-wrapper .footer-menus > li {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
#footer .footer-inner .footer-menus-wrapper .footer-menus > li ul {
  display: flex;
  gap: 12px;
  flex-direction: column;
  color: #d4d4d4;
}
#footer .footer-inner .footer-menus-wrapper .footer-apps {
  position: absolute;
  right: 330px;
  top: 150px;
}
#footer .footer-inner .footer-menus-wrapper .footer-apps li {
  display: flex;
  width: 168px;
  height: 52px;
  justify-content: center;
  gap: 7px;
  align-items: center;
  border: 1px solid #b5b5b5;
  border-radius: 50px;
}
#footer .footer-inner .footer-menus-wrapper .footer-apps li div {
  width: 99px;
}
#footer .footer-inner .footer-menus-wrapper .footer-apps li div span {
  color: #d4d4d4;
}
#footer .footer-inner .footer-menus-wrapper .footer-apps li div h4 {
  line-height: 18px;
}
#footer .footer-inner .footer-menus-wrapper .footer-apps .footer-apps__app-store {
  margin-bottom: 10px;
}
#footer .footer-inner .footer-menus-wrapper .footer-apps .footer-apps__app-store i {
  display: inline-block;
  width: 27px;
  height: 32px;
  background-image: url("../../assets/images/footer/app-store.svg");
}
#footer .footer-inner .footer-menus-wrapper .footer-apps .footer-apps__google-play i {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../../assets/images/footer/google-play.svg");
}
#footer .footer-inner .footer-notice-wrapper {
  margin-bottom: 73px;
}
#footer .footer-inner .footer-notice-wrapper h3 {
  margin-bottom: 10px;
}
#footer .footer-inner .footer-notice-wrapper .footer-notice__desc {
  display: flex;
  gap: 188px;
}
#footer .footer-inner .footer-notice-wrapper .footer-notice__desc .footer-notice__desc-info {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
#footer .footer-inner .footer-notice-wrapper .footer-notice__desc .footer-notice__desc-contents {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
#footer .footer-inner .footer-card-wrapper {
  display: flex;
  gap: 77px;
  margin-bottom: 82px;
}
#footer .footer-inner .footer-card-wrapper .footer-card__security h3 {
  margin-bottom: 10px;
}
#footer .footer-inner .footer-card-wrapper .footer-card__security .footer-card__security__menus {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
#footer .footer-inner .footer-card-wrapper .footer-card__security .footer-card__security__menus li > i {
  display: inline-block;
  height: 27px;
}
#footer .footer-inner .footer-card-wrapper .footer-card__security .footer-card__security__menus li > i.security__menus__dss-img {
  width: 43px;
  background-image: url("../../assets/images/footer/DSS.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__security .footer-card__security__menus li > i.security__menus__visa-img {
  width: 31px;
  background-image: url("../../assets/images/footer/visa.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__security .footer-card__security__menus li > i.security__menus__idcheck-img {
  width: 66px;
  background-image: url("../../assets/images/footer/id_check.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__security .footer-card__security__menus li > i.security__menus__safekey-img {
  width: 66px;
  background-image: url("../../assets/images/footer/safekey.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__security .footer-card__security__menus li > i.security__menus__protect-img {
  width: 42px;
  background-image: url("../../assets/images/footer/protectBuy.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__security .footer-card__security__menus li > i.security__menus__jcb-img {
  width: 42px;
  background-image: url("../../assets/images/footer/JCB.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__security .footer-card__security__menus li > i.security__menus__trusted-img {
  width: 66px;
  background-image: url("../../assets/images/footer/Thrusted.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment h3 {
  margin-bottom: 10px;
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li {
  display: inline-block;
  width: 40px;
  height: 27px;
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(1) {
  background-image: url("../../assets/images/footer/pay_01.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(2) {
  background-image: url("../../assets/images/footer/pay_02.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(3) {
  background-image: url("../../assets/images/footer/pay_03.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(4) {
  background-image: url("../../assets/images/footer/pay_04.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(5) {
  background-image: url("../../assets/images/footer/pay_05.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(6) {
  background-image: url("../../assets/images/footer/pay_06.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(7) {
  background-image: url("../../assets/images/footer/pay_07.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(8) {
  background-image: url("../../assets/images/footer/pay_08.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(9) {
  background-image: url("../../assets/images/footer/pay_09.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(10) {
  background-image: url("../../assets/images/footer/pay_10.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(11) {
  background-image: url("../../assets/images/footer/pay_11.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(12) {
  background-image: url("../../assets/images/footer/pay_12.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(13) {
  background-image: url("../../assets/images/footer/pay_13.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(14) {
  background-image: url("../../assets/images/footer/pay_14.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(15) {
  background-image: url("../../assets/images/footer/pay_15.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(16) {
  background-image: url("../../assets/images/footer/pay_16.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(17) {
  background-image: url("../../assets/images/footer/pay_17.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(18) {
  background-image: url("../../assets/images/footer/pay_18.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(19) {
  background-image: url("../../assets/images/footer/pay_19.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(20) {
  background-image: url("../../assets/images/footer/pay_20.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(21) {
  background-image: url("../../assets/images/footer/pay_21.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(22) {
  background-image: url("../../assets/images/footer/pay_22.png");
}
#footer .footer-inner .footer-card-wrapper .footer-card__payment .footer-card__payment__menus li:nth-child(23) {
  background-image: url("../../assets/images/footer/pay_23.png");
}
#footer .footer-inner .footer-privacy-wrapper {
  height: 74px;
}
#footer .footer-inner .footer-privacy-wrapper div .footer-privacy__menus {
  display: flex;
  width: 550px;
  margin: 0 auto;
  justify-content: space-between;
  color: #9a9a9a;
}
#footer .footer-inner .footer-privacy-wrapper div .footer-privacy__menus li {
  display: flex;
  align-items: center;
}
#footer .footer-inner .footer-privacy-wrapper div .footer-privacy__menus li i {
  display: inline-block;
  width: 22px;
  height: 10px;
  background-image: url("../../assets/images/footer/check.png");
  margin-left: 4px;
}