@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.background_cover {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.object_cover {
  object-fit: cover;
  object-position: center;
}

#header {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  height: 130px;
}
#header .header-top-wrapper {
  width: 100%;
  height: 48px;
  background-color: #ff6d00;
  color: #fff;
}
#header .header-top-wrapper .header-top {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}
#header nav {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
}
#header nav .nav-left {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
#header nav .nav-left .nav-left__logo {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url("../../assets/images/header/LOGO.svg") center/cover no-repeat;
}
#header nav .nav-left .nav-left__menus {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
#header nav .nav-left .nav-left__menus li {
  display: flex;
  gap: 2px;
  align-items: center;
  cursor: pointer;
}
#header nav .nav-left .nav-left__menus li i {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header nav .nav-left .nav-left__menus li .menu__bestseller-ico {
  background-image: url("../../assets/images/header/menu_bestseller.svg");
}
#header nav .nav-left .nav-left__menus li .menu__star-ico {
  background-image: url("../../assets/images/header/menu_star.svg");
}
#header nav .nav-left .nav-left__menus li .menu__shop-ico {
  background-image: url("../../assets/images/header/menu_shop.svg");
}
#header nav .nav-left .nav-left__menus li .fa-chevron-down {
  color: #101010;
  font-size: 9px;
}
#header nav .nav-left .nav-left__menus li:last-child {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
#header nav .nav-left .nav__input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
#header nav .nav-left .nav__input-wrapper input {
  padding-left: 15px;
  border: 2px solid #ff6d00;
  outline: none;
  width: 514px;
  height: 39px;
  transition: all 0.5s;
  border-radius: 50px;
}
#header nav .nav-left .nav__input-wrapper input::placeholder {
  color: #ccc; /* 기본 placeholder 색상 */
  transition: color 0.5s; /* placeholder 색상 전환에 대한 트랜지션 */
}
#header nav .nav-left .nav__input-wrapper input:focus::placeholder {
  color: transparent; /* 포커스 시 placeholder 색상 투명화 */
}
#header nav .nav-left .nav__input-wrapper i {
  display: inline-block;
  position: absolute;
  right: 5px;
  width: 41px;
  height: 31px;
  background: url("../../assets/images/header/menu_search-ico.svg");
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header nav .nav-right .nav-right__menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
  gap: 20px;
}
#header nav .nav-right .nav-right__menus li {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
#header nav .nav-right .nav-right__menus li i {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header nav .nav-right .nav-right__menus li .menu__login-ico {
  background-image: url("../../assets/images/header/menu_user.svg");
}
#header nav .nav-right .nav-right__menus li .menu__service-ico {
  background-image: url("../../assets/images/header/menu_service.svg");
}
#header nav .nav-right .nav-right__menus li .menu__language-ico {
  background-image: url("../../assets/images/header/menu_language.svg");
}
#header nav .nav-right .nav-right__menus li .menu__cart-ico {
  background-image: url("../../assets/images/header/menu_cart.svg");
}
#header nav .nav-right .nav-right__menus li .menu__language-text {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}