@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.background_cover {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.object_cover {
  object-fit: cover;
  object-position: center;
}

.wrapper {
  width: 100%;
  height: 100vh;
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}
.wrapper .mark__inner {
  display: flex;
  width: 100%;
  height: 100%;
}
.wrapper .mark__inner .leftmenu {
  width: 200px;
  height: 100%;
}
.wrapper .mark__inner .leftmenu > ul .home {
  padding: 20px 18px;
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}
.wrapper .mark__inner .leftmenu > ul > li {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.wrapper .mark__inner .leftmenu > ul > li > div {
  display: flex;
  justify-content: space-between;
  width: 14;
}
.wrapper .mark__inner .leftmenu > ul > li .document {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/mypage/document.svg);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .leftmenu > ul > li .review {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/mypage/review.svg);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .leftmenu > ul > li .delivery {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/mypage/delivery.svg);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .leftmenu > ul > li .star {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/mypage/star.svg);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .leftmenu > ul > li .event {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/mypage/event.svg);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .leftmenu > ul > li span {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .leftmenu > ul .my-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}
.wrapper .mark__inner .leftmenu > ul .my-order > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .mark__inner .leftmenu > ul .my-order .fa-chevron-down {
  transition: transform 0.5s;
}
.wrapper .mark__inner .leftmenu > ul .my-order .fa-chevron-down.active {
  transform: rotate(180deg);
}
.wrapper .mark__inner .leftmenu > ul .inner {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .leftmenu > ul .inner ul {
  display: none;
}
.wrapper .mark__inner .leftmenu > ul .inner ul.active {
  display: block;
}
.wrapper .mark__inner .leftmenu > ul .inner .title {
  display: flex;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
  padding: 10px 10px;
}
.wrapper .mark__inner .leftmenu > ul .inner .title:hover {
  padding: 5px 5px;
  background: #fff7f0;
}
.wrapper .mark__inner .rightmenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 55px 40px;
}
.wrapper .mark__inner .rightmenu .order {
  width: 60px;
  height: 35px;
}
.wrapper .mark__inner .rightmenu .order span {
  display: flex;
  margin-bottom: 15px;
  font-family: "Pretendard-Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.6px;
}
.wrapper .mark__inner .rightmenu .info {
  display: flex;
  gap: 12px;
  margin-bottom: 3px;
}
.wrapper .mark__inner .rightmenu .info span {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .rightmenu .email {
  margin-bottom: 12px;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .rightmenu .userInfo {
  display: flex;
  margin-bottom: 12px;
  padding: 15px 15px;
  width: 100%;
  height: 130px;
  background: #f6f6f6;
}
.wrapper .mark__inner .rightmenu .userInfo .container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 447px;
}
.wrapper .mark__inner .rightmenu .userInfo .container h4 {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
  margin-bottom: 5px;
}
.wrapper .mark__inner .rightmenu .userInfo .container .user {
  display: flex;
  flex-direction: column;
}
.wrapper .mark__inner .rightmenu .userInfo .container .user span {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
  display: flex;
  color: #818181;
}
.wrapper .mark__inner .rightmenu .userInfo .orderClock {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #4a4949;
}
.wrapper .mark__inner .rightmenu .userInfo .orderClock span {
  display: flex;
  margin-bottom: 7px;
  margin-left: 10px;
}
.wrapper .mark__inner .rightmenu .userInfo .orderClock span:nth-child(1) {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}
.wrapper .mark__inner .rightmenu .userInfo .orderClock span:nth-child(2) {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}
.wrapper .mark__inner .rightmenu .productInfo {
  display: flex;
  margin-bottom: 12px;
  padding: 25px 20px;
  border: 1px solid #d4d4d4;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .first {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid #b5b5b5;
  width: 95%;
  height: auto;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .first .img {
  min-width: 145px;
  height: 145px;
  background-image: url(../../assets/images/mypage/productImg1.png);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .first .txt {
  padding-right: 20px;
  padding-left: 10px;
  width: 80%;
  height: 116px;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .first .txt .txt__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .first .txt .txt__container p {
  display: flex;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .first .txt .txt__container span {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .first .countFirst {
  display: flex;
  justify-content: space-between;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .first .countFirst span {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
  color: #818181;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .second {
  display: flex;
  margin-bottom: 20px;
  width: 95%;
  height: auto;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .second .img {
  min-width: 145px;
  height: 145px;
  background-image: url(../../assets/images/mypage/productImg2.png);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .second .txt {
  padding-right: 20px;
  padding-left: 10px;
  width: 80%;
  height: 116px;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .second .txt .txt__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .second .txt .txt__container p {
  display: flex;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .second .txt .txt__container span {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .second .countSecond {
  display: flex;
  justify-content: space-between;
}
.wrapper .mark__inner .rightmenu .productInfo .product__container .second .countSecond span {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
  color: #818181;
}
.wrapper .mark__inner .rightmenu .productInfo .info__btn {
  display: flex;
  flex-direction: column;
}
.wrapper .mark__inner .rightmenu .productInfo .info__btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  border: 1px solid #d4d4d4;
  width: 200px;
  height: 32px;
  background: #fff;
  color: #292828;
  border-radius: 8px;
}
.wrapper .mark__inner .rightmenu .productInfo .info__btn button:hover {
  background: #f6f6f6;
}
.wrapper .mark__inner .rightmenu .productInfo .info__btn button:nth-child(1) {
  border: none;
  background: #ff6d00;
  color: #fff;
}
.wrapper .mark__inner .rightmenu .productInfo .info__btn button:nth-child(1):hover {
  background: #ff6d00;
}
.wrapper .mark__inner .rightmenu .payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #d4d4d4;
  width: 100%;
  height: 56px;
}
.wrapper .mark__inner .rightmenu .payment span {
  color: #292828;
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}
.wrapper .mark__inner .rightmenu .payment .fa-chevron-down {
  width: 12px;
  height: 12px;
  color: #b5b5b5;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    width: 100%;
  }
  .wrapper .mark__inner {
    display: flex;
    width: 100%;
  }
  .wrapper .mark__inner .leftmenu {
    display: flex;
  }
  .wrapper .mark__inner .leftmenu .fa-chevron-down {
    margin-left: 30px;
  }
  .wrapper .mark__inner .rightmenu {
    align-items: normal;
    justify-content: normal;
    padding: 30px;
  }
  .wrapper .mark__inner .rightmenu .userInfo .container {
    width: 50%;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .first {
    width: 100%;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .first .img {
    min-width: 100px;
    height: 100px;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .first .txt .txt__container p {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .first .txt .txt__container span {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .second {
    width: 100%;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .second .img {
    min-width: 100px;
    height: 100px;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .second .txt .txt__container p {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .second .txt .txt__container span {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
}
@media screen and (max-width: 390px) {
  .wrapper {
    width: 100%;
    height: 100%;
    width: 100%;
  }
  .wrapper .mark__inner {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .wrapper .mark__inner .leftmenu {
    display: none;
  }
  .wrapper .mark__inner .rightmenu .info span {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  .wrapper .mark__inner .rightmenu .email {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  .wrapper .mark__inner .rightmenu .userInfo {
    display: flex;
    padding: 5px 10px;
  }
  .wrapper .mark__inner .rightmenu .userInfo .container {
    width: 100%;
  }
  .wrapper .mark__inner .rightmenu .userInfo .container h4 {
    font-family: "Pretendard-Bold";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.42px;
    margin-bottom: 0;
  }
  .wrapper .mark__inner .rightmenu .userInfo .container .user span {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  .wrapper .mark__inner .rightmenu .userInfo .orderClock {
    display: flex;
    width: 100%;
  }
  .wrapper .mark__inner .rightmenu .userInfo .orderClock span {
    margin-bottom: 0;
  }
  .wrapper .mark__inner .rightmenu .userInfo .orderClock span:nth-child(1) {
    font-family: "Pretendard-Bold";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.42px;
  }
  .wrapper .mark__inner .rightmenu .productInfo {
    flex-wrap: wrap;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .first .img {
    min-width: 50px;
    height: 50px;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .first .txt .txt__container {
    width: 100%;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .first .txt .countFirst {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .second .img {
    min-width: 50px;
    height: 50px;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .second .txt .txt__container {
    width: 100%;
  }
  .wrapper .mark__inner .rightmenu .productInfo .product__container .second .countFirst span {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  .wrapper .mark__inner .rightmenu .productInfo .info__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .wrapper .mark__inner .rightmenu .productInfo .info__btn button {
    width: 280px;
  }
}