@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

ul li::marker {
  content: "";
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.hi {
  font-family: "Pretendard-Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.96px;
  width: 100%;
  color: #009e95;
}

body {
  width: 100%;
}

.container {
  width: 1384px;
  padding: 0px 15px;
  margin: 0 auto;
  margin: 0 auto;
}

/*main*/
main .container {
  /*section__up*/
  /*section__down*/
}
main .container .section__up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*section__up-title*/
  /*address_info*/
  /*shopping__info*/
  /*info*/
}
main .container .section__up .section__up-title {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 46px;
  font-family: "Pretendard-Bold";
  font-size: 22px;
  font-style: bold;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -0.66px;
}
main .container .section__up .section__up-title i {
  color: #0a8800;
}
main .container .section__up .address__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  width: 700px;
  height: 168px;
}
main .container .section__up .address__info .info__up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
main .container .section__up .address__info .info__up span:nth-child(1) {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}
main .container .section__up .address__info .info__down {
  display: flex;
  flex-direction: column;
  border: 1px solid #ff6d00;
  border-radius: 8px;
  padding: 20px 0;
}
main .container .section__up .address__info .info__down ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}
main .container .section__up .address__info .info__down ul li:nth-child(1) {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
}
main .container .section__up .address__info .info__down ul li:nth-child(2) {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
  color: #818181;
}
main .container .section__up .address__info .info__down ul li:nth-child(3) {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}
main .container .section__up .shopping__info {
  margin-bottom: 30px;
}
main .container .section__up .shopping__info ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px 13px;
  border: 1px solid #9a9a9a;
  width: 700px;
  border-radius: 8px;
}
main .container .section__up .shopping__info ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .section__up .shopping__info ul li:nth-child(1) {
  display: flex;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 13px;
  width: 100%;
}
main .container .section__up .shopping__info ul li:nth-child(1) a img {
  width: 128px;
  height: 128px;
  border-radius: 8px;
}
main .container .section__up .shopping__info ul li:nth-child(1) div {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
main .container .section__up .shopping__info ul li:nth-child(1) div span:nth-child(2) {
  color: #ff6d00;
}
main .container .section__up .shopping__info ul li button {
  padding: 8px 0;
  border: none;
  width: 674px;
  height: 40px;
  background-color: #ff6d00;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}
main .container .section__up .shopping__info ul li button:hover {
  background: #f99256;
}
main .container .section__up .info {
  margin-bottom: 65px;
}
main .container .section__up .info .info-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 20px;
  width: 700px;
  background-color: #e6f3e5;
  border-radius: 8px;
}
main .container .section__up .info .info-text ul {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
main .container .section__up .info .info-text ul div {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
}
main .container .section__down {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 961.52px;
  /*section_down-title*/
}
main .container .section__down .section__down-title {
  margin-bottom: 35px;
  width: 100%;
  padding-left: 17px;
}
main .container .section__down .section__down-title h2 {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
}
main .container .section__down .section__down-product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
main .container .section__down .section__down-product button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 158px;
  height: 38px;
  background-color: #ff6d00;
  color: #fff;
  transition: all 0.3s;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 30px;
}
main .container .section__down .section__down-product button i {
  padding-left: 12px;
}
main .container .section__down .section__down-product button:hover {
  background-color: #f99256;
  cursor: pointer;
}

/*미디어쿼리*/
@media (max-width: 1384px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  header {
    border: none;
    width: 100%;
    height: 45px;
  }
  main {
    width: 100%;
  }
  main .container {
    width: 100%;
    padding: 0 20px;
  }
  main .container .section__up .section__up-title {
    padding-top: 30px;
  }
  main .container .section__up .address__info {
    width: 100%;
  }
  main .container .section__up .address__info .info__down ul li {
    margin-bottom: 3px;
  }
  main .container .section__up .address__info .info__down ul li:nth-child(2) {
    font-family: "Pretendard-Bold";
    font-size: 14px;
    font-style: bold;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.42px;
  }
  main .container .section__up .address__info .info__down ul li:nth-child(3) {
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: -0.42px;
  }
  main .container .section__up .shopping__info {
    width: 100%;
  }
  main .container .section__up .shopping__info ul {
    width: 100%;
  }
  main .container .section__up .shopping__info ul li:nth-child(1) a img {
    width: 70px;
    height: 70px;
  }
  main .container .section__up .shopping__info ul li:nth-child(1) div {
    font-family: "Pretendard-Bold";
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
  }
  main .container .section__up .shopping__info ul li button {
    width: 300px;
    height: 50px;
  }
  main .container .section__up .info {
    width: 100%;
  }
  main .container .section__up .info .info-text {
    width: 100%;
  }
  main .container .section__down {
    width: 100%;
  }
  main .container .section__down .section__down-product {
    display: flex;
  }
  footer {
    width: 100%;
    height: 287px;
  }
}