@import "./config/fonts.scss";
@import "./config/reset.scss";
@import "./config/colors.scss";
@import "./config/./image.scss";
@import "./layout/layout.scss";

.wrapper {
  width: 100%;
  height: 100vh;
  @include width_inner;
  .mark__inner {
    display: flex;
    width: 100%;
    height: 100%;
    .leftmenu {
      width: 200px;
      height: 100%;
      ul {
        .home {
          padding: 20px 18px;
          @include text_XS_12;
        }
        li {
          display: flex;
          gap: 5px;
          align-items: center;
          margin-bottom: 20px;
          cursor: pointer;
          & > div {
            display: flex;
            justify-content: space-between;
            width: 14;
          }
          .document {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/document.svg);
            @include background_cover;
          }

          .review {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/review.svg);
            @include background_cover;
          }
          .delivery {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/delivery.svg);
            @include background_cover;
          }
          .star {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/star.svg);
            @include background_cover;
          }
          .event {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/event.svg);
            @include background_cover;
          }
          span {
            @include text_S_14;
          }
        }
        .my-order {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > div {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .fa-chevron-down {
            margin-right: 20px;
          }
        }
        .inner {
          display: flex;
          flex-direction: column;
          padding-left: 20px;
          gap: 10px;
          position: relative;
          @include text_S_14;
          &.active .inner {
            display: flex;
          }
          &::after {
            content: "\f077";
            font-family: "fontawesome";
            position: absolute;
            top: -28%;
            left: 79%;
            transform: translate(50%, 50%);
            // border: 1px solid red;
            transition: all 0.3s;
            &.active {
              display: none;
            }
          }
          .title {
            &:hover {
              width: 150px;
              padding: 5px;
              background: map-get($color-hover, primary-hover-color);
            }
          }
        }
      }
    }
    .rightmenu {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 55px 40px;
      .order {
        width: 60px;
        height: 35px;
        span {
          // border: 1px solid red;
          display: flex;
          margin-bottom: 15px;
          @include heading_XS_20;
        }
      }
      .info {
        display: flex;
        gap: 12px;
        margin-bottom: 3px;
        span {
          @include text_S_14;
        }
      }
      .email {
        margin-bottom: 12px;
        @include text_S_14;
      }
      .userInfo {
        display: flex;
        margin-bottom: 12px;
        padding: 15px 15px;
        width: 100%;
        height: 130px;
        background: map-get($color, color-Neutrals-Grey-100);
        .container {
          display: flex;
          flex-direction: column;
          margin-right: 10px;
          width: 447px;
          h4 {
            @include heading_XXS_16;
            margin-bottom: 5px;
          }
          .user {
            display: flex;
            flex-direction: column;
            span {
              @include text_S_14;
              display: flex;
              color: map-get($color, color-Neutrals-Grey-500);
            }
          }
        }
        .orderClock {
          display: flex;
          flex-direction: column;
          border-left: 1px solid map-get($color, color-Neutrals-Grey-700);
          span {
            display: flex;
            margin-bottom: 7px;
            margin-left: 10px;
            &:nth-child(1) {
              @include heading_XXS_16;
            }
            &:nth-child(2) {
              @include text_XS_12;
            }
          }
        }
      }
      .productInfo {
        display: flex;
        margin-bottom: 12px;
        padding: 25px 20px;
        border: 1px solid map-get($color, color-Neutrals-Grey-200);
        .product__container {
          .first {
            display: flex;
            margin-bottom: 20px;
            padding-bottom: 7px;
            border-bottom: 1px solid map-get($color, color-Neutrals-Grey-300);
            width: 95%;
            height: auto;
            .img {
              min-width: 145px;
              height: 145px;
              // border: 1px solid #f00;
              background-image: url(../../assets/images/mypage/productImg1.png);
              @include background_cover;
            }
            .txt {
              padding-right: 20px;
              padding-left: 10px;
              width: 80%;
              height: 116px;
              .txt__container {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                p {
                  display: flex;
                  @include text_S_14;
                }
                span {
                  @include text_S_14;
                }
              }
            }
            .countFirst {
              // border: 1px solid #f00;
              display: flex;
              justify-content: space-between;
              span {
                @include text_S_14;
                color: map-get($color, color-Neutrals-Grey-500);
              }
            }
          }
          .second {
            display: flex;
            margin-bottom: 20px;
            width: 95%;
            height: auto;
            .img {
              min-width: 145px;
              height: 145px;
              // border: 1px solid #f00;
              background-image: url(../../assets/images/mypage/productImg2.png);
              @include background_cover;
            }
            .txt {
              padding-right: 20px;
              padding-left: 10px;
              width: 80%;
              height: 116px;
              .txt__container {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                p {
                  display: flex;
                  @include text_S_14;
                }
                span {
                  @include text_S_14;
                }
              }
            }
            .countSecond {
              // border: 1px solid #f00;
              display: flex;
              justify-content: space-between;
              span {
                @include text_S_14;
                color: map-get($color, color-Neutrals-Grey-500);
              }
            }
          }
        }
        .info__btn {
          display: flex;
          flex-direction: column;
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;
            border: 1px solid map-get($color, color-Neutrals-Grey-200);
            width: 200px;
            height: 32px;
            background: map-get($color, color-White);
            color: map-get($color, color-Neutrals-Grey-800);
            border-radius: 8px;
            &:hover {
              background: map-get($color, color-Neutrals-Grey-100);
            }
            &:nth-child(1) {
              border: none;
              background: map-get($color, primary-color);
              color: map-get($color, color-White);
              &:hover {
                background: map-get($color, primary-color);
              }
            }
          }
        }
      }
      .payment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border: 1px solid map-get($color, color-Neutrals-Grey-200);
        width: 100%;
        height: 56px;
        span {
          color: map-get($color, color-Neutrals-Grey-800);
          @include heading_XXS_16;
        }
        .fa-chevron-down {
          width: 12px;
          height: 12px;
          color: map-get($color, color-Neutrals-Grey-300);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    @include width_full;
    .mark__inner {
      display: flex;
      width: 100%;
      .leftmenu {
        display: flex;
        .fa-chevron-down {
          margin-left: 30px;
        }
      }
      .rightmenu {
        align-items: normal;
        justify-content: normal;
        padding: 30px;
        .userInfo {
          .container {
            width: 50%;
          }
        }
        .productInfo {
          // border: 1px solid red;
          .product__container {
            .first {
              width: 100%;
              .img {
                min-width: 100px;
                height: 100px;
              }
              .txt {
                .txt__container {
                  p {
                    @include text_XS_12;
                  }
                  span {
                    @include text_XS_12;
                  }
                }
              }
            }
            .second {
              width: 100%;
              .img {
                min-width: 100px;
                height: 100px;
              }
              .txt {
                .txt__container {
                  p {
                    @include text_XS_12;
                  }
                  span {
                    @include text_XS_12;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .wrapper {
    width: 100%;
    height: 100%;
    @include width_full;
    .mark__inner {
      display: flex;
      width: 100%;
      height: 100%;
      .leftmenu {
        display: none;
      }
      .rightmenu {
        .info {
          span {
            @include text_XS_12;
          }
        }
        .email {
          @include text_XS_12;
        }
        .userInfo {
          display: flex;
          padding: 5px 10px;
          // border: 1px solid red;
          .container {
            width: 100%;
            h4 {
              @include text_B_S_14;
              margin-bottom: 0;
            }
            .user {
              span {
                // border: 1px solid red;
                @include text_XS_12;
              }
            }
          }
          .orderClock {
            display: flex;
            width: 100%;
            span {
              // border: 1px solid red;
              margin-bottom: 0;
              &:nth-child(1) {
                @include text_B_S_14;
              }
            }
          }
        }
        .productInfo {
          flex-wrap: wrap;
          .product__container {
            .first {
              .img {
                min-width: 50px;
                height: 50px;
              }
              .txt {
                .txt__container {
                  width: 100%;
                }
                .countFirst {
                  @include text_XS_12;
                }
              }
            }
            .second {
              .img {
                min-width: 50px;
                height: 50px;
              }
              .txt {
                .txt__container {
                  width: 100%;
                }
              }
              .countFirst {
                span {
                  @include text_XS_12;
                }
              }
            }
          }
          .info__btn {
            // border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            button {
              width: 280px;
            }
          }
        }
      }
    }
  }
}
