@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
.heading_XXL_56 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.12px;
}

.heading_XL_48, .hi {
  font-family: "Pretendard-Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.96px;
}

.heading_L_40 {
  font-family: "Pretendard-Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.8px;
}

.heading_M_32 {
  font-family: "Pretendard-Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.64px;
}

.heading_S_24 {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}

.heading_XS_20 {
  font-family: "Pretendard-Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.heading_XXS_16 {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}

/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_XXL_26 {
  font-family: "Pretendard-Regular";
  font-size: 26px;
  font-style: normal;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_XL_22 {
  font-family: "Pretendard-Regular";
  font-size: 22px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.66px;
}

.text_L_18 {
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_M_16, .modal__box .modal__inner .modal__inner-box .button input, .modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .number__input .price, .modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .number__input button, .modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form .number__input input[type=text], .modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form .number__input input[type=button], aside .checkout__summary .summary__price .summary__item__total p, aside .checkout__summary .summary__item ul li, main .order__info .product__info .product .number__box div input[type=text], main .order__info .product__info .product .number__box div input[type=button], main .order__info .product__info .product .number__box div, main .section__up article .banner {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.text_S_14, .address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option ul li:nth-child(4) div, .address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option ul li, .address__modal__box .address__modal__inner .address__modal__inner-box .user__info ul li:nth-child(4) div, .address__modal__box .address__modal__inner .address__modal__inner-box .user__info ul li, .address__modal__box .address__modal__inner .address__modal__inner-box .info__password, .modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .number__input, .modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up, .modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form .number__input, .modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up, aside .checkout__summary .info, aside .checkout__summary .consent .consent__list li, aside .checkout__summary .summary__price .summary__item__total p span, aside .checkout__summary .summary__item ul .additional__info, .credit .used__credit #used__credit__box, .credit .used__credit label span, .credit .used__credit label, .credit .total__credit #total__credit__box, .credit .total__credit label span, .credit .total__credit label, .coupon .coupon__select #coupon, .coupon .coupon__select label span, .coupon .coupon__select label, main .order__info .product__info .product .product__info .product__text-down input, main .order__info .product__info .product .product__info .product__text-down, main .order__info .product__info .product .product__info .product__text-up, main .address .delivery__service .delivery__info .delivery__memo li:nth-child(1), main .address .shopping__info .info__down ul li span:nth-child(2), main .address .shopping__info .info__up span:nth-child(2), main .section__up article .section__title {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}

.text_XS_12, aside .checkout__summary .summary__price .tax__info, .payment__method .methods ul li, main .order__info .product__info .product .price__info .price__text-down, main .address .delivery__service .delivery__info .delivery__memo li:nth-child(3), main .address .delivery__service .delivery__info .delivery__memo li:nth-child(2) {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}

/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_B_XXL_26 {
  font-family: "Pretendard-Bold";
  font-size: 26px;
  font-style: bold;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_B_XL_22 {
  font-family: "Pretendard-Bold";
  font-size: 22px;
  font-style: bold;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -0.66px;
}

.text_B_L_18, aside .checkout__summary .summary__price .summary__item__total .price, main .order__info .product__info .product .price__info .jeneral-price {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_B_M_16, .address__modal__box .address__modal__inner .address__modal__inner-box button, .address__modal__box .address__modal__inner .address__modal__inner-box h2, .modal__box .modal__inner .modal__inner-box .final__price, .modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .price, .modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down .modal-price, aside .checkout__summary .checkout__button, .payment__method h3, .credit h3, .coupon h2, main .order__info h3 span, main .order__info h3, main .address .delivery__service span, main .address .shopping__info .info__down ul li span:nth-child(1), main .address .shopping__info .info__up span:nth-child(1) {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.text_B_S_14, .address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option ul li .username, .address__modal__box .address__modal__inner .address__modal__inner-box .user__info ul li .username, .modal__box .modal__inner .modal__inner-box form ul li select, .modal__box .modal__inner .modal__inner-box .product .product__info, aside .checkout__summary .summary__item ul .additional__info span, main .address .shopping__info .info__down ul li:nth-child(3), main .address .shopping__info .info__down ul li:nth-child(2) {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: bold;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}

.text_B_XS_12 {
  font-family: "Pretendard-Bold";
  font-size: 12px;
  font-style: bold;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.36px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.width_full, header, .hi {
  width: 100%;
}

.width_inner, .container {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.hi {
  color: #009e95;
}

/*header*/
header {
  margin-bottom: 23px;
  border-bottom: 1px solid #b5b5b5;
  height: 82px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/*main*/
main {
  padding: 0 12px;
  width: 961px;
  /* section__up*/
  /*address*/
  /*order__info*/
}
main .section__up {
  width: 100%;
}
main .section__up article {
  /*banner*/
}
main .section__up article .section__title {
  display: flex;
  gap: 10px;
  margin-bottom: 28px;
  padding-left: 6px;
}
main .section__up article .section__title .category {
  color: #818181;
}
main .section__up article .section__title .select__category {
  gap: 10px;
}
main .section__up article .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
  padding: 10px;
  width: 100%;
  height: 48px;
  background-color: #e6f3e5;
  transition: all 0.8s;
  border-radius: 8px;
}
main .section__up article .banner .banner-close {
  border: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
}
main .section__up article .banner .banner-close span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 80%;
  background-color: #000;
  cursor: pointer;
}
main .section__up article .banner .banner-close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
main .section__up article .banner .banner-close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}
main .section__up article .banner.active {
  display: none;
}
main .address {
  display: flex;
  gap: 55px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24.4px;
}
main .address .shopping__info {
  flex: 2;
}
main .address .shopping__info .info__up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
main .address .shopping__info .info__up span:nth-child(2) {
  cursor: pointer;
}
main .address .shopping__info .info__down {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 15px 136px 15px 14px;
  border: 1px solid #9a9a9a;
  border-left: 4px solid #9a9a9a;
  border-radius: 8px;
}
main .address .shopping__info .info__down ul li {
  margin-bottom: 7px;
}
main .address .shopping__info .info__down ul li:nth-child(3) {
  color: #ff6d00;
}
main .address .shopping__info .info__down ul li span {
  gap: 21px;
}
main .address .delivery__service {
  flex: 2;
}
main .address .delivery__service span {
  display: flex;
  display: block;
  margin-bottom: 20px;
  color: #0a8800;
}
main .address .delivery__service .delivery__info {
  display: flex;
  flex-direction: column;
}
main .address .delivery__service .delivery__info .delivery__memo {
  padding: 18px 0;
}
main .address .delivery__service .delivery__info .delivery__memo li {
  margin-bottom: 7px;
}
main .address .delivery__service .delivery__info .delivery__memo li:nth-child(2) {
  color: #6a6a6a;
}
main .address .delivery__service .delivery__info .delivery__memo li:nth-child(3) {
  color: #6a6a6a;
}
main .order__info {
  margin-bottom: 38px;
}
main .order__info h3 {
  margin-bottom: 24px;
  padding-top: 18px;
  border-top: 1px solid #9a9a9a;
  width: 100%;
}
main .order__info h3 span {
  color: #ff6d00;
}
main .order__info .product__info {
  /*close  */
}
main .order__info .product__info .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 12px;
  height: 176px;
  /*checkbox*/
  /*img*/
  /*product__info */
  /*number__input */
  /*price__info */
}
main .order__info .product__info .product .custom__box {
  padding-right: 6px;
  position: relative;
}
main .order__info .product__info .product .custom__box input[type=checkbox].custom__checkbox {
  display: none;
}
main .order__info .product__info .product .custom__box .select {
  display: inline-block;
  border: 1px solid #000;
  position: relative;
  width: 16px;
  height: 16px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}
main .order__info .product__info .product .custom__box .select::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}
main .order__info .product__info .product .custom__box input[type=checkbox]:checked + .select {
  background-color: black;
}
main .order__info .product__info .product .custom__box input[type=checkbox]:checked + .select::after {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  content: "✓";
  transform: translate(-50%, -50%);
}
main .order__info .product__info .product .img {
  width: 128px;
  height: 128px;
  border-radius: 8px;
}
main .order__info .product__info .product .img img {
  width: 100%;
  height: 100%;
}
main .order__info .product__info .product .product__info {
  display: flex;
  gap: 10px;
  justify-content: start;
  flex-direction: column;
}
main .order__info .product__info .product .product__info .product__text-down {
  color: #4a4949;
}
main .order__info .product__info .product .product__info .product__text-down input {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
main .order__info .product__info .product .product__info .product__text-down input:hover {
  color: #9a9a9a;
}
main .order__info .product__info .product .number__box div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100px;
  height: 33px;
  border-radius: 8px;
}
main .order__info .product__info .product .number__box div input[type=button] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 37px;
  height: 34px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  cursor: pointer;
}
main .order__info .product__info .product .number__box div input[type=button]:hover {
  color: #818181;
}
main .order__info .product__info .product .number__box div input[type=text] {
  border: none;
  outline: none;
  width: 20px;
  background-color: transparent;
  text-align: center;
}
main .order__info .product__info .product .price__info {
  display: flex;
  gap: 6px;
  flex-direction: column;
  text-align: center;
}
main .order__info .product__info .product .price__info .price__text-down {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .order__info .product__info .product .price__info .price__text-down .sale {
  display: block;
  border: 1px solid #ff6d00;
  width: 33px;
  height: 18px;
  color: #ff6d00;
  border-radius: 5px;
}
main .order__info .product__info .product .price__info .price__text-down span {
  cursor: pointer;
}
main .order__info .product__info .close {
  border: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
  cursor: pointer;
}
main .order__info .product__info .close span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 80%;
  background-color: #000;
}
main .order__info .product__info .close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
main .order__info .product__info .close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}

/*coupon*/
.coupon {
  margin-bottom: 21px;
  width: 100%;
}
.coupon h2 {
  margin-bottom: 25px;
  padding-bottom: 8px;
  border-bottom: 1px solid #9a9a9a;
  width: 100%;
}
.coupon .coupon__select {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
}
.coupon .coupon__select label span {
  padding-left: 5px;
  color: #fc3310;
}
.coupon .coupon__select #coupon {
  width: 553px;
  height: 38px;
  color: #9a9a9a;
  border-radius: 8px;
}
.coupon .coupon__select #coupon:focus {
  outline: none;
  cursor: pointer;
}

/*credit*/
.credit {
  margin-bottom: 21px;
  width: 100%;
}
.credit h3 {
  margin-bottom: 25px;
  padding-bottom: 8px;
  border-bottom: 1px solid #9a9a9a;
  width: 100%;
}
.credit .total__credit {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 26px;
  padding-left: 10px;
}
.credit .total__credit label span {
  padding-left: 5px;
  color: #fc3310;
}
.credit .total__credit #total__credit__box {
  padding: 0 14px;
  border: 1px solid #9a9a9a;
  width: 553px;
  height: 38px;
  color: #9a9a9a;
  border-radius: 8px;
}
.credit .total__credit #total__credit__box:focus {
  outline: none;
}
.credit .used__credit {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
}
.credit .used__credit label span {
  padding-left: 5px;
  color: #fc3310;
}
.credit .used__credit #used__credit__box {
  padding: 0 14px;
  border: 1px solid #9a9a9a;
  width: 385px;
  height: 38px;
  color: #9a9a9a;
  border-radius: 8px;
}
.credit .used__credit #used__credit__box:focus {
  outline: none;
}
.credit .used__credit button {
  border: none;
  width: 158px;
  height: 38px;
  background-color: #ff6d00;
  color: #fff;
  transition: all 0.3s;
  border-radius: 8px;
}
.credit .used__credit button:hover {
  background-color: #ff7629;
  cursor: pointer;
}

/*payment__method*/
.payment__method {
  margin-bottom: 21px;
  width: 100%;
}
.payment__method h3 {
  margin-bottom: 30px;
  padding-bottom: 8px;
  border-bottom: 1px solid #9a9a9a;
  width: 100%;
}
.payment__method .methods {
  display: flex;
  width: 100%;
}
.payment__method .methods ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 22px;
  width: 100%;
}
.payment__method .methods ul li {
  padding: 34px 22px;
  border: 1px solid #b5b5b5;
  text-align: center;
  transition: all 0.3s;
  border-radius: 8px;
}
.payment__method .methods ul li span {
  display: block;
  padding-bottom: 5px;
}
.payment__method .methods ul li .img {
  width: 55px;
  height: 63px;
}
.payment__method .methods ul li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.payment__method .methods ul li:hover {
  border: 1px solid #ff7629;
  box-shadow: 0 0 4px #ff7629;
  cursor: pointer;
}

/*aside*/
aside {
  padding-top: 32px;
  position: sticky;
  top: 20px;
  height: fit-content;
}
aside .checkout__summary {
  padding: 10px 0;
  width: 338.32px;
  /*summary__item*/
  /*summary__price*/
  /*consent*/
  /*checkout__button*/
  /*info*/
}
aside .checkout__summary .summary__item ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 34.5px;
}
aside .checkout__summary .summary__item ul .additional__info {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
aside .checkout__summary .summary__price .summary__item__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 20px;
}
aside .checkout__summary .summary__price .summary__item__total p {
  color: #101010;
}
aside .checkout__summary .summary__price .summary__item__total .price {
  color: #ff6d00;
}
aside .checkout__summary .summary__price .tax__info {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 23.5px;
}
aside .checkout__summary .summary__price .tax__info .tax__label {
  display: block;
  border: 1px solid #0a8800;
  width: 28px;
  color: #0a8800;
  text-align: center;
  border-radius: 5px;
}
aside .checkout__summary .summary__price .tax__info .tex__text {
  color: #6a6a6a;
}
aside .checkout__summary .consent .consent__list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 19px;
  border-bottom: 1px solid #9a9a9a;
  height: 60px;
}
aside .checkout__summary .consent .consent__list li:last-child {
  border-bottom: none;
}
aside .checkout__summary .consent .consent__list li div {
  display: flex;
  gap: 6px;
  align-items: center;
}
aside .checkout__summary .consent .consent__list li i {
  cursor: pointer;
}
aside .checkout__summary .checkout__button {
  margin-bottom: 20px;
  border: none;
  width: 100%;
  height: 60px;
  background-color: #ff6d00;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}
aside .checkout__summary .checkout__button:hover {
  background-color: #ff7629;
  cursor: pointer;
}
aside .checkout__summary .info ul li div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}
aside .checkout__summary .info ul li div i {
  color: #0a8800;
}

/*option-modal*/
.modal__box {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(19, 19, 19, 0.5);
}
.modal__box.active {
  display: block;
}
.modal__box .modal__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 90px;
  box-shadow: 2px 2px 4px #b5b5b5;
  position: relative;
  width: 100%;
  width: 520px;
  background: #fff;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box {
  padding: 50px 70px;
  width: 100%;
  height: 100%;
}
.modal__box .modal__inner .modal__inner-box .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}
.modal__box .modal__inner .modal__inner-box .product .product__img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box .product .product__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal__box .modal__inner .modal__inner-box form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.modal__box .modal__inner .modal__inner-box form ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal__box .modal__inner .modal__inner-box form ul li {
  margin-bottom: 17px;
}
.modal__box .modal__inner .modal__inner-box form ul li select {
  padding-left: 10px;
  border: 1px solid #b5b5b5;
  width: 100%;
  height: 40px;
  color: #9a9a9a;
  cursor: pointer;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box form ul li select:hover {
  border: 1px solid #ff7629;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin {
  margin-bottom: 17px;
  width: 100%;
  height: 100px;
  background: #f6f6f6;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul {
  padding: 13px 20px;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  position: relative;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up .close-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up .close-box .close {
  position: relative;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up .close-box .close span {
  display: block;
  border: 1px solid #101010;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 1px;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up .close-box .close span:nth-child(1) {
  transform: rotate(45deg);
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up .close-box .close span:nth-child(2) {
  transform: rotate(-45deg);
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f6f6f6;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form {
  display: flex;
  justify-content: space-between;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form .number__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80px;
  height: 27px;
  background: #fff;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form .number__input input[type=button] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 30px;
  height: 34px;
  background-color: white;
  color: #b5b5b5;
  text-align: center;
  cursor: pointer;
  cursor: pointer;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form .number__input input[type=button]:hover {
  color: #818181;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form .number__input input[type=text] {
  border: none;
  outline: none;
  width: 20px;
  background: transparent;
  text-align: center;
  pointer-events: none;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down .modal-price {
  margin-bottom: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: right;
}
.modal__box .modal__inner .modal__inner-box .product-info-option {
  display: none;
  margin-bottom: 17px;
  width: 100%;
  height: 100px;
  background: #f6f6f6;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul {
  padding: 13px 20px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  position: relative;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up .close-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up .close-box .close {
  position: relative;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up .close-box .close span {
  display: block;
  border: 1px solid #101010;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 1px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up .close-box .close span:nth-child(1) {
  transform: rotate(45deg);
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up .close-box .close span:nth-child(2) {
  transform: rotate(-45deg);
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down {
  display: flex;
  justify-content: space-between;
  background: #f6f6f6;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .number__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80px;
  height: 27px;
  background: #fff;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .number__input button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 30px;
  height: 34px;
  background-color: white;
  color: #b5b5b5;
  text-align: center;
  cursor: pointer;
  cursor: pointer;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .number__input button:hover {
  color: #818181;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .number__input .price {
  width: 20px;
  text-align: center;
}
.modal__box .modal__inner .modal__inner-box .product-info-option.active {
  display: block;
}
.modal__box .modal__inner .modal__inner-box hr {
  margin-bottom: 13px;
  border: 1px solid #d4d4d4;
}
.modal__box .modal__inner .modal__inner-box .final__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
  padding: 0 20px;
}
.modal__box .modal__inner .modal__inner-box .button {
  display: flex;
  justify-content: space-between;
}
.modal__box .modal__inner .modal__inner-box .button input {
  border: none;
  width: 180px;
  height: 50px;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box .button input:nth-child(1) {
  border: 1px solid #b5b5b5;
  background: #fff;
}
.modal__box .modal__inner .modal__inner-box .button input:nth-child(1):hover {
  background-color: #f6f6f6;
}
.modal__box .modal__inner .modal__inner-box .button input:nth-child(2) {
  background: #ff6d00;
  color: #fff;
}
.modal__box .modal__inner .modal__inner-box .button input:nth-child(2):hover {
  background: #ff7629;
}
.modal__box .modal__close-box {
  position: absolute;
  top: 19px;
  right: 18px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.modal__box .modal__close-box .close {
  position: relative;
}
.modal__box .modal__close-box .close span {
  display: block;
  border: 1px solid #101010;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 1px;
}
.modal__box .modal__close-box .close span:nth-child(1) {
  transform: rotate(45deg);
}
.modal__box .modal__close-box .close span:nth-child(2) {
  transform: rotate(-45deg);
}

/*address-modal*/
.address__modal__box {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(19, 19, 19, 0.5);
}
.address__modal__box.active {
  display: block;
}
.address__modal__box .address__modal__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 90px;
  box-shadow: 2px 2px 4px #b5b5b5;
  position: relative;
  width: 640px;
  background: #fff;
  border-radius: 8px;
}
.address__modal__box .address__modal__inner .address__modal__inner-box {
  padding: 50px 70px;
  width: 100%;
  height: 100%;
}
.address__modal__box .address__modal__inner .address__modal__inner-box h2 {
  margin-bottom: 26px;
  text-align: center;
}
.address__modal__box .address__modal__inner .address__modal__inner-box button {
  margin-bottom: 7px;
  border: none;
  background: transparent;
  color: #ff6d00;
  cursor: pointer;
}
.address__modal__box .address__modal__inner .address__modal__inner-box button:hover {
  color: #ff7629;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .info__password {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
  color: #0a8800;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info {
  border: 1px solid #d4d4d4;
  width: 528px;
  height: 132px;
  border-radius: 8px;
  padding: 14px 20px;
  margin-bottom: 20px;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info.active {
  display: none;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  gap: 21px;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info ul li:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info ul li:nth-child(4) div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9a9a9a;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info ul li:nth-child(4) div:nth-child(1) {
  display: flex;
  gap: 3px;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info ul li:nth-child(4) div:nth-child(2) {
  display: flex;
  gap: 33px;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info ul li:nth-child(4) div:nth-child(2) span {
  cursor: pointer;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info ul li:nth-child(4) div i {
  margin-right: 8px;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option {
  border: 1px solid #d4d4d4;
  width: 528px;
  height: 132px;
  border-radius: 8px;
  padding: 14px 20px;
  margin-bottom: 20px;
  display: none;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option.active {
  display: block;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option ul li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  gap: 21px;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option ul li:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option ul li:nth-child(4) div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9a9a9a;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option ul li:nth-child(4) div:nth-child(1) {
  display: flex;
  gap: 3px;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option ul li:nth-child(4) div:nth-child(2) {
  display: flex;
  gap: 33px;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option ul li:nth-child(4) div:nth-child(2) span {
  cursor: pointer;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .user__info-option ul li:nth-child(4) div i {
  margin-right: 8px;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .address__close-box {
  position: absolute;
  top: 19px;
  right: 18px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .address__close-box .address__close {
  position: relative;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .address__close-box .address__close span {
  display: block;
  border: 1px solid #101010;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 1px;
}
.address__modal__box .address__modal__inner .address__modal__inner-box .address__close-box .address__close span:nth-child(1) {
  transform: rotate(45deg);
}
.address__modal__box .address__modal__inner .address__modal__inner-box .address__close-box .address__close span:nth-child(2) {
  transform: rotate(-45deg);
}