@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.background_cover {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*header*/
header {
  width: 100%;
  margin-bottom: 23px;
  border-bottom: 1px solid #b5b5b5;
  height: 82px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

/*main*/
main {
  width: 961px;
  /*section__up*/
}
main .section__up {
  width: 100%;
}
main .section__up article {
  /*section__title */
  /*banner */
  /*toolbar */
  /*product__info  */
}
main .section__up article .section__title {
  display: flex;
  gap: 10px;
  margin-bottom: 28px;
  padding-left: 6px;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
main .section__up article .section__title .category {
  color: #818181;
}
main .section__up article .section__title .select__category {
  gap: 10px;
}
main .section__up article .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
  padding: 10px;
  width: 100%;
  height: 48px;
  background-color: #e6f3e5;
  transition: all 0.8s;
  border-radius: 8px;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
main .section__up article .banner .banner-close {
  border: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
}
main .section__up article .banner .banner-close span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 80%;
  background-color: #000;
  cursor: pointer;
}
main .section__up article .banner .banner-close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
main .section__up article .banner .banner-close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}
main .section__up article .banner.active {
  display: none;
}
main .section__up article .toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 14px 12px 18px 12px;
  border-bottom: 1px solid #b5b5b5;
  height: 51px;
}
main .section__up article .toolbar .form__left {
  display: flex;
  align-items: center;
}
main .section__up article .toolbar .form__left .custom__box {
  padding-right: 6px;
  position: relative;
}
main .section__up article .toolbar .form__left .custom__box input[type=checkbox].custom__checkbox {
  display: none;
}
main .section__up article .toolbar .form__left .custom__box .select__all {
  display: inline-block;
  border: 1px solid #000;
  position: relative;
  width: 16px;
  height: 16px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}
main .section__up article .toolbar .form__left .custom__box .select__all::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}
main .section__up article .toolbar .form__left .custom__box input[type=checkbox]:checked + .select__all {
  background-color: black;
}
main .section__up article .toolbar .form__left .custom__box input[type=checkbox]:checked + .select__all::after {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  content: "✓";
  transform: translate(-50%, -50%);
}
main .section__up article .toolbar .form__left span {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}
main .section__up article .toolbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  color: #4a4949;
  cursor: pointer;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
main .section__up article .product__info .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 12px;
  height: 176px;
  /*checkbox*/
  /*img*/
  /*product__info */
  /*number__input */
  /*price__info */
  /*close  */
}
main .section__up article .product__info .product .custom__box {
  padding-right: 6px;
  position: relative;
}
main .section__up article .product__info .product .custom__box input[type=checkbox].custom__checkbox {
  display: none;
}
main .section__up article .product__info .product .custom__box .select {
  display: inline-block;
  border: 1px solid #000;
  position: relative;
  width: 16px;
  height: 16px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}
main .section__up article .product__info .product .custom__box .select::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}
main .section__up article .product__info .product .custom__box input[type=checkbox]:checked + .select {
  background-color: black;
}
main .section__up article .product__info .product .custom__box input[type=checkbox]:checked + .select::after {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  content: "✓";
  transform: translate(-50%, -50%);
}
main .section__up article .product__info .product .img {
  width: 128px;
  height: 128px;
  border-radius: 8px;
}
main .section__up article .product__info .product .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .section__up article .product__info .product .product__info .product__text-up {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: bold;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}
main .section__up article .product__info .product .product__info .product__text-middle {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
  color: #4a4949;
}
main .section__up article .product__info .product .product__info .product__text-down {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
  color: #4a4949;
}
main .section__up article .product__info .product .product__info .product__text-down input {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
main .section__up article .product__info .product .product__info .product__text-down input:hover {
  color: #9a9a9a;
}
main .section__up article .product__info .product .number__box div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100px;
  height: 33px;
  border-radius: 8px;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
main .section__up article .product__info .product .number__box div input[type=button] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 37px;
  height: 34px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  cursor: pointer;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
main .section__up article .product__info .product .number__box div input[type=button]:hover {
  color: #818181;
}
main .section__up article .product__info .product .number__box div input[type=text] {
  border: none;
  outline: none;
  width: 20px;
  background-color: transparent;
  text-align: center;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
main .section__up article .product__info .product .price__info {
  display: flex;
  gap: 6px;
  flex-direction: column;
  text-align: center;
}
main .section__up article .product__info .product .price__info .original-price {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
}
main .section__up article .product__info .product .price__info .price__text-down {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}
main .section__up article .product__info .product .price__info .price__text-down .sale {
  display: block;
  border: 1px solid #ff6d00;
  width: 33px;
  height: 18px;
  color: #ff6d00;
  border-radius: 5px;
}
main .section__up article .product__info .product .price__info .price__text-down span {
  cursor: pointer;
}
main .section__up article .product__info .product .close {
  border: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
  cursor: pointer;
}
main .section__up article .product__info .product .close span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 80%;
  background-color: #000;
}
main .section__up article .product__info .product .close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
main .section__up article .product__info .product .close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}
main .section__down {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #f00;
  width: 961.52px;
  /*section_down-title*/
}
main .section__down .section__down-title {
  margin-bottom: 35px;
  left: 0;
  width: 100%;
}
main .section__down .section__down-title h2 {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
}
main .section__down .section__down-product button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 158px;
  height: 38px;
  background-color: #ff6d00;
  color: #fff;
  transition: all 0.3s;
  border-radius: 8px;
}
main .section__down .section__down-product button i {
  padding-left: 12px;
}
main .section__down .section__down-product button:hover {
  background-color: #ff7629;
  cursor: pointer;
}

/*aside*/
aside {
  padding-top: 32px;
  position: sticky;
  top: 20px;
  height: fit-content;
}
aside .checkout__summary {
  padding: 10px 0;
  width: 338.32px;
  /*summary_item*/
  /*summary__price*/
  /*checkout__button*/
  /*info*/
}
aside .checkout__summary .summary__item ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
aside .checkout__summary .summary__item ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 34.5px;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
aside .checkout__summary .summary__item ul li .price {
  color: #4a4949;
}
aside .checkout__summary .summary__item ul li .discount {
  color: #ff6d00;
}
aside .checkout__summary .summary__item ul .additional__info {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
aside .checkout__summary .summary__item ul .additional__info span {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: bold;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}
aside .checkout__summary .summary__Price ul .summary__item__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 20px;
}
aside .checkout__summary .summary__Price ul .summary__item__total p {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
aside .checkout__summary .summary__Price ul .summary__item__total p span {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
aside .checkout__summary .summary__Price ul .summary__item__total .price {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
}
aside .checkout__summary .summary__Price ul .tax__info {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 23.5px;
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}
aside .checkout__summary .summary__Price ul .tax__info .tax__label {
  display: block;
  border: 1px solid #0a8800;
  width: 28px;
  color: #0a8800;
  text-align: center;
  border-radius: 8px;
}
aside .checkout__summary .summary__Price ul .tax__info .tex__text {
  color: #6a6a6a;
}
aside .checkout__summary .checkout__button {
  margin-bottom: 20px;
  border: none;
  width: 100%;
  height: 60px;
  background-color: #ff6d00;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}
aside .checkout__summary .checkout__button:hover {
  background-color: #ff7629;
  cursor: pointer;
}
aside .checkout__summary .info {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
aside .checkout__summary .info ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
aside .checkout__summary .info ul .info__text {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
}

/*footer*/
footer {
  width: 1382px;
  height: 752px;
}

/*option-modal box*/
.modal__box {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(19, 19, 19, 0.5);
}
.modal__box.active {
  display: block;
}
.modal__box .modal__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 90px;
  box-shadow: 2px 2px 4px #b5b5b5;
  position: relative;
  width: 100%;
  width: 520px;
  background: #fff;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box {
  padding: 50px 70px;
  width: 100%;
  height: 100%;
}
.modal__box .modal__inner .modal__inner-box .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}
.modal__box .modal__inner .modal__inner-box .product .product__img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box .product .product__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal__box .modal__inner .modal__inner-box .product .product__info {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: bold;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.modal__box .modal__inner .modal__inner-box form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.modal__box .modal__inner .modal__inner-box form ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal__box .modal__inner .modal__inner-box form ul li {
  margin-bottom: 17px;
}
.modal__box .modal__inner .modal__inner-box form ul li select {
  padding-left: 10px;
  border: 1px solid #b5b5b5;
  width: 100%;
  height: 40px;
  color: #9a9a9a;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: bold;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.modal__box .modal__inner .modal__inner-box form ul li select:hover {
  border: 1px solid #ff7629;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin {
  margin-bottom: 17px;
  width: 100%;
  height: 100px;
  background: #f6f6f6;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul {
  padding: 13px 20px;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  position: relative;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up .close-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up .close-box .close {
  position: relative;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up .close-box .close span {
  display: block;
  border: 1px solid #101010;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 1px;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up .close-box .close span:nth-child(1) {
  transform: rotate(45deg);
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-up .close-box .close span:nth-child(2) {
  transform: rotate(-45deg);
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f6f6f6;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form {
  display: flex;
  justify-content: space-between;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form .number__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80px;
  height: 27px;
  background: #fff;
  border-radius: 8px;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form .number__input input[type=button] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 30px;
  height: 34px;
  background-color: white;
  color: #b5b5b5;
  text-align: center;
  cursor: pointer;
  cursor: pointer;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form .number__input input[type=button]:hover {
  color: #818181;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down form .number__input input[type=text] {
  border: none;
  outline: none;
  width: 20px;
  background: transparent;
  text-align: center;
  pointer-events: none;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.modal__box .modal__inner .modal__inner-box .product-info-origin ul .info-down .modal-price {
  margin-bottom: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: right;
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option {
  display: none;
  margin-bottom: 17px;
  width: 100%;
  height: 100px;
  background: #f6f6f6;
  border-radius: 8px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul {
  padding: 13px 20px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  position: relative;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up .close-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up .close-box .close {
  position: relative;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up .close-box .close span {
  display: block;
  border: 1px solid #101010;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 1px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up .close-box .close span:nth-child(1) {
  transform: rotate(45deg);
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-up .close-box .close span:nth-child(2) {
  transform: rotate(-45deg);
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down {
  display: flex;
  justify-content: space-between;
  background: #f6f6f6;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .number__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80px;
  height: 27px;
  background: #fff;
  border-radius: 8px;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .number__input button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 30px;
  height: 34px;
  background-color: white;
  color: #b5b5b5;
  text-align: center;
  cursor: pointer;
  cursor: pointer;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .number__input button:hover {
  color: #818181;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .number__input .price {
  width: 20px;
  text-align: center;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option ul .info-down .price {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.modal__box .modal__inner .modal__inner-box .product-info-option.active {
  display: block;
}
.modal__box .modal__inner .modal__inner-box hr {
  margin-bottom: 13px;
  border: 1px solid #d4d4d4;
}
.modal__box .modal__inner .modal__inner-box .final__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
  padding: 0 20px;
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.modal__box .modal__inner .modal__inner-box .button {
  display: flex;
  justify-content: space-between;
}
.modal__box .modal__inner .modal__inner-box .button input {
  border: none;
  width: 180px;
  height: 50px;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.modal__box .modal__inner .modal__inner-box .button input:nth-child(1) {
  border: 1px solid #b5b5b5;
  background: #fff;
}
.modal__box .modal__inner .modal__inner-box .button input:nth-child(1):hover {
  background-color: #f6f6f6;
}
.modal__box .modal__inner .modal__inner-box .button input:nth-child(2) {
  background: #ff6d00;
  color: #fff;
}
.modal__box .modal__inner .modal__inner-box .button input:nth-child(2):hover {
  background: #ff7629;
}
.modal__box .modal__close-box {
  position: absolute;
  top: 19px;
  right: 18px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.modal__box .modal__close-box .close {
  position: relative;
}
.modal__box .modal__close-box .close span {
  display: block;
  border: 1px solid #101010;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 1px;
}
.modal__box .modal__close-box .close span:nth-child(1) {
  transform: rotate(45deg);
}
.modal__box .modal__close-box .close span:nth-child(2) {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  header {
    width: 100%;
    height: 45px;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main {
    width: 100%;
  }
  main .section__up article .section__title {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }
  main .section__up article .section__title .category {
    display: none;
  }
  main .section__up article .section__title .select__category {
    width: 100%;
    font-family: "Pretendard-Regular";
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.48px;
  }
  main .section__up article .section__title .select__category span {
    display: none;
  }
  main .section__up article .banner {
    display: none;
  }
  main .section__up article .toolbar .form__left span {
    font-family: "Pretendard-Regular";
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.48px;
  }
  main .section__up article .toolbar button {
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: -0.42px;
  }
  main .section__up article .product__info .product {
    height: auto;
    padding: 16px;
  }
  main .section__up article .product__info .product .custom__box {
    margin-bottom: 16px;
  }
  main .section__up article .product__info .product .img {
    width: 70px;
    height: auto;
    margin-bottom: 16px;
  }
  main .section__up article .product__info .product .img img {
    width: 100%;
    height: auto;
  }
  main .section__up article .product__info .product .product__info {
    width: 100%;
    margin-bottom: 16px;
  }
  main .section__up article .product__info .product .product__info .product__text-up,
  main .section__up article .product__info .product .product__info .product__text-down {
    text-align: left;
  }
  main .section__up article .product__info .product .product__info .product__text-middle {
    display: none;
  }
  main .section__up article .product__info .product .number__box {
    width: 50px;
    height: 20px;
    margin-bottom: 16px;
  }
  main .section__up article .product__info .product .number__box div {
    width: 100%;
  }
  main .section__up article .product__info .product .number__box div input[type=button] {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  main .section__up article .product__info .product .number__box div input[type=text] {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  main .section__up article .product__info .product .price__info {
    top: 20px;
  }
  main .section__up article .product__info .product .price__info .original-price {
    font-family: "Pretendard-Regular";
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.48px;
    color: #ff6d00;
  }
  main .section__up article .product__info .product .price__info .price__text-down .sale {
    display: none;
  }
  main .section__up article .product__info .product .price__info .price__text-down span {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  main .section__up article .product__info .product .close {
    width: 20px;
    height: 20px;
  }
  main .section__down {
    position: absolute;
    bottom: -10%;
    left: 0;
    right: -5px;
    width: 350px;
  }
  main .section__down .section__down-title h2 {
    font-family: "Pretendard-Bold";
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
  }
  footer {
    width: 100%;
    height: 287px;
  }
  .modal__box {
    width: 100%;
  }
  .modal__box .modal__inner {
    width: 100%;
  }
  .modal__box .modal__inner .modal__inner-box {
    width: 100%;
    padding: 50px;
  }
  .modal__box .modal__inner .modal__inner-box .product {
    gap: 10px;
  }
  .modal__box .modal__inner .modal__inner-box .product .product__img {
    width: 60px;
    height: 60px;
  }
  .modal__box .modal__inner .modal__inner-box .product .product__info {
    font-family: "Pretendard-Bold";
    font-size: 14px;
    font-style: bold;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.42px;
  }
  .modal__box .modal__inner .modal__inner-box .button {
    gap: 10px;
  }
  .modal__box .modal__inner .modal__inner-box .button input {
    height: 40px;
  }
}