@import "./config/fonts.scss";
@import "./config/reset.scss";
@import "./config/colors.scss";
@import "./config/./image.scss";
@import "./layout/layout.scss";

.wrapper {
  width: 100%;
  height: 100vh;
  .mark__inner {
    @extend .width_inner;
    display: flex;
    .leftmenu {
      // border: 1px solid #f00;
      width: 200px;
      height: 100%;
      ul {
        .home {
          padding: 20px 18px;
          @extend .text_XS_12;
        }
        li {
          display: flex;
          gap: 5px;
          align-items: center;
          margin-bottom: 20px;
          cursor: pointer;
          & > div {
            display: flex;
            justify-content: space-between;
            width: 149px;
          }

          .document {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/document.svg);
            @extend .background_cover;
          }
          .review {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/review.svg);
            @extend .background_cover;
          }
          .delivery {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/delivery.svg);
            @extend .background_cover;
          }
          .star {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/star.svg);
            @extend .background_cover;
          }
          .event {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/event.svg);
            @extend .background_cover;
          }
          span {
            @extend .text_S_14;
          }
        }
      }
    }
    .container {
      .contents {
        .text {
          display: flex;
          gap: 60px;
          margin-bottom: 77px;
          padding-top: 50px;
          width: 100%;
          font-size: 14px;
          color: map-get($color, color-Neutrals-Grey-800);
          cursor: pointer;
          span {
            &:hover {
              cursor: pointer;
            }
            &:nth-child(2) {
              color: map-get($color, color-Neutrals-Grey-500);
              &:hover {
                color: map-get($color, color-Neutrals-Grey-800);
              }
            }
          }
        }
      }
      .box {
        //   border: 1px solid #f00;
        .item {
          display: flex;
          margin-bottom: 15px;
          // border: 1px solid #f00;
          width: 1060px;
          height: 116px;

          .productImg {
            width: 96px;
            height: 96px;
            background-image: url(../../assets/images/productImg.svg);
            @extend .background_cover;
          }
          .text__box {
            padding-left: 11px;
            //   border: 1px solid #f00;
            width: 953px;
            p {
              margin-bottom: 5px;
              @extend .text_S_14;
            }
            span {
              @extend .text_XS_12;
              color: map-get($color, color-Neutrals-Grey-500);
            }
          }
        }
        .end__box {
          display: flex;
          justify-content: flex-end;
          border: 1px solid #f00;
          width: 400px;
          .share {
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 36px;
            background: map-get($color, primary-color);
            color: map-get($color, color-White);
            border-radius: 8px;
            @extend .text_S_14;
            &:hover {
              background: map-get($color, color-Neutrals-Grey-100);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
