@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.background_cover {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.object_cover {
  object-fit: cover;
  object-position: center;
}

.wrapper {
  width: 100%;
  height: 100vh;
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}
.wrapper .mark__inner {
  height: 100%;
  display: flex;
}
.wrapper .mark__inner .leftmenu {
  width: 200px;
  height: 100%;
}
.wrapper .mark__inner .leftmenu ul .home {
  padding: 20px 18px;
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}
.wrapper .mark__inner .leftmenu ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.wrapper .mark__inner .leftmenu ul li > div {
  display: flex;
  justify-content: space-between;
  width: 14;
}
.wrapper .mark__inner .leftmenu ul li .document {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/mypage/document.svg);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .leftmenu ul li .review {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/mypage/review.svg);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .leftmenu ul li .delivery {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/mypage/delivery.svg);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .leftmenu ul li .star {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/mypage/star.svg);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .leftmenu ul li .event {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/mypage/event.svg);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .leftmenu ul li span {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .leftmenu ul .my-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .mark__inner .leftmenu ul .my-order > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .mark__inner .leftmenu ul .my-order .fa-chevron-down {
  margin-right: 20px;
}
.wrapper .mark__inner .leftmenu ul .inner {
  display: none;
  gap: 10px;
  width: 200px;
  height: 200px;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .leftmenu ul .inner.active {
  display: flex;
}
.wrapper .mark__inner .container .contents .text {
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
  padding-top: 77px;
  padding-left: 10px;
  font-size: 14px;
  color: #292828;
  cursor: pointer;
}
.wrapper .mark__inner .container .contents .text span:hover {
  cursor: pointer;
}
.wrapper .mark__inner .container .contents .text span:nth-child(2) {
  color: #818181;
}
.wrapper .mark__inner .container .contents .text span:nth-child(2):hover {
  color: #292828;
}
.wrapper .mark__inner .container .contents .examine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 5px 15px;
  border: 1px solid #d4d4d4;
  width: 1000px;
  border-radius: 8px;
}
.wrapper .mark__inner .container .contents .examine p {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
  color: #6a6a6a;
}
.wrapper .mark__inner .container .contents .examine span {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
  color: #6a6a6a;
  display: flex;
  align-items: center;
  gap: 5px;
}
.wrapper .mark__inner .container .box {
  display: flex;
}
.wrapper .mark__inner .container .box .item {
  display: flex;
  margin-bottom: 15px;
  height: 100px;
}
.wrapper .mark__inner .container .box .item .productImg {
  margin-right: 11px;
  width: 96px;
  height: 96px;
  background-image: url(../../assets/images/mypage/productImg.svg);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .mark__inner .container .box .item .text__box {
  width: 730px;
}
.wrapper .mark__inner .container .box .item .text__box p {
  margin-bottom: 5px;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .container .box .item .text__box span {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
  color: #818181;
}
.wrapper .mark__inner .container .box .end__box {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.wrapper .mark__inner .container .box .end__box .share {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 36px;
  background: #ff6d00;
  color: #fff;
  border-radius: 8px;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}
.wrapper .mark__inner .container .box .end__box .share:hover {
  background: #ff6d00;
  cursor: pointer;
}