@import "./config/fonts.scss";
@import "./config/reset.scss";
@import "./config/colors.scss";
@import "./config/./image.scss";
@import "./layout/layout.scss";

.wrapper {
  width: 100%;
  height: 100vh;
  @include width_inner;
  .mark__inner {
    display: flex;
    height: 100%;
    .leftmenu {
      width: 200px;
      height: 100%;
      ul {
        .home {
          padding: 20px 18px;
          @include text_XS_12;
        }
        li {
          display: flex;
          gap: 5px;
          align-items: center;
          margin-bottom: 20px;
          cursor: pointer;
          & > div {
            display: flex;
            justify-content: space-between;
            width: 14;
          }
          .document {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/document.svg);
            @include background_cover;
          }

          .review {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/review.svg);
            @include background_cover;
          }
          .delivery {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/delivery.svg);
            @include background_cover;
          }
          .star {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/star.svg);
            @include background_cover;
          }
          .event {
            width: 24px;
            height: 24px;
            background-image: url(../../assets/images/mypage/event.svg);
            @include background_cover;
          }
          span {
            @include text_S_14;
          }
        }
        .my-order {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > div {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .fa-chevron-down {
            margin-right: 20px;
          }
        }
        .inner {
          display: none;
          gap: 10px;
          width: 200px;
          height: 200px;
          @include text_S_14;
          &.active {
            display: flex;
          }
        }
      }
    }
    .container {
      .contents {
        .text {
          // border: 1px solid #f00;
          display: flex;
          gap: 60px;
          margin-bottom: 20px;
          padding-top: 77px;
          padding-left: 10px;
          font-size: 14px;
          color: map-get($color, color-Neutrals-Grey-800);
          cursor: pointer;
          span {
            &:hover {
              cursor: pointer;
            }
            &:nth-child(2) {
              color: map-get($color, color-Neutrals-Grey-500);
              &:hover {
                color: map-get($color, color-Neutrals-Grey-800);
              }
            }
          }
        }
        .examine {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          padding: 5px 15px;
          border: 1px solid map-get($color, color-Neutrals-Grey-200);
          width: 1000px;
          border-radius: 8px;
          p {
            @include text_XS_12;
            color: map-get($color, color-Neutrals-Grey-600);
          }
          span {
            @include text_S_14;
            display: flex;
            gap: 5px;
            align-items: center;
            color: map-get($color, color-Neutrals-Grey-600);
          }
        }
      }
      .box {
        display: flex;
        .item {
          display: flex;
          margin-bottom: 15px;
          height: 100%;
          .productImg {
            margin-right: 11px;
            width: 96px;
            height: 96px;
            background-image: url(../../assets/images/mypage/productImg.svg);
            @include background_cover;
          }
          .text__box {
            padding-top: 10px;
            width: 730px;
            p {
              margin-bottom: 5px;
              @include text_S_14;
            }
            span {
              @include text_XS_12;
              color: map-get($color, color-Neutrals-Grey-500);
            }
          }
        }
        .end__box {
          display: flex;
          align-items: flex-end;
          height: 100%;
          // border: 1px solid #f00;
          .share {
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 36px;
            background: map-get($color, primary-color);
            color: map-get($color, color-White);
            border-radius: 8px;
            @include text_S_14;
            &:hover {
              background: map-get($color, primary-color);
              cursor: pointer;
            }
          }
        }
      }
      .userreview {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    @include width_full;
    .mark__inner {
      display: flex;
      height: 100%;
      .leftmenu {
        display: flex;
        .fa-chevron-down {
          margin-left: 30px;
        }
      }
      .container {
        .contents {
          .text {
            gap: 30px;
          }
          .examine {
            border: 1px solid red;
            width: 100%;
          }
        }
        .box {
          display: flex;
          justify-content: space-between;
          // border: 1px solid red;
          .item {
            display: flex;
            // border: 1px solid red;
            align-items: center;
            .productImg {
              max-width: 50px;
              height: 50px;
            }
            .text__box {
              padding-top: 0;
              overflow: hidden;
              // border: 1px solid red;
              width: 100%;
              height: 70%;
              // white-space: nowrap;
              text-overflow: ellipsis;
              @include text_XS_12;
            }
          }
          .end__box {
            // border: 1px solid black;
            display: flex;
            padding-top: 10px;
            .share {
              width: 130px;
              height: 36px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    @include width_full;
    .mark__inner {
      display: flex;
      height: 100%;
      .leftmenu {
        display: none;
      }
      .container {
        .contents {
          .text {
            gap: 30px;
          }
          .examine {
            // border: 1px solid red;
            margin-bottom: 20px;
            width: 360px;
          }
        }
        .box {
          display: flex;
          justify-content: space-between;
          // border: 1px solid red;
          .item {
            display: flex;
            // border: 1px solid red;
            align-items: center;
            .productImg {
              max-width: 50px;
              height: 50px;
            }
            .text__box {
              padding-top: 0;
              overflow: hidden;
              // border: 1px solid red;
              max-width: 150px;
              height: 70%;
              white-space: nowrap;
              text-overflow: ellipsis;
              @include text_XS_12;
            }
          }
          .end__box {
            // border: 1px solid black;
            display: flex;
            padding-top: 10px;
            .share {
              width: 130px;
              height: 36px;
            }
          }
        }
        .userreview {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 360px;
          height: 57px;
          // border: 1px solid red;
          background: map-get($color, color-Neutrals-Grey-100);
          .item {
            display: flex;
            gap: 2px;
            align-items: center;
            .fire__icon {
              margin-left: 6px;
              width: 8px;
              height: 11px;
              background-image: url(../../assets/images/mypage/fire.svg);
              @include background_cover;
            }
            span {
              margin-right: 5px;
              color: map-get($color, primary-color);
              @include text_XS_12;
            }
            p {
              @include text_XS_12;
            }
          }
          .icon {
            padding-right: 10px;
            .staricon {
              width: 16px;
              height: 16px;
              background-image: url(../../assets/images/mypage/staricon.svg);
              @include background_cover;
            }
          }
        }
      }
    }
  }
}
