@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.background_cover {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_cover {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main */
#main {
  width: 100%;
  margin-bottom: 30px;
}
#main .main__wrapper {
  display: flex;
  gap: 30px;
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}
#main .main__wrapper .main__banner {
  width: 875px;
  height: 300px;
  background: url(../../assets/images/index/main-banner.png);
  cursor: pointer;
}
#main .main__wrapper .main__slide__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 447px;
  height: 300px;
}
#main .main__wrapper .main__slide__wrapper .main__slide {
  width: 100%;
  height: 300px;
  background: url(../../assets/images/index/main-slide.png);
  cursor: pointer;
}
#main .main__wrapper .main__slide__wrapper .main__slide .main__slide-pagination {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 26px;
  background: #6a6a6a;
  color: #fff;
  opacity: 0.8;
  border-radius: 8px;
}
#main .main__wrapper .main__slide__wrapper .main__slide-btn {
  cursor: pointer;
}
#main .main__wrapper .main__slide__wrapper .main__slide-btn .main__slide-btn-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 125px;
  left: -20px;
  width: 40px;
  height: 40px;
  background: #f6f6f6;
  border-radius: 50%;
}
#main .main__wrapper .main__slide__wrapper .main__slide-btn .main__slide-btn-left .fa-chevron-left {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #4a4949;
}
#main .main__wrapper .main__slide__wrapper .main__slide-btn .main__slide-btn-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 125px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: #f6f6f6;
  border-radius: 50%;
}
#main .main__wrapper .main__slide__wrapper .main__slide-btn .main__slide-btn-right .fa-chevron-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #4a4949;
}

/* Promise */
#promise {
  width: 100%;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.54px;
  margin-bottom: 30px;
}
#promise .promise__wrapper {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}
#promise .promise__wrapper .promise-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 38px;
  background: #009e95;
  color: #fff;
  border-radius: 8px 8px 0 0;
}
#promise .promise__wrapper .promise-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#promise .promise__wrapper .promise-top .promise-top-left {
  display: flex;
  gap: 10px;
  align-items: center;
}
#promise .promise__wrapper .promise-top .promise-top-left .promise__shield {
  background-image: url(../../assets/images/index/promise__shield.svg);
}
#promise .promise__wrapper .promise-top .promise-top-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
#promise .promise__wrapper .promise-top .promise-top-right div {
  display: flex;
  gap: 10px;
  align-items: center;
}
#promise .promise__wrapper .promise-top .promise-top-right .promise__lock {
  background-image: url(../../assets/images/index/promise__lock.svg);
}
#promise .promise__wrapper .promise-top .promise-top-right .promise__card {
  background-image: url(../../assets/images/index/promise__card.svg);
}
#promise .promise__wrapper .promise-top .promise-top-right .promise__truck {
  background-image: url(../../assets/images/index/promise__truck.svg);
}
#promise .promise__wrapper .promise-top .promise-top-right .promise__arrow-right {
  width: 20px;
  height: 20px;
}
#promise .promise__wrapper .promise-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border: 1px solid #009e95;
  width: 100%;
  height: 38px;
  background: #fff;
  color: #009e95;
  text-align: center;
  border-radius: 0 0 8px 8px;
}
#promise .promise__wrapper .promise-bottom i {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#promise .promise__wrapper .promise-bottom .promise__bottom__left {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
#promise .promise__wrapper .promise-bottom .promise__bottom__left i {
  line-height: 24px;
}
#promise .promise__wrapper .promise-bottom .promise__bottom__right {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#promise .promise__wrapper .promise-bottom .promise__bottom__right i {
  line-height: 24px;
}

/* cart */
#cart {
  width: 100%;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.54px;
  margin-bottom: 30px;
}
#cart .cart__wrapper {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
}
#cart .cart__wrapper .cart__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 429px;
  height: 57px;
  background: #f6f6f6;
  color: #292828;
  text-align: center;
  border-radius: 8px 8px 0 0;
}
#cart .cart__wrapper .cart__item-header p span {
  color: #ff6d00;
}
#cart .cart__wrapper .cart__item-first .cart__item-list {
  display: flex;
}
#cart .cart__wrapper .cart__item-first .cart__item-list :nth-child(1) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-01-01.png);
}
#cart .cart__wrapper .cart__item-first .cart__item-list :nth-child(2) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-01-02.png);
}
#cart .cart__wrapper .cart__item-first .cart__item-list :nth-child(3) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-01-03.png);
}
#cart .cart__wrapper .cart__item-second .cart__item-list {
  display: flex;
}
#cart .cart__wrapper .cart__item-second .cart__item-list :nth-child(1) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-02-01.png);
}
#cart .cart__wrapper .cart__item-second .cart__item-list :nth-child(2) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-02-02.png);
}
#cart .cart__wrapper .cart__item-second .cart__item-list :nth-child(3) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-02-03.png);
}
#cart .cart__wrapper .cart__item-third .cart__item-list {
  display: flex;
}
#cart .cart__wrapper .cart__item-third .cart__item-list :nth-child(1) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-03-01.png);
}
#cart .cart__wrapper .cart__item-third .cart__item-list :nth-child(2) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-03-02.png);
}
#cart .cart__wrapper .cart__item-third .cart__item-list :nth-child(3) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-03-03.png);
}

/* category */
#category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  height: 302px;
}
#category .category__wrapper .category__title {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
  font-family: "Pretendard-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 32px;
}
#category .category__wrapper .category__title .category__title-img {
  width: 203px;
  height: 33px;
  background: url(../../assets/images/index/cate-title.png);
}
#category .category__wrapper .category__title p {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
  text-align: center;
}
#category .category__wrapper .category__list__container {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#category .category__wrapper .category__list__container .category__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 1332px;
  height: 40px;
  cursor: pointer;
}
#category .category__wrapper .category__list__container .category__btn .category__slide-btn-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background: #f6f6f6;
  border-radius: 50%;
}
#category .category__wrapper .category__list__container .category__btn .category__slide-btn-left .fa-chevron-left {
  color: #4a4949;
}
#category .category__wrapper .category__list__container .category__btn .category__slide-btn-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  background: #f6f6f6;
  border-radius: 50%;
}
#category .category__wrapper .category__list__container .category__btn .category__slide-btn-right .fa-chevron-right {
  color: #4a4949;
}
#category .category__wrapper .category__list__container .category__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1213px;
  height: 141px;
  text-align: center;
}
#category .category__wrapper .category__list__container .category__list li .category__list-img {
  width: 115px;
  height: 115px;
}
#category .category__wrapper .category__list__container .category__list li span {
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.54px;
}
#category .category__wrapper .category__list__container .category__list li:nth-child(1) .category__list-img {
  background: url(../../assets/images/index/cate-01.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(2) .category__list-img {
  background: url(../../assets/images/index/cate-02.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(3) .category__list-img {
  background: url(../../assets/images/index/cate-03.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(4) .category__list-img {
  background: url(../../assets/images/index/cate-04.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(5) .category__list-img {
  background: url(../../assets/images/index/cate-05.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(6) .category__list-img {
  background: url(../../assets/images/index/cate-06.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(7) .category__list-img {
  background: url(../../assets/images/index/cate-07.png);
}

/* product */
#product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
#product .product__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 32px;
}
#product .product__wrapper .product__title-img {
  width: 203px;
  height: 33px;
  background: url(../../assets/images/index/cate-title.png);
}
#product .product__wrapper p {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
  text-align: center;
}
#product #product__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 200px;
  height: 45px;
  background: #ff6d00;
  border-radius: 8px;
}
#product #product__btn .product__btn-more {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1384px) {
  #main {
    border: 1px solid blue;
  }
}
@media (max-width: 768px) {
  /* main */
  #main {
    border: 1px solid red;
  }
  #main .main__wrapper {
    width: 100%;
  }
  #main .main__wrapper .main__banner {
    width: 100%;
  }
  #main .main__wrapper .main__slide__wrapper {
    display: none;
  }
  /* promise */
  #promise {
    border: 1px solid red;
  }
  #promise .promise__wrapper {
    display: none;
    width: 100%;
  }
  #promise .mobile__promise {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #promise .mobile__promise .m__promise-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 30px;
    background: #009e95;
    color: #fff;
    border-radius: 8px 8px 0 0;
  }
  #promise .mobile__promise .m__promise-top i {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #promise .mobile__promise .m__promise-top .promise__shield {
    background-image: url(../../assets/images/index/promise__shield.svg);
  }
  #promise .mobile__promise .m__promise-bottom .m__promise-bottom-list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
    height: 30px;
    background: #fff;
    color: #009e95;
    border-radius: 0 0 8px 8px;
  }
  #promise .mobile__promise .m__promise-bottom .m__promise-bottom-list div {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  #promise .mobile__promise .m__promise-bottom .m__promise-bottom-list i {
    width: 24px;
    height: 24px;
    color: #009e95;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #promise .mobile__promise .m__promise-bottom .m__promise-bottom-list .promise__lock {
    background-image: url(../../assets/images/index/m-promise__lock.svg);
  }
  #promise .mobile__promise .m__promise-bottom .m__promise-bottom-list .promise__card {
    background-image: url(../../assets/images/index/m-promise__card.svg);
  }
  #promise .mobile__promise .m__promise-bottom .m__promise-bottom-list .promise__truck {
    background-image: url(../../assets/images/index/m-promise__truck.svg);
  }
  /* cart */
  #cart {
    border: 1px solid red;
  }
}