@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
/* HEADING */
/* -2% = 0.02 * 'n'px */ /* -3% = 0.03 * 'n'px */
.heading_XXL_56 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.12px;
}

.heading_XL_48 {
  font-family: "Pretendard-Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.96px;
}

.heading_L_40 {
  font-family: "Pretendard-Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.8px;
}

.heading_M_32 {
  font-family: "Pretendard-Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.64px;
}

.heading_S_24, #category .category__wrapper .category__title p, #category .category__wrapper .category__title {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}

.heading_XS_20 {
  font-family: "Pretendard-Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.heading_XXS_16 {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}

/* TEXT */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_XXL_26 {
  font-family: "Pretendard-Regular";
  font-size: 26px;
  font-style: normal;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_XL_22 {
  font-family: "Pretendard-Regular";
  font-size: 22px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.66px;
}

.text_L_18, #category .category__wrapper .category__list__container .category__list li span, #cart, #promise {
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_M_16 {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.text_S_14 {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.42px;
}

.text_XS_12 {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.36px;
}

/* TEXT BOLD */
/* -2% = 0.02 * 'n'px */
/* -3% = 0.03 * 'n'px */
.text_B_XXL_26 {
  font-family: "Pretendard-Bold";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.78px;
}

.text_B_XL_22 {
  font-family: "Pretendard-Bold";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.66px;
}

.text_B_L_18 {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
}

.text_B_M_16 {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.text_B_S_14 {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}

.text_B_XS_12 {
  font-family: "Pretendard-Bold";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.36px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
.width_full, #product, #category, #cart, #promise, #main {
  width: 100%;
}

.width_inner, #product .product__wrapper, #category .category__wrapper .category__list__container, #category .category__wrapper .category__title, #cart .cart__wrapper, #promise .promise__wrapper, #main .main__wrapper {
  width: 1384px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.background_cover, #promise .promise__wrapper .promise-bottom i, #promise .promise__wrapper .promise-top i {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main */
#main {
  margin-bottom: 30px;
}
#main .main__wrapper {
  display: flex;
  gap: 30px;
}
#main .main__wrapper .main__slide {
  width: 875px;
  height: 300px;
  background: url(../../assets/images/index/main-slide.png);
}
#main .main__wrapper .sub__slide {
  width: 447px;
  height: 300px;
  background: url(../../assets/images/index/sub-slide.png);
}

/* Promise */
#promise {
  margin-bottom: 30px;
}
#promise .promise__wrapper .promise-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 38px;
  background: #009e95;
  color: #fff;
  border-radius: 8px 8px 0 0;
}
#promise .promise__wrapper .promise-top i {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}
#promise .promise__wrapper .promise-top .promise-top-left {
  display: flex;
  gap: 10px;
  align-items: center;
}
#promise .promise__wrapper .promise-top .promise-top-left .promise__shield {
  background-image: url(../../assets/images/index/promise__shield.svg);
}
#promise .promise__wrapper .promise-top .promise-top-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
#promise .promise__wrapper .promise-top .promise-top-right div {
  display: flex;
  gap: 10px;
  align-items: center;
}
#promise .promise__wrapper .promise-top .promise-top-right .promise__lock {
  background-image: url(../../assets/images/index/promise__lock.svg);
}
#promise .promise__wrapper .promise-top .promise-top-right .promise__card {
  background-image: url(../../assets/images/index/promise__card.svg);
}
#promise .promise__wrapper .promise-top .promise-top-right .promise__truck {
  background-image: url(../../assets/images/index/promise__truck.svg);
}
#promise .promise__wrapper .promise-top .promise-top-right .promise__arrow-right {
  width: 20px;
  height: 20px;
}
#promise .promise__wrapper .promise-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border: 1px solid #009e95;
  width: 100%;
  height: 38px;
  background: #fff;
  color: #009e95;
  text-align: center;
  border-radius: 0 0 8px 8px;
}
#promise .promise__wrapper .promise-bottom i {
  width: 24px;
  height: 24px;
}
#promise .promise__wrapper .promise-bottom i .promise__bottom__left {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#promise .promise__wrapper .promise-bottom i .promise__bottom__right {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* cart */
#cart {
  margin-bottom: 30px;
}
#cart .cart__wrapper {
  display: flex;
  gap: 32px;
}
#cart .cart__wrapper .cart__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 429px;
  height: 57px;
  background: #f6f6f6;
  color: #292828;
  text-align: center;
  border-radius: 8px 8px 0 0;
}
#cart .cart__wrapper .cart__item-header p span {
  color: #ff6d00;
}
#cart .cart__wrapper .cart__item-first .cart__item-list {
  display: flex;
}
#cart .cart__wrapper .cart__item-first .cart__item-list :nth-child(1) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-01-01.png);
}
#cart .cart__wrapper .cart__item-first .cart__item-list :nth-child(2) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-01-02.png);
}
#cart .cart__wrapper .cart__item-first .cart__item-list :nth-child(3) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-01-03.png);
}
#cart .cart__wrapper .cart__item-second .cart__item-list {
  display: flex;
}
#cart .cart__wrapper .cart__item-second .cart__item-list :nth-child(1) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-02-01.png);
}
#cart .cart__wrapper .cart__item-second .cart__item-list :nth-child(2) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-02-02.png);
}
#cart .cart__wrapper .cart__item-second .cart__item-list :nth-child(3) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-02-03.png);
}
#cart .cart__wrapper .cart__item-third .cart__item-list {
  display: flex;
}
#cart .cart__wrapper .cart__item-third .cart__item-list :nth-child(1) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-03-01.png);
}
#cart .cart__wrapper .cart__item-third .cart__item-list :nth-child(2) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-03-02.png);
}
#cart .cart__wrapper .cart__item-third .cart__item-list :nth-child(3) {
  width: 143px;
  height: 143px;
  background: url(../../assets/images/index/cart-03-03.png);
}

/* category */
#category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  height: 302px;
}
#category .category__wrapper .category__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 32px;
}
#category .category__wrapper .category__title .category__title-img {
  width: 203px;
  height: 33px;
  background: url(../../assets/images/index/cate-title.png);
}
#category .category__wrapper .category__list__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#category .category__wrapper .category__list__container .category__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1213px;
  height: 141px;
  text-align: center;
}
#category .category__wrapper .category__list__container .category__list li .category__list-img {
  width: 115px;
  height: 115px;
}
#category .category__wrapper .category__list__container .category__list li:nth-child(1) .category__list-img {
  background: url(../../assets/images/index/cate-01.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(2) .category__list-img {
  background: url(../../assets/images/index/cate-02.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(3) .category__list-img {
  background: url(../../assets/images/index/cate-03.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(4) .category__list-img {
  background: url(../../assets/images/index/cate-04.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(5) .category__list-img {
  background: url(../../assets/images/index/cate-05.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(6) .category__list-img {
  background: url(../../assets/images/index/cate-06.png);
}
#category .category__wrapper .category__list__container .category__list li:nth-child(7) .category__list-img {
  background: url(../../assets/images/index/cate-07.png);
}

/* product */